.header{width:100%;overflow:hidden;background:#60ac62}
.header > .wrap{width:1000px;height:96px;margin:0 auto}
.header > .wrap > .logo{width:450px;height:96px;display:block;padding-left:86px;background:url(../img/logo.png) no-repeat left center;line-height:96px;font-size:24px;color:#fff;float:left;}
.header > .wrap > .p_status{float:right;width:400px;height:96px;line-height:96px;color:#fff;text-align:right}
.header > .wrap > .p_status a{color:#fff;}
.header > .wrap > .p_status a:hover{text-decoration:underline}
.nav{position:relative;width:100%;background:#fff;border-bottom:1px #60ac62 solid;}
.nav > ul{width:1000px;height:54px;margin:0 auto}
.nav > ul > li{display:inline-block;line-height:54px;font-size:16px;width:auto;text-align:center}
.nav > ul > li:first-child{padding-left:0}
.nav > ul > li > a{display:block;color:#605f5f;padding:0 25px;}
.nav > ul > li > a.cur{border-bottom:4px #7ca860 solid;line-height:50px;color:#7ca860}
.nav > ul > li > .wrap{display:none;position:absolute;width:100%;background:#fff;top:54px;left:0;z-index:99;border-top:1px #60ac62 solid;height:36px;line-height:36px;}
.nav > ul > li > .wrap > ul{width:1000px;height:36px;margin:0 auto}
.nav > ul > li > .wrap > ul li{float:left;margin-right:10px}
.nav > ul > li > .wrap > ul > li > a{color:#666;font-size:14px;}
.nav > ul > li > .wrap > ul > li > a:hover{color:#7ca860}
.nav > ul > li:hover > .wrap{display:block}
.nav > ul > li.bar3 > .wrap > ul{padding-left:180px;width:820px}
.nav > ul > li.bar4 > .wrap > ul{padding-left:320px;width:680px}
.footer {width: 100%;overflow: hidden;padding: 20px 0;background: #e5e5e5;color: #858585;line-height: 24px}
.footer, .page {text-align: center}
.page {padding: 30px 0}
.page .pageno {display: inline-block;width: 20px;height: 20px;background-color: #e4e4e4;border: 1px solid #ccc}
.page .pageno.cur {background-color: #fff}
.page .page_to_go {width: 30px;height: 20px;text-align: center}
.page .page_jump {outline: none;border: 0;display: inline-block;font-size: 16px;color: #333;background-color: #fff;cursor: pointer}
.ellipsis {overflow: hidden;white-space: nowrap;text-overflow:ellipsis}
.cur_postion {font-size: 14px;padding: 20px 0 0 6px}
.cur_postion .gt {padding: 0 4px}