.main_wrap {
  width: 1000px;
  margin: 30px auto; }
  .main_wrap .content_wrap, .main_wrap .tab_wrap {
    padding: 36px 50px;
    background: #fff;
    border: 1px #d3d3d3 solid; }

.breadcrumb {
  width: 1000px;
  margin: 0 auto;
  margin-top: 20px; }
  .breadcrumb a {
    color: #000; }

.main_wrap > h2 {
  padding: 10px;
  background: #60ac62;
  color: #fff;
  font-size: 16px;
  display: inline-block; }

.main_wrap > .del {
  position: relative;
  right: 10px;
  top: 10px;
  color: #60ac62;
  float: right;
  padding-left: 20px;
  background: url("../img/icon_del.png") no-repeat left center; }

.main_wrap .content_wrap > h1 {
  font-size: 24px;
  font-weight: bold; }

.main_wrap .content_wrap > p {
  line-height: 28px; }

.main_wrap .content_wrap > .tips {
  color: #60ac62;
  margin-right: 1rem; }

.main_wrap .content_wrap > .text {
  margin-top: 30px;
  line-height: 32px;
  text-indent: 48px; }

.main_wrap .tab_wrap {
  display: inline-block;
  width: 100%;
  padding: 0;
  border: none;
  background: #ebebeb; }
  .main_wrap .tab_wrap:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .main_wrap .tab_wrap {
    height: 1px; }
  .main_wrap .tab_wrap .side_menu {
    width: 180px;
    float: left;
    box-sizing: border-box;
    padding-top: 16px; }
    .main_wrap .tab_wrap .side_menu li {
      color: #333;
      text-indent: 24px;
      line-height: 42px;
      border-left: 5px solid #ebebeb;
      cursor: pointer; }
      .main_wrap .tab_wrap .side_menu li.active {
        background: #fff;
        color: #60ac62;
        border-left: 5px solid #60ac62; }
  .main_wrap .tab_wrap .tab_content_full, .main_wrap .tab_wrap .info_content {
    width: 716px;
    float: left;
    box-sizing: border-box;
    padding: 0 28px;
    background: #fff; }
  .main_wrap .tab_wrap .release_con > form > .text > label {
    display: inline-block;
    width: 80px;
    text-align: right;
    padding-right: 10px;
    vertical-align: top; }
  .main_wrap .tab_wrap .release_con > form > .text > .text_wrap {
    margin-left: 96px;
    margin-top: -16px; }
  .main_wrap .tab_wrap .release_con > form > .line > label {
    display: inline-block;
    width: 80px;
    text-align: right;
    padding-right: 10px;
    vertical-align: top; }
  .main_wrap .tab_wrap .release_con > form > .line > .plus {
    font-size: 50px;
    line-height: 30px;
    font-weight: bold;
    padding: 5px;
    display: inline-block;
    width: 32px;
    height: 30px;
    text-align: center;
    border: 1px solid #000;
    cursor: pointer; }
  .main_wrap .tab_wrap .release_con > form > .line > .radio_select {
    padding: 5px 6px;
    color: #666;
    border: 1px solid #666;
    text-align: center;
    cursor: pointer;
    width: auto; }
  .main_wrap .tab_wrap .release_con > form > .line > .radio_active {
    color: #60ac62;
    border: 1px solid #60ac62; }
  .main_wrap .tab_wrap .release_con > form > .line > .radio_normal {
    color: #666;
    border: 1px solid #666; }
  .main_wrap .tab_wrap .tab_content {
    width: 716px;
    float: left;
    box-sizing: border-box;
    padding: 0 28px;
    background: #fff; }
    .main_wrap .tab_wrap .tab_content > h1 {
      text-align: center;
      font-size: 28px;
      font-weight: bold;
      line-height: 80px;
      border-bottom: 1px solid #ccc; }
    .main_wrap .tab_wrap .tab_content > h2 {
      color: #333333;
      text-indent: 12px;
      font-size: 20px;
      margin-top: 30px;
      margin-bottom: 10px;
      font-weight: bold;
      border-left: 4px solid #60ac62; }
    .main_wrap .tab_wrap .tab_content > p {
      line-height: 38px;
      text-indent: 40px; }
    .main_wrap .tab_wrap .tab_content .status {
      text-align: center;
      margin-top: 15px; }
      .main_wrap .tab_wrap .tab_content .status > span {
        display: inline-block;
        padding: 10px 12px;
        background: #60ac62;
        border-radius: 10px;
        margin: 0 auto;
        color: #fff; }
    .main_wrap .tab_wrap .tab_content > .pic_wrap {
      display: inline-block;
      width: 140px;
      text-align: center;
      margin-left: 15px;
      margin-top: 20px;
      vertical-align: top;
      cursor: pointer; }
      .main_wrap .tab_wrap .tab_content > .pic_wrap > img {
        width: 100%;
        display: block;
        margin-bottom: 10px; }
    .main_wrap .tab_wrap .tab_content > table {
      width: 100%;
      border-collapse: collapse; }
      .main_wrap .tab_wrap .tab_content > table thead {
        border-bottom: 2px solid #c8c8c8;
        line-height: 42px; }
      .main_wrap .tab_wrap .tab_content > table tr > td {
        line-height: 42px;
        border-bottom: 1px solid #c8c8c8;
        text-align: center; }
        .main_wrap .tab_wrap .tab_content > table tr > td > a {
          color: #333333; }
    .main_wrap .tab_wrap .tab_content > form > section {
      position: relative;
      box-sizing: border-box; }
      .main_wrap .tab_wrap .tab_content > form > section #plus_bt {
        width: 28px;
        height: 28px;
        text-align: center;
        background: #ededed;
        display: inline-block;
        cursor: pointer;
        border: 1px solid #c6c6c6;
        font-size: 24px;
        position: absolute;
        right: 0;
        top: 0; }
      .main_wrap .tab_wrap .tab_content > form > section ul {
        text-align: right;
        padding-right: 20px;
        box-sizing: border-box; }
      .main_wrap .tab_wrap .tab_content > form > section > label {
        text-align: right;
        display: inline-block;
        width: 100px;
        color: #aaa;
        vertical-align: top;
        padding-right: 10px;
        box-sizing: border-box; }
      .main_wrap .tab_wrap .tab_content > form > section > input {
        box-sizing: border-box;
        border: 1px solid #aaa;
        display: inline-block;
        width: 550px;
        height: 30px;
        padding: 0 10px; }
      .main_wrap .tab_wrap .tab_content > form > section textarea {
        box-sizing: border-box;
        border: 1px solid #aaa;
        display: inline-block;
        width: 550px;
        padding: 10px 10px;
        height: 300px; }
      .main_wrap .tab_wrap .tab_content > form > section.line {
        height: 36px; }
      .main_wrap .tab_wrap .tab_content > form > section.text label {
        vertical-align: top; }
  .main_wrap .tab_wrap .tab_content_full {
    width: 100%; }
    .main_wrap .tab_wrap .tab_content_full form section > input {
      box-sizing: border-box;
      border: 1px solid #aaa;
      display: inline-block;
      width: 735px;
      height: 30px;
      padding: 0 10px; }
      .main_wrap .tab_wrap .tab_content_full form section > input#healthgive, .main_wrap .tab_wrap .tab_content_full form section > input#notice {
        display: none; }
    .main_wrap .tab_wrap .tab_content_full .select {
      display: inline-block;
      background: #60ac62;
      padding: 5px 10px;
      cursor: pointer;
      color: #fff;
      line-height: 14px;
      text-indent: 0; }
    .main_wrap .tab_wrap .tab_content_full .key {
      text-indent: 0;
      display: inline-block;
      width: 100px;
      text-align: right; }

.subbt {
  text-align: center;
  margin-top: 30px;
  margin-left: 100px; }
  .subbt a {
    color: #60ac62;
    border: 1px solid #60ac62;
    border-radius: 3px;
    padding: 8px 12px; }

.background {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: none;
  height: 1500px;
  z-index: 999; }
  .background .select_panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
    width: 240px;
    height: 500px;
    overflow: visible; }
    .background .select_panel.wide {
      width: 400px; }
    .background .select_panel h2 {
      padding: 10px;
      background: #60ac62;
      color: #fff;
      font-size: 16px;
      display: inline-block; }
    .background .select_panel .close {
      position: absolute;
      right: 0px;
      top: 0px;
      cursor: pointer; }
    .background .select_panel .content_wrap, .background .select_panel .content_wrap2 {
      padding: 30px;
      background: #fff; }
      .background .select_panel .content_wrap > .line, .background .select_panel .content_wrap2 > .line {
        height: auto !important;
        max-height: 500px; }
        .background .select_panel .content_wrap > .line label, .background .select_panel .content_wrap2 > .line label {
          text-align: right;
          display: inline-block;
          width: 60px;
          color: #aaa;
          padding-right: 10px;
          box-sizing: border-box; }
        .background .select_panel .content_wrap > .line input[type="text"], .background .select_panel .content_wrap2 > .line input[type="text"] {
          box-sizing: border-box;
          border: 1px solid #aaa;
          display: inline-block;
          width: 120px;
          height: 30px;
          padding: 0 10px; }
        .background .select_panel .content_wrap > .line input[type="submit"], .background .select_panel .content_wrap2 > .line input[type="submit"] {
          box-sizing: border-box;
          border: 1px solid #aaa;
          display: inline-block;
          padding: 0 10px;
          width: auto;
          height: 30px;
          line-height: 30px; }
        .background .select_panel .content_wrap > .line > input[type="button"], .background .select_panel .content_wrap2 > .line > input[type="button"] {
          box-sizing: border-box;
          border: 1px solid #aaa;
          display: inline-block;
          padding: 0 10px;
          width: auto;
          height: 30px;
          position: absolute;
          line-height: 30px; }
        .background .select_panel .content_wrap > .line .search2, .background .select_panel .content_wrap2 > .line .search2 {
          box-sizing: border-box;
          border: 1px solid #aaa;
          display: inline-block;
          padding: 0 10px;
          width: auto;
          height: 30px;
          line-height: 30px;
          position: absolute; }
        .background .select_panel .content_wrap > .line > .checkwrap, .background .select_panel .content_wrap > .line .checkwrap2, .background .select_panel .content_wrap2 > .line > .checkwrap, .background .select_panel .content_wrap2 > .line .checkwrap2 {
          text-align: right;
          border: 1px solid #999;
          overflow-y: scroll;
          margin-top: 20px;
          max-height: 300px;
          padding: 10px 20px 10px;
          box-sizing: border-box; }
          .background .select_panel .content_wrap > .line > .checkwrap > ul > li > label, .background .select_panel .content_wrap > .line .checkwrap2 > ul > li > label, .background .select_panel .content_wrap2 > .line > .checkwrap > ul > li > label, .background .select_panel .content_wrap2 > .line .checkwrap2 > ul > li > label {
            color: #333;
            width: auto; }
          .background .select_panel .content_wrap > .line > .checkwrap > label, .background .select_panel .content_wrap > .line .checkwrap2 > label, .background .select_panel .content_wrap2 > .line > .checkwrap > label, .background .select_panel .content_wrap2 > .line .checkwrap2 > label {
            color: #333;
            position: relative;
            top: -1px; }
    .background .select_panel .content_wrap2 {
      width: 350px; }
      .background .select_panel .content_wrap2 input[type='text'] {
        width: 300px !important; }
      .background .select_panel .content_wrap2 .checkwrap2 {
        width: 350px;
        text-align: left !important;
        padding: 10px 20px !important;
        box-sizing: border-box; }
        .background .select_panel .content_wrap2 .checkwrap2 li {
          margin-top: 5px; }
        .background .select_panel .content_wrap2 .checkwrap2 label {
          width: auto;
          display: block;
          text-align: left; }
          .background .select_panel .content_wrap2 .checkwrap2 label:active {
            background: #60ac62;
            color: #fff; }
          .background .select_panel .content_wrap2 .checkwrap2 label.active {
            background: #60ac62;
            color: #fff; }
        .background .select_panel .content_wrap2 .checkwrap2 input[type='radio'] {
          display: none; }
  .background .panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
    width: 800px;
    height: 600px;
    overflow: visible; }
    .background .panel .close {
      position: absolute;
      right: -20px;
      top: -20px;
      cursor: pointer; }
    .background .panel img {
      display: block;
      width: 100%; }
