.yellow_head {
  border-left: 3px #eeca5a solid; }

.green_head {
  border-left: 3px #60ac62 solid; }

.blue_head {
  border-left: 3px #68b2e7 solid; }

.header a {
  font-size: 14px; }

.main_wrap {
  width: 1000px;
  margin: 30px auto; }
  .main_wrap .bread {
    padding: 1rem 0;
    color: #333; }
  .main_wrap .content_wrap {
    margin-bottom: 1rem;
    width: 590px;
    float: left;
    min-height: 400px;
    box-sizing: border-box; }
    .main_wrap .content_wrap .head {
      padding: 10px;
      background: #60ac62;
      color: #fff;
      font-size: 16px;
      display: inline-block; }
    .main_wrap .content_wrap .content {
      padding: 24px;
      background: #fff;
      border: 1px #d3d3d3 solid; }
      .main_wrap .content_wrap .content h1 {
        font-size: 1.4rem;
        text-align: center;
        margin: 0.6rem; }
      .main_wrap .content_wrap .content .date {
        text-align: center;
        color: 919090; }
      .main_wrap .content_wrap .content .text {
        margin-top: 30px;
        line-height: 2em; }
        .main_wrap .content_wrap .content .text img {
          display: inline-block;
          max-width: 100%; }
  .main_wrap .sidebar {
    width: 380px;
    float: right; }

.panel {
  position: relative; }
  .panel h2 {
    padding: 10px;
    background: #60ac62;
    color: #fff;
    font-size: 16px;
    display: inline-block; }
    .panel h2 .more {
      position: absolute;
      right: 10px;
      top: 10px;
      line-height: 20px;
      color: #9c9c9c;
      font-size: 14px; }
  .panel .list {
    padding: 24px;
    background: #fff;
    border: 1px #d3d3d3 solid;
    padding: 60px 80px; }
    .panel .list li {
      line-height: 24px;
      overflow: hidden;
      padding-left: 10px;
      border-bottom: 1px solid #ccc;
      height: 42px;
      line-height: 42px;
      background: url(../img/dot.png) no-repeat 0 center; }
      .panel .list li a {
        color: #333; }
      .panel .list li .date {
        float: right;
        margin-right: 0.6rem; }

.sidebar .head {
  position: relative;
  width: 100%;
  height: 20px;
  text-indent: 7px;
  font-size: 16px;
  line-height: 20px; }
  .sidebar .head a {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 20px;
    color: #9c9c9c;
    font-size: 14px; }

.sidebar .list {
  background: #fff;
  border: 1px #d3d3d3 solid;
  margin-top: 10px;
  padding: 10px 24px 10px 10px;
  overflow: hidden;
  margin-bottom: 30px; }
  .sidebar .list li {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    padding-left: 10px;
    background: url(../img/dot.png) no-repeat 0 center; }
    .sidebar .list li a {
      color: #333;
      font-size: 14px; }
    .sidebar .list li span {
      float: right; }
