@charset "UTF-8";
/* reset */
html{font-size:14px;}
*{margin:0; padding:0;}
ol,ul,li{list-style:none;} 
img{border:0;}
input,button,select,textarea{outline:none;border:0;background:#fff}
input[type="button"]{transition: all .3s ease-in 0s;cursor:pointer}
textarea{resize:none}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;} 
i{font-style:normal}
a{text-decoration:none}
/* common */
body{background:#f3f3f3}
/*.header{width:100%;overflow:hidden;background:#60ac62}
.header > .wrap{width:1000px;height:96px;margin:0 auto}
.header > .wrap > .logo{width:450px;height:96px;display:block;padding-left:86px;background:url(../img/logo.png) no-repeat left center;line-height:96px;font-size:24px;color:#fff;float:left;}
.header > .wrap > .p_status{float:right;width:400px;height:96px;line-height:96px;color:#fff;text-align:right}
.header > .wrap > .p_status a{color:#fff;}
.header > .wrap > .p_status a:hover{text-decoration:underline}

.nav{position:relative;width:100%;background:#fff;border-bottom:1px #60ac62 solid;}
.nav > ul{width:1000px;height:54px;margin:0 auto}
.nav > ul > li{display:inline-block;line-height:54px;font-size:16px;width:auto;text-align:center}
.nav > ul > li:first-child{padding-left:0}

.nav > ul > li > a{display:block;color:#605f5f;padding:0 25px;}
.nav > ul > li > a.cur{border-bottom:4px #7ca860 solid;line-height:50px;color:#7ca860}
.nav > ul > li > .wrap{display:none;position:absolute;width:100%;background:#fff;top:54px;left:0;z-index:99;border-top:1px #60ac62 solid;height:36px;line-height:36px;}
.nav > ul > li > .wrap > ul{width:1000px;height:36px;margin:0 auto}
.nav > ul > li > .wrap > ul li{float:left;margin-right:10px}
.nav > ul > li > .wrap > ul > li > a{color:#666;font-size:14px;}
.nav > ul > li > .wrap > ul > li > a:hover{color:#7ca860}
.nav > ul > li:hover > .wrap{display:block}
.nav > ul > li.bar3 > .wrap > ul{padding-left:180px;width:820px}
.nav > ul > li.bar4 > .wrap > ul{padding-left:320px;width:680px}
*/

.wrapper{width:1000px;margin:40px auto;}
.index_newsbox{position:relative;width:688px;height:216px;border:1px #d3d3d3 solid;padding:10px 10px 10px 300px;overflow:hidden;background:#fff}
.index_newsbox img{position:absolute;left:10px;top:10px;width:280px;height:216px;}
.index_newsbox h2{display:block;width:638px;padding:10px 20px 0;font-size:16px;font-weight:bold;text-align:center;margin-bottom:20px}
.index_newsbox p{margin-bottom:10px;width:638px;padding:0 20px;line-height:22px}

.index_row{width:1000px;overflow:hidden;margin-top:30px;}
.inewbox{width:480px;overflow:hidden;float:left;margin-bottom:20px}
.inewbox.rl{float:right;}
.inewbox h3{position:relative;width:470px;height:20px;border-left:3px #eeca5a solid;padding-left:7px;font-size:16px;line-height:20px}
.inewbox h3.gr{border-color:#68b2e7;}
.inewbox h3.bl{border-color:#60ac62;}
.inewbox h3 a{position:absolute;right:0;top:0;line-height:20px;color:#9c9c9c;font-size:14px;}
.inewbox h3 a:hover{color:#60ac62;}

.inewbox ul{width:458px;background:#fff;border:1px #d3d3d3 solid;margin-top:10px;padding:10px;overflow:hidden}
.inewbox ul li{width:448px;height:24px;line-height:24px;overflow:hidden;padding-left:10px;background:url(../img/dot.png) no-repeat 0 center}
.inewbox ul li a{color:#333}
.inewbox ul li a:hover{color:#333;text-decoration:underline}


/*login*/
.login_wrap{position:absolute;left:50%;top:50%;margin:-150px 0 0 -170px;width:340px;border:1px solid #60ac62;text-align:center;padding:40px 0 0;box-sizing:border-box;background:#fff;height:300px;border-radius:10px;overflow:hidden}
.login_wrap.forgot{padding: 36px 0 0;height:350px;margin:-175px 0 0 -170px;}
.login_wrap section label{position:relative;}
.login_wrap section label img{position: absolute;top:-1px;left:14px;display:inline-block;width:16px;}
.login_wrap section input[type=text], .login_wrap section input[type=password]{border:1px solid #d3d3d3;display:inline-block;width:80%;margin: 0 auto 10px;padding: 0.5rem;text-indent: 2.5rem;font-size:14px;height:30px;line-height:30px;border-radius:10px}
.login_wrap section input[type=text].short {width: 48%;margin-right:2%}
.login_wrap section input[type=button] {width:30%;display:inline-block;border: 1px solid #d3d3d3;height:46px;font-size:14px;border-radius:10px;}
.login_wrap section #name-error, .login_wrap section #password-error{display: block;padding-bottom: 5px;color: #a94442;}
.login_wrap input.submit{position:absolute;bottom:0;width:100%;display:block;clear:both;height:50px;font-size:16px;color:#fff;background:#60ac62}
.login_wrap .w_message{width:60%;color:red;height:20px;display:block;text-align:center;margin:0 auto}
a.forgot{width:100px;color:#999;position:absolute;left:50%;top:50%;margin:160px 0 0 -50px;text-align:center;text-decoration:underline}
.footer{width:100%;overflow:hidden;padding:20px 0;background:#e5e5e5;color:#858585;text-align:center;line-height:24px}


/*轨迹*/
.page_tite{width:100%;overflow:hidden}
.page_title span{padding:10px;background:#60ac62;color:#fff;font-size:16px;display:inline-block}
.track_box{width:838px;border:1px #d3d3d3 solid;overflow:hidden;background:#fff;padding:30px 80px}
.track_box .map{width:100%;overflow:hidden;margin-top:20px}
.track_box .map img{width:100%;height:auto;}
.track_box .info{width:100%;overflow:hidden;line-height:26px;font-size:14px}
.track_box .info p.driver{padding-left:40px;background:url(../img/driver.png) no-repeat left center;font-weight:bold;line-height:40px;font-size:16px}

/*menu*/
.menu_box{width:898px;border:1px #d3d3d3 solid;overflow:hidden;background:#fff;padding:36px 50px;margin:0 0 30px}
.menu_box > img{width:388px;height:auto;display:block;float:left}
.menu_box .info{width:400px;overflow:hidden;font-size:14px;padding:0 30px;line-height:26px;}
.menu_box .subbar{width:100%;overflow:hidden;height:20px;line-height:20px;margin-bottom:10px}
.menu_box .subbar p.lef{float:left;display:block;}
.menu_box .subbar p.rig{float:right;display:block}
.menu_box .menu_list{width:100%;overflow:hidden;}
.menu_box .menu_list .control{width:100%;height:40px;background:#97caeb;text-align:center;}
.menu_box .menu_list .control a{width:40px;height:40px;line-height:40px;display:block;float:left;font-size:24px;color:#fff}
.menu_box .menu_list .control span{width:818px;height:40px;line-height:40px;display:block;float:left;color:#fff}
.menu_box .menu_list .control a.rbtn{float:right}
.menu_box .menu_list .title{width:896px;border:1px #c8c8c8 solid;height:40px;border-top:0}
.menu_box .menu_list .title label{display:block;height:40px;line-height:40px;float:left;text-align:center;border-right:1px #c8c8c8 solid;font-weight:bold}
.menu_box .menu_list .title label.ct1{width:150px;}
.menu_box .menu_list .title label.ct2{width:150px;}
.menu_box .menu_list .title label.ct3{width:393px;}
.menu_box .menu_list .title label.ct4{width:200px;border-right:0}
.menu_box .menu_list .row{width:896px;border:1px #c8c8c8 solid;border-top:0;overflow:hidden;cursor:pointer}
.menu_box .menu_list .row label{width:150px;display:block;height:100%;float:left;text-align:center;font-weight:bold}
.menu_box .menu_list .row ul{width:745px;overflow:hidden;float:left;border-left:1px #c8c8c8 solid;}
.menu_box .menu_list .row ul li{width:745px;height:36px;border-bottom:1px #c8c8c8 dashed}
.menu_box .menu_list .row ul li.cur{background:#f3f3f3}
.menu_box .menu_list .row ul li span{width:393px;height:36px;line-height:36px;display:block;float:left;text-align:center;}
.menu_box .menu_list .row ul li span.name{width:150px;border-right:1px #c8c8c8 solid;font-weight:bold;}
.menu_box .menu_list .row ul li span.nutrition{width:200px;border-left:1px #c8c8c8 solid}
.menu_box #date{background:none;color:#fff;font-size:16px;text-align:center;cursor:pointer;background:url(../img/calendar.png) no-repeat 5px center}


/*个人中心*/
.pcenter_box{width:898px;border:1px #d3d3d3 solid;overflow:hidden;background:#fff;padding:36px 50px;margin:0 0 30px}
.pcenter_box .portrait{width:136px;overflow:hidden;margin:50px auto}
.pcenter_box .portrait p{width:130px;height:130px;overflow:hidden;display:block;border:3px #d9d9d9 solid;border-radius:130px}
.pcenter_box .portrait span{width:130px;overflow:hidden;text-align:center;display:block;margin:20px 0 0;font-size:16px}
.pcenter_box ul{width:400px;margin:0 auto;overflow:hidden;}
.pcenter_box ul li{width:400px;overflow:hidden;margin-bottom:15px;}
.pcenter_box ul li label{width:100px;height:30px;line-height:30px;display:block;float:left;text-align:right;margin-right:10px;font-size:14px}
.pcenter_box ul li input[type=text], .pcenter_box ul li input[type=password]{width:188px;height:28px;line-height:28px;padding:0 10px;display:block;float:left;border:1px #c6c6c6 solid;font-size:14px}
.pcenter_box .submit{width:180px;height:36px;line-height:36px;display:block;margin:20px auto;background:#60ac62;color:#fff;font-size:16px}

/*注册*/
.reg_box{width:898px;border:1px #d3d3d3 solid;overflow:hidden;background:#fff;padding:36px 50px;margin:0 0 30px}
.reg_box h4{border-left:3px #60ac62 solid;display:block;padding-left:10px;font-size:16px;margin-bottom:10px;}
.reg_box h4.cafeteria{display:none}
.reg_box h4.cafeteria.show{display:block}
.reg_box > ul{width:92%;overflow:hidden;margin:10px auto 40px;}
.reg_box > ul.cafeteria{display:none}
.reg_box > ul.cafeteria.show{display:block}
.reg_box > ul > li{width:100%;overflow:hidden;margin:15px 0}
.reg_box > ul > li label{width:100px;height:30px;line-height:30px;display:block;float:left;text-align:right;margin-right:10px}
.reg_box > ul > li label.ckb{width:auto;height:30px;line-height:30px;display:inline-block;float:left;text-align:left;margin-left:10px;margin-right:0;font-size:14px}
.reg_box > ul > li label i{padding-right:5px;color:red}
.reg_box > ul > li input[type=text], .pcenter_box ul li input[type=password]{width:188px;height:28px;line-height:28px;padding:0 10px;display:block;float:left;border:1px #c6c6c6 solid;font-size:14px}
.reg_box > ul > li input[type=checkbox]{width:18px;height:18px;margin:5px;line-height:28px;display:block;float:left;border:1px #c6c6c6 solid;}
.reg_box > ul > li select{width:210px;height:30px;line-height:30px;padding:0 10px;display:block;float:left;border:1px #c6c6c6 solid;border-radius:0;background:#fff;font-size:14px}
.reg_box > ul > li input[type=file]{display:none}
.reg_box > ul > li label.file{position:relative;width:288px;height:28px;line-height:28px;padding:0 0 0 10px;display:block;float:left;border:1px #c6c6c6 solid;margin-left:10px;text-align:left;font-size:14px;overflow:hidden}
.reg_box > ul > li label.file i{position:absolute;right:0;top:0;color:#333;background:#ededed;border-left:1px #c6c6c6 solid;padding-left:5px;display:block;}
.reg_box > ul > li > ul{width:600px;overflow:hidden}
.reg_box > ul > li > ul > li{width:100%;overflow:hidden;margin:0 0 15px}
.reg_box > ul > li > ul > li span{width:28px;height:28px;text-align:center;line-height:31px;background:#ededed;display:block;cursor:pointer;float:left;border:1px #c6c6c6 solid;font-size:24px}
.reg_box > ul > li > ul > li span.remove{line-height:28px;}


.reg_box .submit{width:180px;height:36px;line-height:36px;display:block;margin:30px 146px;background:#60ac62;color:#fff;font-size:16px}

.footer.login{position:absolute;bottom:0}

.add_cafeteria{width:120px;height:26px;display:block;color:#333;line-height:26px;padding:5px;background:#e5e5e5;text-align:center;margin:-30px 0 30px 146px}

