<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ssic.education.common.mapper.ProLicenseExMapper">


<select id="lookImage" resultType="com.ssic.education.common.pojo.ProLicense">
				SELECT
				a.lic_name AS licName,
				a.lic_pic AS licPic
			FROM
				t_pro_license a
			WHERE
				a.relation_id =#{license.relationId}
			AND a.cer_source = #{license.cerSource}		
	</select>
	
			

</mapper>
