<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssic.education.common.mapper.ProLedgerExMapper" >
	<select id="countAllLedger" resultType="Long">
		SELECT
		count(id)
		FROM
		t_pro_ledger
		WHERE
		stat = 1
		AND source_id=#{ledgerDto.sourceId}
	</select>
	<select id="findAllLedger" resultType="com.ssic.education.common.provider.dto.LedgerDto">
		SELECT
		l.ware_batch_no ware_batch_no,
		l.action_date actionDate,
		l.receiver_name receiverName,
		u.`name` userName
		FROM
		t_pro_ledger
		l,t_pro_users u
		WHERE
		l.user_id=u.id
		AND
		l.stat = 1
		AND
		l.source_id
		=#{ledgerDto.sourceId}
		<if test="ph!=null and ph.rows!=0">
			limit #{ph.beginRow},#{ph.rows}
		</if>
	</select>
	<insert id="insertLedger" parameterType="java.util.List">
		
			insert into t_pro_ledger (id, wares_id, name,
			spce, action_type, action_date,
			supplier_id, supplier_code, supplier_name,
			quantity, production_date, batch_no,
			receiver_id, receiver_code, receiver_name,
			trace_code, user_id, source_id,
			ware_batch_no, create_time, last_update_time,
			stat)
			values
			<foreach item="item" collection="ledgerList" separator="," open="("
			close=")" index="index">
			 UUID(), #{item.waresId},
			#{item.name},
			#{item.spce}, #{item.actionType}, #{item.actionDate},
			#{item.supplierId}, #{item.supplierCode},
			#{item.supplierName},
			#{item.quantity}, #{item.productionDate}, #{item.batchNo},
			#{item.receiverId}, #{item.receiverCode},
			#{item.receiverName},
			#{item.traceCode}, #{item.userId}, #{item.sourceId},
			#{item.wareBatchNo}, #{item.createTime},
			#{item.lastUpdateTime},
			#{item.stat}
		</foreach>
	</insert>
	<select id="selectSupplierByReceiverId" resultType="com.ssic.education.common.dto.ProSupplierDto" parameterType="java.lang.String">
	   SELECT a.id,a.supplier_name as supplierName,a.address,a.supplier_type as supplierType,a.business_license as businessLicense, 
	   a.organization_code as organizationCode,a.corporation,a.contact_way as contactWay,a.longitude,a.latitude,
	   a.last_update_time as lastUpdateTime,a.create_time as createTime,a.stat
	   FROM t_pro_supplier a 
	   LEFT JOIN t_pro_ledger b on b.supplier_id = a.id 
	   WHERE a.stat =1 and b.stat = 1 
	   <include refid="where_supplier_bypage" />
	   GROUP BY a.id
	   ORDER BY a.create_time desc
       limit  #{page.startNum}, #{page.pageSize}
	</select>
	
	<select id="countSupplier" resultType="java.lang.Long" parameterType="java.lang.String">
	   SELECT count(*) from (SELECT a.id, COUNT(*) counts 
	   FROM t_pro_supplier a 
	   LEFT JOIN t_pro_ledger b on b.supplier_id = a.id  
	   WHERE a.stat =1 and b.stat = 1 
	   <include refid="where_supplier_bypage" />
	    GROUP BY a.id) t
	</select>
	
	<sql id="where_supplier_bypage">
		<if test="proSupplierDto.id != null and proSupplierDto.id != ''">
			and b.receiver_id = #{proSupplierDto.id}
	   </if>
	   	<if test="proSupplierDto.supplierName != null and proSupplierDto.supplierName != ''">
			and a.supplier_name like "%"#{proSupplierDto.supplierName}"%"
	   </if>
	</sql>
</mapper>

