<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>登录</title>
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<div class="header">
		<div class="wrap">
			<a class="logo" href="login.htm">上海市中小学校校生午餐综合管理平台</a>
		</div>
	</div>
	<div class="login_wrap">
		<form id="login">
			<section>
				<label for="name"><img src="/static/img/icon_user.png" /></label> <input id="username" type="text" name="userAccount" placeholder="用户名">
			</section>
			<section>
				<label for="password"><img src="static/img/icon_lock.png" /></label> <input id="password" type="password" name="password" placeholder="密码">
			</section>
			<!--                 <section>
                    <label for="c_password"><img src="static/img/icon_lock.png"/></label>
                    <input id="c_password" type="password" name="c_password" placeholder="确认新密码">
                </section> -->
			<span class="w_message">${(messaes)!}</span> <input class="submit" type="button" value="登&nbsp;&nbsp;&nbsp;录">
		</form>
	</div>
	<!-- <a class="forgot" href="forgot.html">忘记密码？</a> -->
	<a class="forgot" href="/user/oreg.htm" style="font-size: 16px;">注册账号</a>
	<div class="footer login">
		上海市中小学校学生午餐综合管理平台<br>CopyRight© 2016上海市天坊信息技术有限公司
	</div>
	<script src="static/js/jquery-2.1.3.min.js"></script>
	<script src="static/js/jquery.validate.min.js"></script>
	<script type="text/javascript">
		$(function(){
			$("#password").keydown(function() {
			    if (event.keyCode == "13") {//keyCode=13是回车键
			    	$('.submit').click();
			    }
			});			
		//提交
		$('.submit').on('click', function(){
			var result = check_form();
			if(!result){
				return false;
			}else{
				var dataParam = $("#login").serialize();
				$.ajax({
					url:'login_ajax.htm',
					type:"POST",
					data : dataParam,
					dataType:'json',
					success:function(data){
						if(data.status==500){
							alert_redtext('username',data.message);
						}else{
							window.location.href = "main.htm";
						}
					}
				});
			}
		})
		
		//取消错误提示
		$('input[type=text], input[type=password]').keyup(function(){
			$('.w_message').html('')
		})
		
		
	});
	
	//验证表单
	function check_form(){
			//手机
			var Username = $.trim($("#username").val());
	        	if (Username.length <= 0) {
				alert_redtext('username','用户名能为空')
	            	return false;
	         }
			//密码
	        	var PassWord = $.trim($("#password").val());
				if (PassWord.length < 6 || PassWord.length > 16) {
				alert_redtext('password','密码应为6-16位，英文、数字或常用符号')
	            	return false;
	        	}
/* 	        	var c_PassWord = $.trim($("#c_password").val());
				if (c_PassWord != PassWord) {
				alert_redtext('c_password','密码不一致')
	            	return false;
	        	} */
	       return true;
	}
		
	//验证表单错误提示
	function alert_redtext(d,t){
		$('#' +d).focus()
		$('.w_message').html(t)
	}
        </script>
</body>
</html>
