
<!DOCTYPE html>
<html>
<head>
<#include "/common/head.htm" />
    <link rel="icon" type="image/gif" href="static/img/favicon.ico">
    <link href="/static/css/style.css" rel="stylesheet" />
</head>
<body>
	<!--<script src="static/js/header.js"></script>-->
	<#include "/common/nav.htm" />
	<div class="wrapper">
		<div class="index_newsbox">
		<#if pageList1??>
			<#list pageList1 as eduInformationDto>
			<#if eduInformationDto_index==0>
				<img src="${(eduInformationDto.pic)!}" border="0">
				<h2>${(eduInformationDto.title)!}</h2>
				<p>${(eduInformationDto.content)!}</p>
			</#if>
			</#list>
		</#if>
			<!-- <img src="static/img/index_news.png" border="0">
			<h2>上海与国家食药监总局战略合作 加强食品药品安全监管</h2>
			<p>上海市人民政府与国家食品药品监督管理总局2016年3月3日在京签署《关于加强食品药品安全监管战略合作协议》。国家食药监总局局长毕井泉、上海市市长杨雄代表双方签署协议并进行工作会谈。国家食药监总局副局长滕佳材出席上述活动。</p>
			<p>根据合作协议，国家食药监总局将积极支持上海开展全国食品安全示范城市创建工作，落实市、区两级食品药品监管“四有两责”制度，落实区县地方政府食品安全属地国家食药监总局将积极支持上海开展全国食品安全示范城市创建工作国家食药监总局将积极支持上海开展全国食品安全示范城市创建工作国家食药监总局将积极支持上海开展全国食品安全示范城市创建工作</p> -->
		</div>
		<div class="index_row">
			<div class="inewbox">
				<h3>公示栏<a class="more" href="###">更多...</a></h3>
				<ul>
					<li><a href="###">上海市食品安全信息追溯管理办法（上海市人民政府令第33号）        2016-05-10</a></li>
					<li><a href="###">水产制品监督抽检信息                                            2016-05-02</a></li>
					<li><a href="###">对本市所有中小学学校进行食堂对本市所有中小学学校进行食堂...     2016-04-30</a></li>
					<li><a href="###">本市集体用餐配送单位（盒饭、桶饭）达标名单                      2016-04-30</a></li>
					<li><a href="###">级食品安全风险监测情况（2015年12月9日）                         2016-04-26</a></li>
					<li><a href="###">食品行政处罚信息公告                                            2016-04-20</a></li>
				</ul>
			</div>
			<div class="inewbox rl">
				<h3 class="bl">健康宣教<a class="more" href="###">更多...</a></h3>
				<ul>
					<li><a href="###">上海市食品安全信息追溯管理办法（上海市人民政府令第33号）        2016-05-10</a></li>
					<li><a href="###">水产制品监督抽检信息                                            2016-05-02</a></li>
					<li><a href="###">对本市所有中小学学校进行食堂对本市所有中小学学校进行食堂...     2016-04-30</a></li>
					<li><a href="###">本市集体用餐配送单位（盒饭、桶饭）达标名单                      2016-04-30</a></li>
					<li><a href="###">级食品安全风险监测情况（2015年12月9日）                         2016-04-26</a></li>
					<li><a href="###">食品行政处罚信息公告                                            2016-04-20</a></li>
					<li><a href="###">本市集体用餐配送单位（盒饭、桶饭）达标名单                      2016-04-30</a></li>
					<li><a href="###">级食品安全风险监测情况（2015年12月9日）                         2016-04-26</a></li>
					<li><a href="###">食品行政处罚信息公告                                            2016-04-20</a></li>
					<li><a href="###">本市集体用餐配送单位（盒饭、桶饭）达标名单                      2016-04-30</a></li>
					<li><a href="###">级食品安全风险监测情况（2015年12月9日）                         2016-04-26</a></li>
					<li><a href="###">食品行政处罚信息公告                                            2016-04-20</a></li>
					<li><a href="###">本市集体用餐配送单位（盒饭、桶饭）达标名单                      2016-04-30</a></li>
					<li><a href="###">级食品安全风险监测情况（2015年12月9日）                         2016-04-26</a></li>
					<li><a href="###">食品行政处罚信息公告                                            2016-04-20</a></li>
				</ul>
			</div>
			<div class="inewbox">
				<h3 class="gr">卫生检查<a class="more" href="###">更多...</a></h3>
				<ul>
					<li><a href="###">上海市食品安全信息追溯管理办法（上海市人民政府令第33号）        2016-05-10 </a></li>
					<li><a href="###">水产制品监督抽检信息                                            2016-05-02</a></li>
					<li><a href="###">对本市所有中小学学校进行食堂对本市所有中小学学校进行食堂...     2016-04-30</a></li>
					<li><a href="###">本市集体用餐配送单位（盒饭、桶饭）达标名单                      2016-04-30</a></li>
					<li><a href="###">级食品安全风险监测情况（2015年12月9日）                         2016-04-26</a></li>
					<li><a href="###">食品行政处罚信息公告                                            2016-04-20</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<#include "/common/footer.htm" />
</body>

<script>
	$(function(){		
		$(".nav").find("a").removeClass("cur");
        $(".nav").find("a:eq(0)").addClass("cur");


	});
</script>
</html>