<!DOCTYPE html>
<html>
    <head>
        <#include "/common/head.htm" />
        <link rel="stylesheet" href="/static/css/style.css">
         <link rel="stylesheet" href="/static/css/dis_edu.css">
    </head>
<body>
<#include "/common/nav.htm" />
	<div class="main_wrap">

            <h2>个人中心</h2>
            <div class="content_wrap">
                <div class="tab_wrap">
                    <ul class="side_menu">
                    	<li class="active"><a href="###">修改密码</a></li>
                        <#if userInfo.sourceType == 1><li><a href="oEditUserInfo.htm">基本信息</a></li></#if>
                    </ul>
                    <div class="tab_content">
                        <div class="pcenter_box">
							<div class="portrait">
								<p><img src="/static/img/portrait.png" border="0"></p>
								<span>${(userInfo.userAccount)!}</span>
							</div>
							<ul>
								<li><label>原密码</label><input id="old_password" type="password" placeholder=""></li>
								<li><label>新登录密码</label><input id="password" type="password" placeholder=""></li>
								<li><label>确认密码</label><input id="new_password" type="password" placeholder=""></li>
							</ul>
							<input class="submit" type="button" value="确认提交">
						</div>
                    </div>
                </div>
            </div>

        </div>
	<!-- <div class="wrapper">
		<div class="page_title"><span>个人中心</span></div>
		<div class="pcenter_box">
			<div class="portrait">
				<p><img src="/static/img/portrait.png" border="0"></p>
				<span>${(userInfo.userAccount)!}</span>
			</div>
			<ul>
				<li><label>原密码</label><input id="old_password" type="password" placeholder=""></li>
				<li><label>新登录密码</label><input id="password" type="password" placeholder=""></li>
				<li><label>确认密码</label><input id="new_password" type="password" placeholder=""></li>
			</ul>
			<input class="submit" type="button" value="确认提交">
			</div>
	</div>	 -->
	<#include "/common/footer.htm" />
<script>
	$(function(){	
		
		$(".submit").on('click', function(){
			var passWord = $.trim($("#password").val());
			var new_password = $.trim($("#new_password").val());
			var old_password = $.trim($("#old_password").val());
			if (old_password.length <= 0) {
				alert("原密码不能为空~");
				return;
			}
			if (passWord.length <= 0) {
				alert("新登录密码不能为空~");
				return;
			}
			if (new_password.length <= 0) {
				alert("确认密码不能为空~");
				return;
			}
			if (passWord != new_password) {
				alert("新登录密码和确认密码不相同~");
				return;
			}
			$.ajax({
				url:"/user/update.htm",
				type:"post",
				dataType:"json",
				data:{oldpassword:old_password,password:passWord},
				async: false,
				success:function(data){
					if(data.status == 200){
						alert("修改成功");
						window.location.href="/login.htm";
						return;
					}else {
						alert(data.message);
					}							
				}
			});
		})

	});
</script>
	
</body>
</html>
