<!DOCTYPE html>
<html>
    <head>
        <#include "/common/head.htm" />
       	<link rel="stylesheet" href="/static/css/style.css">
       	<script src="/static/js/reg.js"></script>
       	<script src="/static/js/regUtils.js"></script>
       	<script src="/static/js/phoneReg.upload.js"></script>
       	<script type="text/javascript" src="/static/layer-v2.0/layer/layer.js"></script>
       	<style type="text/css">
       		.cafeteria > li > ul > li input[type=text]{width: 120px; margin-left:10px;}
       		.reg_box > ul > li label.file {width: 150px;}
       		.reg_box > ul > li > ul > li span.remove{
       			width: 28px;
			    height: 28px;
			    text-align: center;
			    line-height: 31px;
			    background: #ededed;
			    display: block;
			    cursor: pointer;
			    float: left;
			    border: 1px #c6c6c6 solid;
			    font-size: 24px;
			 }
       	</style>
    </head>
<body>
	<!--<script src="static/js/header.js"></script>-->
	<div class="header">
		<div class="wrap">
			<a class="logo" href="/login.htm">上海市中小学校校生午餐综合管理平台</a>
			<div class="p_status">
				<!-- <a class="p_center" href="pcenter.html">个人中心</a>  |  <a class="logout" href="/login_out.htm">退出</a> -->
			</div>
		</div>
	</div>
	<!-- <div class="nav">
		<div class="wrap">                                                                   
			<a class="cur" href="index.html">首页</a>
			<a class="" href="index.html">安全追溯</a>
			<a class="" href="index.html">菜谱</a>
			<a class="" href="index.html">健康宣教</a>
			<a class="" href="index.html">通告公示</a>
			<a class="" href="index.html">任务传达</a>
			<a class="" href="index.html">发布</a>
		</div>
	</div> -->
	
	<div class="wrapper">
		<div class="page_title"><span>个人中心</span></div>
		<div class="reg_box">
			<h4>学校信息</h4>
			<ul>
				<li><label><i>*</i>学校名称</label><input id="schoolName" type="text" placeholder=""></li>
				<li><label><i>*</i>地址</label><input id="address" type="text" placeholder=""></li>
				<li><label><i>*</i>联系人姓名</label><input id="contacts" type="text" placeholder=""></li>
				<li><label><i>*</i>手机</label><input id="mobileNo" type="text" placeholder=""></li>
				<li><label><i>*</i>图片验证码</label><input id="picCaptcha" type="text" placeholder=""><img id="refreshValid" title="点击图片刷新验证码" src="/ajax/drawRandom.htm"/></li>
				<li><label><i>*</i>短信验证码</label><input id="messageValid" type="text" placeholder="">
					<input title="请先输入图片验证码" id="sendMessage" type="button" href="javascript:;" style="margin-left:10px;width:150px;line-height:30px;background:#60ac62;color:black;" value="获取短信验证码"></input>
				</li>
				<li><label><i>*</i>区教委</label>
				<select name="area"  id="area" panelheight="auto">
					<option value="">请选择区县</option>
		          	<#if eduCommitteeDtos??>
		          		<#list eduCommitteeDtos as area>
		          			<option data-id="${(area.id)!}" value="${(area.areaCode)!}">${(area.name)!}</option>
		          		</#list>
		          	</#if>
				</select>
				</li>				
				<li><label><i>*</i>级别</label>
				<label class="ckb"><input type="checkbox" name="CheckboxGroup1" value="0" id="CheckboxGroup1_0">幼儿园</label>
				<label class="ckb"><input type="checkbox" name="CheckboxGroup1" value="1" id="CheckboxGroup1_1">小学</label>
				<label class="ckb"><input type="checkbox" name="CheckboxGroup1" value="2" id="CheckboxGroup1_2">初中</label>
				<label class="ckb"><input type="checkbox" name="CheckboxGroup1" value="3" id="CheckboxGroup1_3">高中</label>
				<!-- <label class="ckb"><input type="checkbox" name="CheckboxGroup1" value="4" id="CheckboxGroup1_4">大学</label> -->
				</li>
			</ul>
			
			<a tag="close" class="add_cafeteria" href="###"><span>+</span> 填写食堂信息</a>
			<h4 class="cafeteria">食堂信息</h4>
			<ul class="cafeteria">
				<li><label><i></i>食堂名称</label><input id="canteenName" type="text" placeholder=""></li>
				<li><label><i></i>联系人姓名</label><input id="canteenContacts" type="text" placeholder=""></li>
				<li><label><i></i>手机</label><input id="phoneNumber" type="text" placeholder=""></li>
				<li>
					<label><i></i>证件类型</label>
					<ul class="c_type">
						<li name="phoneFile1">
						<select class="licType1">
							<option value="0">餐饮服务许可证</option>
							<option value="1">食品经营许可证</option>
							<option value="2">食品流通许可证</option>
							<option value="3">食品生产许可证</option>
							<option value="4">工商营业执照</option>
						</select>
						<input id="licNum" type="text" class="licinputw1" name="licNum" placeholder="证件编号">
						<label class="file" for="phoneFile1">未选择文件<i>浏览</i></label>
						<input id="phoneFile1" type="file" name="file" onchange="selectfun(this)"><span class="add">+</span>
						<a id="phoneQuery1"></a>
						</li>
					</ul>				
				</li>
			</ul>
			
			<h4>账号设置</h4>
			<ul>
				<li><label><i>*</i>用户名</label><input id="userAccount" type="text" placeholder=""></li>
				<li><label><i>*</i>密码</label><input id="password" type="password" style="padding:10px;border:thin double #CCCCCC; height: 8px;width: 190px;" placeholder=""></li>
				<li><label><i>*</i>确认密码</label><input id="confirmPassword" type="password" style="padding:10px;border:thin double #CCCCCC; height: 8px;width: 190px;" placeholder=""></li>
			</ul>
			<input id="sursSubmit" disabled="disabled" class="submit" type="button" style="background:#c6c6c6;" value="确认提交">
		</div>
	</div>	
	<div class="footer">
		上海市中小学校学生午餐综合管理平台<br>CopyRight© 2016上海市天坊信息技术有限公司
	</div>
	<!--<script src="static/js/footer.js"></script>-->
<script>
	$(function(){	
		$('.add_cafeteria').on('click', function(){
			var _tag = $(this).attr('tag');
			if(_tag == 'close'){
				$('.cafeteria').addClass('show')
				$(this).html('<span>-</span> 取消食堂信息')
				$(this).attr('tag','open');
			}
			
			if (_tag == 'open') {
				$('.cafeteria').removeClass('show')
				$(this).html('<span>+</span> 填写食堂信息')
				$(this).attr('tag','close');
			}
			
		})
		
		$('.c_type').on('click', 'span', function(){
			var _tag = $(this).attr('class')
			if(_tag == 'add'){
				var _ind = $(this).closest('ul').find('li').length + 1
				//alert(_ind)
				$('.c_type').append('<li name="phoneFile'+ _ind +'"><select class="licType'+  _ind +'" id=""><option value=\"0\">餐饮服务许可证</option><option value=\"1\">食品经营许可证</option><option value=\"2\">食品流通许可证</option><option value=\"3\">食品生产许可证</option><option value=\"4\">工商营业执照</option>></select><input id="licNum" type="text" class="licinputw'+ _ind +'" name="licNum" placeholder="证件编号"><label class="file" for="phoneFile'+ _ind +'">未选择文件<i>浏览</i></label><input id="phoneFile'+ _ind +'"  type="file" name="file" onchange="selectfun(this)"><span class="remove">-</span><a id="phoneQuery'+ _ind +'"></a></li>')
			}else if(_tag == 'remove'){
				$(this).closest('li').remove()
				for(var i=0; i<$('.c_type').find('li').length;i++){
					$('.c_type li').eq(i).find('#licNum').attr('class','licinputw'+(i+1))
					$('.c_type li').eq(i).find('input[name=file]').attr('id','phoneFile'+(i+1))
					$('.c_type li').eq(i).find('label.file').attr('for','phoneFile'+(i+1))
					$('.c_type li').eq(i).find('select').attr('class','licType'+(i+1))
					$('.c_type li').eq(i).find('a').attr('id','phoneQuery'+(i+1))
					$('.c_type li').eq(i).attr('name','phoneFile'+(i+1))
				}
			}
		})
		
		$(".submit").on('click', function(){
			var schoolName = $.trim($("#schoolName").val());
			if (schoolName.length <= 0) {
				alert("学校名称不能为空~");
				return;
			}
			var address = $.trim($("#address").val());
			if (address.length <= 0) {
				alert("学校地址不能为空~");
				return;
			}
			var contacts = $.trim($("#contacts").val());
			if (contacts.length <= 0) {
				alert("联系人姓名不能为空~");
				return;
			}
			var mobileNo = $.trim($("#mobileNo").val());
			if (mobileNo.length <= 0) {
				alert("手机不能为空~");
				return;
			}
			var area = $.trim($("#area").val());
			if (area.length <= 0) {
				alert("区教委不能为空~");
				return;
			}
			var committeeId = $("#area option:selected").attr('data-id');
			if (committeeId == 'undefined') {
				alert(" 请选择区教委~");
				return;
			}
			var checkStr='';
			var checked = 0;
            $('input[name="CheckboxGroup1"]:checked').each(function(){
            	if ($(this).val() != null && $(this).val() != '' && $(this).val() != 'undefined') {
            		checkStr += $(this).val()+","
                	checked++;
            	}            	
            });
            checkStr=checkStr.substring(0,checkStr.length-1);
			if (checked == 0 ) {
            	alert("学校级别不能为空~");
				return;
            } 
			var actag= $('.add_cafeteria').attr('tag');
			var jsonLic;
			var canteenName;
			var canteenContacts;
			var phoneNumber;
			if (actag == 'open') {
				var _ind = $('.c_type').closest('ul').find('li').length;
				jsonLic = '[';
				for (i=1; i<=_ind; i++) {
					if ($.trim($('#phoneFile1').attr("value")).length >0 && $('#phoneFile1').attr("value") != 'undefined') {
						jsonLic += '{\"licPic\":\"' +$('#phoneFile'+i+'').attr("value")+'\",'+'\"licType\":\"' +$('.licType'+i+'').val()+'\",'+'\"licNo\":\"' +$('.licinputw'+i+'').val()+'\",'+'\"licName\":\"' +$('.licType'+i+'').find("option:selected").text()+'\"},';
					}				
				}
				jsonLic += ']';
				canteenName = $.trim($("#canteenName").val());
				/* if (canteenName.length <= 0) {
					alert("食堂名称不能为空~");
					return;
				}  */
				canteenContacts = $.trim($("#canteenContacts").val());
				/* if (canteenContacts.length <= 0) {
					alert("食堂联系人不能为空~");
					return;
				} */
				phoneNumber = $.trim($("#phoneNumber").val());
			}
			
			var userAccount = $.trim($("#userAccount").val());
			if (userAccount.length <= 0) {
				alert("用户名不能为空~");
				return;
			} 
			var passWord = $.trim($("#password").val());
			var new_password = $.trim($("#confirmPassword").val());
			if (passWord.length <= 0) {
				alert("密码不能为空~");
				return;
			}
			if (new_password.length <= 0) {
				alert("确认密码不能为空~");
				return;
			}
			if (passWord != new_password) {
				alert("密码和确认密码不相同~");
				return;
			}
			$.ajax({
				url:"/user/regUser.htm",
				type:"post",
				dataType:"json",
				data:{schoolName:schoolName,address:address,area:area,sourceType:1,level:checkStr,mobileNo:mobileNo,
					canteenName:canteenName,canteenContacts:canteenContacts,phoneNumber:phoneNumber,contacts:contacts,
					userAccount:userAccount,password:passWord,jsonLic:jsonLic,cerSource:3,committeeId:committeeId},
				async: false,
				success:function(data){
					if(data.status == 200){
						alert("注册成功，请等待审批通过！");
						window.location.href="/login.htm";
						return;
					}else {
						alert(data.message);
					}							
				}
			});
		})
	});
	/*
	function selectfun(obj){
		$('#'+obj.id).closest('li').find('.file').html(obj.value + '<i>浏览</i>')
	} 
	*/
</script>
	
</body>
</html>
