<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssic.education.handle.mapper.ProDishesExMapper" >
	 <insert id="addWaresBatch" parameterType="java.util.List">  
      INSERT INTO t_pro_wares (id, wares_name, create_time, stat)
      VALUES 
     <foreach collection="list" item="item" index="index" separator="," >  
        (#{item.id},#{item.waresName},#{item.createTime},#{item.stat})  
    </foreach> 
  </insert> 
  
   <insert id="addDishesBatch" parameterType="java.util.List">  
      INSERT INTO t_pro_dishes (id, package_id, name,creator, create_time, stat)
      VALUES 
     <foreach collection="list" item="item" index="index" separator="," >  
        (#{item.id},#{item.packageId},#{item.name},#{item.creator},#{item.createTime},#{item.stat})  
    </foreach> 
  </insert> 
  
	<select id="selectWaresByContact" resultType="com.ssic.educateion.common.dto.ProWaresDto" parameterType="com.ssic.educateion.common.dto.ProWaresDto">
	   SELECT a.id,a.wares_name as waresName,a.spec,a.shelf_life as shelfLife,a.unit, a.supplier_id as supplierId,a.way,a.wares_type as waresType,a.custom_code as customCode,
	   a.bar_code as barCode,a.en_name as enName,a.place,a.dishes,a.last_update_time as lastUpdateTime,a.create_time as createTime,a.stat
	   FROM t_pro_wares a 
	   LEFT JOIN t_pro_dishes b on b.wares_id = a.id 
	   WHERE a.stat =1 and b.stat = 1 
	   <include refid="where_wares_bypage" />
	   ORDER BY a.create_time desc
       limit  #{page.startNum}, #{page.pageSize}
	</select>
	
	<select id="countWares" resultType="java.lang.Long" parameterType="com.ssic.educateion.common.dto.ProWaresDto">
	   SELECT count(*) 
	   FROM t_pro_wares a 
	   LEFT JOIN t_pro_dishes b on b.wares_id = a.id 
	   WHERE a.stat =1 and b.stat = 1 
	   <include refid="where_wares_bypage" />
	</select>
	
	<sql id="where_wares_bypage">
		<if test="proWaresDto.supplierId != null and proWaresDto.supplierId != ''">
			and b.supplier_id = #{proWaresDto.supplierId}
	   </if>
	   <if test="proWaresDto.dishes != null and proWaresDto.supplierId != ''">
			and a.dishes = #{proWaresDto.dishes}
	   </if>
	</sql>
</mapper>

