<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssic.education.handle.mapper.ProLedgerMasterExMapper">
	<select id="countAllLedger" resultType="Long">
		SELECT
		count(m.id)
		FROM
		t_pro_ledger_master m
		WHERE
		m.stat = 1
		AND m.source_id=#{ledgerDto.sourceId}
		<if test="ledgerDto.actionDate != null  and ledgerDto.actionDate!=''">
			AND m.action_date >= #{ledgerDto.actionDate}
		</if>
		<if test="ledgerDto.nextDate != null  and ledgerDto.nextDate!=''">
			AND m.action_date &lt;= #{ledgerDto.nextDate}
		</if>
		<if test="ledgerDto.receiverName!=null and  ledgerDto.receiverName!=''">
			AND m.receiver_name like "%"#{ledgerDto.receiverName}"%"
		</if>
	</select>
	
	<select id="selectLedgerList" resultType="com.ssic.educateion.common.dto.LedgerDto" parameterType="com.ssic.educateion.common.dto.LedgerDto">
		SELECT a.id,b.id as masterId,b.action_date as actionDate,b.receiver_id as receiverId,b.receiver_name as receiverName,b.user_id as userId,b.source_id as sourceId,b.ware_batch_no as wareBatchNo,
		b.haul_status as haulStatus,a.wares_id as waresId,a.name,a.spce,a.supplier_id as supplierId,a.supplier_code as supplierCode, a.supplier_name as supplierName, a.quantity,a.production_date as productionDate,
		a.production_name as productionName,a.batch_no as batchNo,a.trace_code as traceCode,a.create_time as createTime,a.last_update_time as lastUpdateTime,a.stat
		FROM t_pro_ledger a
		LEFT JOIN t_pro_ledger_master b on a.master_id = b.id
		WHERE b.stat=1
		<!-- a.stat = 1 and -->
		<if test="ledgerDto.receiverId != null  and ledgerDto.receiverId !=''">
			AND b.receiver_id = #{ledgerDto.receiverId}
		</if>
		<if test="ledgerDto.masterId != null  and ledgerDto.masterId !=''">
			AND b.id = #{ledgerDto.masterId}
		</if>
		<if test="ledgerDto.receiverName != null  and ledgerDto.receiverName !=''">
			AND b.receiver_name like "%"#{ledgerDto.receiverName}"%"
		</if>
		<if test="ledgerDto.wareBatchNo != null  and ledgerDto.wareBatchNo !=''">
			AND b.ware_batch_no = #{ledgerDto.wareBatchNo}
		</if>
	</select>
	
	<select id="selectLedgerListOrderby" resultType="com.ssic.educateion.common.dto.LedgerDto" parameterType="com.ssic.educateion.common.dto.LedgerDto">
		SELECT a.id,b.id as masterId,b.action_date as actionDate,b.receiver_id as receiverId,b.receiver_name as receiverName,b.user_id as userId,b.source_id as sourceId,b.ware_batch_no as wareBatchNo,
		b.haul_status as haulStatus,a.wares_id as waresId,a.name,a.spce,a.supplier_id as supplierId,a.supplier_code as supplierCode, c.supplier_name as supplierName, a.quantity,a.production_date as productionDate,
		a.production_name as productionName,a.batch_no as batchNo,a.trace_code as traceCode,a.create_time as createTime,a.last_update_time as lastUpdateTime,a.stat
		FROM t_pro_ledger a
		LEFT JOIN t_pro_ledger_master b on a.master_id = b.id
		LEFT JOIN t_pro_supplier c on b.source_id = c.id
		WHERE <!-- a.stat = 1 and --> b.stat=1
		<if test="ledgerDto.receiverId != null  and ledgerDto.receiverId !=''">
			AND b.receiver_id = #{ledgerDto.receiverId}
		</if>
		<if test="ledgerDto.masterId != null  and ledgerDto.masterId !=''">
			AND b.id = #{ledgerDto.masterId}
		</if>
		<if test="ledgerDto.sourceId != null  and ledgerDto.sourceId !=''">
			AND b.source_id = #{ledgerDto.sourceId}
		</if>
		<if test="ledgerDto.receiverName != null  and ledgerDto.receiverName !=''">
			AND b.receiver_name like "%"#{ledgerDto.receiverName}"%"
		</if>
		GROUP BY b.ware_batch_no
		ORDER BY a.create_time desc
		limit #{page.startNum},
		#{page.pageSize}
	</select>
	
	<select id="countLedgerListOrderby" resultType="java.lang.Long" parameterType="java.lang.String">
		SELECT count(*) from  (SELECT b.id, COUNT(*) counts FROM t_pro_ledger a
		LEFT JOIN t_pro_ledger_master b on a.master_id = b.id
		LEFT JOIN t_pro_supplier c on b.source_id = c.id
		WHERE <!-- a.stat = 1 and --> b.stat=1
		<if test="ledgerDto.receiverId != null  and ledgerDto.receiverId !=''">
			AND b.receiver_id = #{ledgerDto.receiverId}
		</if>
		<if test="ledgerDto.masterId != null  and ledgerDto.masterId !=''">
			AND b.id = #{ledgerDto.masterId}
		</if>
		<if test="ledgerDto.sourceId != null  and ledgerDto.sourceId !=''">
			AND b.source_id = #{ledgerDto.sourceId}
		</if>
		<if test="ledgerDto.receiverName != null  and ledgerDto.receiverName !=''">
			AND b.receiver_name like "%"#{ledgerDto.receiverName}"%"
		</if>
		GROUP BY b.ware_batch_no) t
	</select>
	<select id="findAllLedger" resultType="com.ssic.educateion.common.dto.LedgerDto">
		SELECT DISTINCT
		m.id masterId,
		m.ware_batch_no wareBatchNo,
		m.action_date
		sendDate,
		m.receiver_name
		receiverName,
		m.haul_status haulStatus,
		(SELECT name FROM t_pro_users WHERE id=m.user_id) userName
		FROM 
		t_pro_ledger
		l,t_pro_ledger_master m
		WHERE
		m.stat = 1
		AND
		m.source_id
		=#{ledgerDto.sourceId}
		<if test="ledgerDto.actionDate != null  and ledgerDto.actionDate!=''">
			AND m.action_date >= #{ledgerDto.actionDate}
		</if>
		<if test="ledgerDto.nextDate != null  and ledgerDto.nextDate!=''">
			AND m.action_date &lt;= #{ledgerDto.nextDate}
		</if>
		<if test="ledgerDto.receiverName!=null and  ledgerDto.receiverName!=''">
			AND m.receiver_name like "%"#{ledgerDto.receiverName}"%"
		</if>
		ORDER BY m.action_date DESC , m.create_time DESC
		<if test="ph.rows!=0 and ph!=null">
			limit #{ph.beginRow},#{ph.rows}
		</if>
	</select>
	<insert id="insertLedgerMaster" parameterType="java.util.List">
		insert into
		t_pro_ledger_master (id, action_date, receiver_id,
		receiver_name,
		user_id,
		driver_name,
		source_id,
		ware_batch_no, haul_status, creator, create_time,
		updater, last_update_time,
		stat)
		values
		(#{ledger.id}, #{ledger.actionDate},
		#{ledger.receiverId},
		#{ledger.receiverName},
		#{ledger.userId},
		(SELECT name FROM t_pro_users WHERE id=#{ledger.userId}),
		#{ledger.sourceId},
		#{ledger.wareBatchNo},
		#{ledger.haulStatus},
		#{ledger.creator},
		#{ledger.createTime},
		#{ledger.updater},
		#{ledger.lastUpdateTime},
		#{ledger.stat}
		)

	</insert>
	<update id="updateLedgerMaster" >
			update
			t_pro_ledger_master
			set
			action_date = #{ledger.actionDate},
			receiver_id =
			#{ledger.receiverId,jdbcType=VARCHAR},
			receiver_name =
			#{ledger.receiverName,jdbcType=VARCHAR},
			user_id =
			#{ledger.userId,jdbcType=VARCHAR},
			driver_name=
			(SELECT name FROM t_pro_users WHERE id=#{ledger.userId}),
			source_id =
			#{ledger.sourceId,jdbcType=VARCHAR},
			ware_batch_no =
			#{ledger.wareBatchNo,jdbcType=VARCHAR},
			haul_status=
			#{ledger.haulStatus},
			last_update_time=#{ledger.lastUpdateTime}
			Where
			id =
			#{ledger.masterId}
	</update>
	<update id="deleteLedgerMaster" >
			update
			t_pro_ledger_master
			set
			stat = 0
			WHERE
			id=#{masterId}
			AND
			source_id=#{sourceId}
	</update>
</mapper>
