<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssic.education.handle.mapper.ProWaresExMapper">
	<resultMap id="BaseResultMap" type="com.ssic.educateion.common.dto.ProWaresDto">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="wares_name" property="waresName" jdbcType="VARCHAR" />
		<result column="spec" property="spec" jdbcType="VARCHAR" />
		<result column="shelf_life" property="shelfLife" jdbcType="INTEGER" />
		<result column="unit" property="unit" jdbcType="VARCHAR" />
		<result column="supplier_id" property="supplierId" jdbcType="VARCHAR" />
		<result column="way" property="way" jdbcType="INTEGER" />
		<result column="wares_type" property="waresType" jdbcType="INTEGER" />
		<result column="custom_code" property="customCode" jdbcType="VARCHAR" />
		<result column="bar_code" property="barCode" jdbcType="VARCHAR" />
		<result column="en_name" property="enName" jdbcType="VARCHAR" />
		<result column="place" property="place" jdbcType="VARCHAR" />
		<result column="dishes" property="dishes" jdbcType="BIT" />
		<result column="crate_time" property="crateTime" jdbcType="TIMESTAMP" />
		<result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
		<result column="stat" property="stat" jdbcType="INTEGER" />
		<result column="image" property="image" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>

	<select id="findWarseListByParam" resultMap="BaseResultMap" parameterType="com.ssic.education.handle.dto.ProSchoolWareDto">
		select * 
		from t_pro_warse a
		LEFT JOIN t_pro_school_ware b on a.id = b.ware_id
		where a.stat = 1 and b.stat=1
		<if test="proSchoolWareDto.schoolId != null  and proSchoolWareDto.schoolId !=''">
			AND b.school_id = #{proSchoolWareDto.schoolId}
		</if>
		<if test="proSchoolWareDto.sourceId != null  and proSchoolWareDto.sourceId !=''">
			AND b.source_id = #{proSchoolWareDto.sourceId}
		</if>
		<if test="proSchoolWareDto.supplierId != null  and proSchoolWareDto.supplierId !=''">
			AND b.supplier_id = #{proSchoolWareDto.supplierId}
		</if>
		ORDER BY a.create_time desc
		<if test="query != null">
       		LIMIT  #{query.startNum}, #{query.pageSize}
        </if>
	</select>
	
	<select id="countWarseListByParam" resultType="java.lang.Long" parameterType="com.ssic.education.handle.dto.ProSchoolWareDto">
		select count(*) 
		from t_pro_warse a
		LEFT JOIN t_pro_school_ware b on a.id = b.ware_id
		where a.stat = 1 and b.stat=1
		<if test="proSchoolWareDto.schoolId != null  and proSchoolWareDto.schoolId !=''">
			AND b.school_id = #{proSchoolWareDto.schoolId}
		</if>
		<if test="proSchoolWareDto.sourceId != null  and proSchoolWareDto.sourceId !=''">
			AND b.source_id = #{proSchoolWareDto.sourceId}
		</if>
		<if test="proSchoolWareDto.supplierId != null  and proSchoolWareDto.supplierId !=''">
			AND b.supplier_id = #{proSchoolWareDto.supplierId}
		</if>
	</select>

	<select id="findWarseBySupplier" resultMap="BaseResultMap" parameterType="java.lang.String">
		select * from t_pro_warse where spplier_id=#{supplierId}
	</select>
	
	<select id="searchProWares" resultMap="BaseResultMap">
		SELECT * FROM `t_pro_wares` ware WHERE   EXISTS  (SELECT * FROM `t_pro_school_ware` sc_ware WHERE sc_ware.`school_id` = #{schoolId}  AND ware.`id` = sc_ware.`ware_id`)
		<if test="waresName != null" >
			and ware.wares_name LIKE '%${waresName}%'; 
		</if>
	</select>
</mapper>