<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ssic.education.handle.mapper.RecycleOilExMapper">

	<select id="findAllRecycleOil" resultType="com.ssic.educateion.common.dto.RecycleOilDto">
		SELECT
		id,
		(SELECT name FROM t_pro_waste_recycler WHERE supplier_id=#{recycleOilDto.supplierId}) recycler,
		supplier_id supplierId,
		recycle_date
		recycleDate,
		type type,
		amount amount,
		recycler_name recyclerName,
		document_url documentUrl,
		create_time createTime,
		last_update_time
		lastUpdateTime,
		stat
		FROM
		t_pro_recycle_oil
		WHERE
		stat = 1
		AND supplier_id=#{recycleOilDto.supplierId}
		<include refid="where_findRecycleOil"></include>
		<if test="ph!=null and ph.rows!=0">
			limit #{ph.beginRow},#{ph.rows}
		</if>
	</select>

	<select id="findRecycleOilById" resultType="com.ssic.educateion.common.dto.RecycleOilDto">
		SELECT
		id,
		(SELECT name FROM t_pro_waste_recycler WHERE supplier_id=#{sourceId}) recycler,
		recycle_date recycleDate,
		type type,
		amount amount,
		recycler_name recyclerName,
		document_url documentUrl,
		create_time createTime,
		last_update_time lastUpdateTime,
		stat
		FROM
		t_pro_recycle_oil
		Where
		id=#{id}
		AND supplier_id=#{sourceId}
		
	</select>
	<sql id="where_findRecycleOil">
		<if
			test="recycleOilDto.recycleDate!=null and  recycleOilDto.recycleDate!=''">
			AND recycle_Date = #{recycleOilDto.recycleDate}
		</if>
	</sql>

	<insert id="insert" parameterType="com.ssic.educateion.common.dto.RecycleOilDto">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Mon May 16 
			18:56:32 CST 2016. -->
		insert into t_pro_recycle_oil (id, recycler_id, supplier_id,
		recycle_date, type, amount,
		recycler_name, document_url, create_time,
		last_update_time, stat)
		values (#{id,jdbcType=VARCHAR}, #{recyclerId,jdbcType=VARCHAR},
		#{supplierId,jdbcType=VARCHAR},
		#{recycleDate,jdbcType=DATE}, #{type,jdbcType=SMALLINT}, #{amount,jdbcType=INTEGER},
		#{recyclerName,jdbcType=VARCHAR}, #{documentUrl,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{lastUpdateTime,jdbcType=TIMESTAMP}, #{stat,jdbcType=SMALLINT})
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ssic.educateion.common.dto.RecycleOilDto">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Mon May 16 
			10:22:46 CST 2016. -->
		update t_pro_recycle_oil
		<set>
			<if test="recyclerId != null">
				recycler_id = #{recyclerId,jdbcType=VARCHAR},
			</if>
			<if test="supplierId != null">
				supplier_id = #{supplierId,jdbcType=VARCHAR},
			</if>
			<if test="recycleDate != null">
				recycle_date = #{recycleDate,jdbcType=DATE},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=SMALLINT},
			</if>
			<if test="amount != null">
				amount = #{amount,jdbcType=INTEGER},
			</if>
			<if test="recyclerName != null">
				recycler_name = #{recyclerName,jdbcType=VARCHAR},
			</if>
			<if test="documentUrl != null">
				document_url = #{documentUrl,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastUpdateTime != null">
				last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="stat != null">
				stat = #{stat,jdbcType=SMALLINT},
			</if>
		</set>
		WHERE id = #{id}
		AND supplier_id=#{supplierId}
	</update>
</mapper>
