<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ssic.education.handle.mapper.WasteRecyclerExMapper">

	<select id="findRecycleBySourceId" resultType="String" >
		SELECT
		name
		FROM
		t_pro_waste_recycler
		WHERE
		stat = 1
		AND supplier_id=#{sourceId}
		AND type=#{type}
	</select>
	<select id="findRecycleIdBySourceId" resultType="String" >
		SELECT
		id
		FROM
		t_pro_waste_recycler
		WHERE
		stat = 1
		AND supplier_id=#{sourceId}
		AND type=#{type}
	</select>
</mapper>
