<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssic.education.provider.mapper.DishesProExMapper">
	<resultMap id="BaseResultMap" type="com.ssic.education.provider.dto.ProDishesDto">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="package_id" property="packageId" jdbcType="VARCHAR" />
		<result column="wares_id" property="waresId" jdbcType="VARCHAR" />
		<result column="wares_name" property="waresName" jdbcType="VARCHAR" />
		<result column="supplier_id" property="supplierId" jdbcType="VARCHAR" />
		<result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
		<result column="stat" property="stat" jdbcType="SMALLINT" />
	</resultMap>
</mapper>