<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ssic.education.provider.mapper.ProEmployeeExMapper">

	<select id="findAllEmployee" resultType="com.ssic.education.provider.dto.ProEmployeeDto">
		SELECT
	a.id AS id,
	a.supplier_id AS supplierId,
	a.`name` AS `name`,
	a.gender AS gender,
	a.id_type AS idType,
	a.id_code AS idCode,
	a.mobile AS mobile,
	a.position AS position,
	a.work_num AS workNum,
	a.health_code AS healthCode,
	a.health_code_date AS healthCodeDate,
	a.train_code AS trainCode,
	a.train__level AS trainLevel,
	a.train_code_date AS trainCodeDate
FROM
	t_pro_employee a
WHERE
	a.stat = 1
		<include refid="where_findEmployee"></include>
		order by a.create_time desc
		<!-- limit #{phdto.beginRow},#{phdto.rows} -->
			limit #{phdto.beginRow},#{phdto.rows}
	</select>



	<sql id="where_findEmployee">
		<if test="pe.name!=null and  pe.name!=''">
			AND a.name = #{pe.name}
		</if>
		<if test="pe.gender!=null and pe.gender!='' ">
			AND a.gender = #{pe.gender}
		</if>
		<if test="pe.position!=null and pe.position!='' ">
			and a.position = #{pe.position}
		</if>
	</sql>







</mapper>
