<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssic.education.app.mapper.LicExMapper">
	<resultMap id="BaseResultMap" type="com.ssic.education.common.pojo.ProLicense">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="lic_name" property="licName" jdbcType="VARCHAR" />
		<result column="lic_no" property="licNo" jdbcType="VARCHAR" />
		<result column="lic_type" property="licType" jdbcType="INTEGER" />
		<result column="lic_end_date" property="licEndDate" jdbcType="DATE" />
		<result column="lic_pic" property="licPic" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
		<result column="stat" property="stat" jdbcType="INTEGER" />
		<result column="relation_id" property="relationId" jdbcType="VARCHAR" />
		<result column="cer_source" property="cerSource" jdbcType="SMALLINT" />
	</resultMap>

	<select id="getLicbyType" parameterType="com.ssic.education.common.pojo.ProLicense" resultType="java.lang.String">
		select id from t_pro_license where relation_id=#{l.relationId} and lic_type=#{l.licType} and stat=1 and cer_source=2
	</select>
</mapper>