<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssic.education.app.mapper.SupplierInfoExMapper">
	<resultMap id="SupplierLicMap" type="com.ssic.education.app.dto.SupplierLicDto">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="supplier_type" property="supplierType" jdbcType="INTEGER" />
		<result column="business_license" property="businessLicense" jdbcType="VARCHAR" />
		<result column="organization_code" property="organizationCode" jdbcType="VARCHAR" />
		<result column="food_service_code" property="foodServiceCode" jdbcType="VARCHAR" />
		<result column="food_business_code" property="foodBusinessCode" jdbcType="VARCHAR" />
		<result column="food_circulation_code" property="foodCirculationCode" jdbcType="VARCHAR" />
		<result column="food_produce_code" property="foodProduceCode" jdbcType="VARCHAR" />
		<result column="corporation" property="corporation" jdbcType="VARCHAR" />
		<result column="id_card" property="idCard" jdbcType="VARCHAR" />
		<result column="id_type" property="idType" jdbcType="VARCHAR" />
		<result column="contact_way" property="contactWay" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="MaterialSupplierMap" type="com.ssic.education.app.dto.MaterialSupplierDto">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
	</resultMap>
	<select id="getSupplierInfoById" resultMap="SupplierLicMap" parameterType="java.lang.String">
		SELECT * FROM t_pro_supplier WHERE id=#{supplier_id} AND stat='1'
	</select>
	<select id="getSupplierListById" resultMap="MaterialSupplierMap" parameterType="java.lang.String">
		SELECT * FROM t_pro_supplier
		WHERE id IN(
		SELECT supplier_id FROM t_pro_ledger WHERE receiver_id=#{supplier_id} AND action_type='0' GROUP BY supplier_id
		)
	</select>
</mapper>	 