@charset "UTF-8";
/* reset */
html{font-size:10px;-webkit-tap-highlight-color: rgba(255,255,255,0);height:100%}
*{margin:0; padding:0;box-sizing:border-box;}
ol,ul,li{list-style:none;} 
img{border:0;}
input,button,select,textarea{outline:none;border:0;background:#fff}
input[type="button"]{transition: all .3s ease-in 0s;cursor:pointer}
textarea{resize:none}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;} 
i{font-style:normal;font-weight:normal}
a{text-decoration:none}
/* common */
body{font-family:"Microsoft Yahei","Arial";font-size:1.4rem;color:#333;background:#f5f5f5;height:100%}
header{position:relative;width:100%;line-height:3rem;text-align:center;font-size:1.6rem;}
header span{padding-right:30px;background:url(../img/arrow_d.png) no-repeat right center;}
header.navgat{position:relative;z-index:5;background:#fff;border-bottom:1px #e5e5e5 solid;}
header.searchbar{background:#e5e5e5;padding:6px 5%;overflow:hidden;}
header a{position:absolute;}
header a.back{left:5%;color:#999;width:30px;height:36px;background:url(../img/back.png) no-repeat 0 center;background-size:8px 15px}
header a.done{right:5%;color:#60ac62;font-size:1.4rem}
header input[type=text]{width:100%;height:2.2rem;line-height:2rem;padding-left:5px;font-size:1.4rem;border-radius:3px;display:block;float:left}
header input[type=text].gs{width:70%;}
header select{display:block;text-align:center;width:25%;margin-right:5%;height:2.2rem;color:#333;font-size:1.7rem;text-align:center;background-color:transparent;float:left;background:url(../img/arrow_d.png) no-repeat right center;}
header select#sel_school{position:absolute;top:0;width:80%;height:3rem;background:#0C9;margin:0 10%;opacity:0}
.load_more{width:100%;line-height:4rem;text-align:center;color:#999}
.load_more.gr{background:#fff}
.load_more.gr a{color:#60ac62;}
.img_alert{width:100%;padding-top:3rem;height:100%;background-size:contain;background-repeat:no-repeat;background-position:0 center}



.school_box{width:100%;overflow:hidden;background:#fff}
.school_box > img{width:100%;height:auto;display:block}
.school_box .info_bar{position:relative;width:90%;height:120px;overflow:hidden;border:1px #e6e6e6 solid;border-radius:10px;margin:-60px auto 0;background:#fff;box-shadow:0px 0px 10px rgba(0,0,0,.2);text-align:center}
.school_box .info_bar a{width:49%;height:100px;display:inline-block;line-height:170px;color:#60ac62;margin:10px 0;}
.school_box .info_bar a:nth-child(1){background:url(../img/icon_goods.png) no-repeat center 2px}
.school_box .info_bar a:nth-child(2){background:url(../img/icon_track.png) no-repeat center 2px;border-left:1px #d2d2d2 solid}
.school_box .info_box{position:relative;width:90%;overflow:hidden;margin:20px auto}
.school_box .info_box p{position:relative;width:100%;display:block;margin-bottom:5px;padding-left:100px;padding-right:50px;line-height:22px}
.school_box .info_box p span{position:absolute;left:0;top:0;display:block;overflow:hidden;color:#666}
.school_box .info_box p a{position:absolute;right:0;top:-2px;display:block;overflow:hidden;border:1px #60ac62 solid;border-radius:5px;padding:0 6px;color:#60ac62;font-size:1.2rem}

.calendar_box{width:100%;overflow:hidden;background:#60ac62;text-align:center}
.calendar_box p{width:49%;height:60px;display:inline-block;color:#fff;margin:10px 0;line-height:3rem;font-size:1.4rem;}
.calendar_box p:nth-child(1){}
.calendar_box p:nth-child(2){border-left:1px #cedbce solid}
.calendar_box p input[type=text]{display:block;text-align:center;width:100%;color:#fff;font-size:1.7rem;text-align:center;background-color:transparent;}
.calendar_box p i{position:relative;display:block;text-align:center;width:100%;line-height:2rem;margin:0 auto;}
.calendar_box p i span{color:#fff;text-align:center;font-size:1.6rem}
.calendar_box p i select, .calendar_box p i input[type=date]{position:absolute;top:0;display:block;width:100%;height:100%;background-color:#9C0;opacity:0}
.calendar_box p label{padding-right:20px;background:url(../img/arrow_d_w.png) no-repeat right center;}
.calendar_box p label span{padding-left:28px;background:url(../img/icon_calendar.png) no-repeat left center;background-size:22%}
.calendar_box p:nth-child(2) label span{background:url(../img/icon_class.png) no-repeat left center;background-size:24%}

.menu_box{width:100%;overflow:hidden;}
.menu_box .row{width:100%;overflow:hidden}
.menu_box .row h2{position:relative;width:100%;overflow:hidden;background:#f5f5f5;color:#60ac62;padding:14px;font-size:1.6rem;line-height:1.8rem}
.menu_box .row h2 i{padding-left:22px;background:url(../img/icon_breakfrist.png) no-repeat left center;background-size:18px 18px;display:block;clear:both}
.menu_box .row h2 span{color:#999;font-size:1.3rem;display:block;clear:both}
.menu_box .row h2 a{position:absolute;top:23px;right:5%;display:block;overflow:hidden;border:1px #60ac62 solid;border-radius:5px;padding:0 6px;color:#60ac62;font-size:1.2rem}
.menu_box .row ul{width:100%;overflow:hidden;border-top:1px #ddd solid;background:#fff}
.menu_box .row ul li{position:relative;width:100%;height:100px;border-bottom:1px #ddd solid}
.menu_box .row ul li img{position:absolute;width:80px;height:80px;border-radius:5px;top:10px;left:10px;z-index:1}
.menu_box .row ul li p{position:absolute;width:100%;padding-left:110px;padding-right:5%;top:23px;font-size:1.8rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.menu_box .row ul li span{position:absolute;width:100%;padding-left:110px;padding-right:5%;top:56px;color:#666;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.menu_box .row ul.nutrition{border-top:0;}
.menu_box .row ul.nutrition li{width:50%;float:left;height:auto;padding:10px 0;padding-right:5%}
.menu_box .row ul.nutrition li:nth-child(odd){padding-left:5%;}
#sel_date{display:none}

/*myfollow*/
section.myfollow{width:100%;overflow:hidden}
section.myfollow ul{width:100%;overflow:hidden;margin-top:10px}
section.myfollow li{width:100%;overflow:hidden;padding:0 5%;background:#fff;margin-bottom:20px;border-top:1px #e5e5e5 solid;border-bottom:1px #e5e5e5 solid;}
section.myfollow li .con{position:relative;width:100%;height:80px;}
section.myfollow li .con img{position:absolute;width:60px;left:0;top:10px;height:60px;}
section.myfollow li .con .nam{position:absolute;width:100%;left:0;top:18px;display:block;padding-left:70px;font-size:1.6rem;overflow:hidden;height:20px}
section.myfollow li .con .adr{position:absolute;width:100%;left:0;top:44px;display:block;padding-left:70px;color:#666;overflow:hidden;height:20px}
section.myfollow li .bar{width:100%;height:40px;border-top:1px #e5e5e5 solid;line-height:40px;text-align:right}
section.myfollow li .bar a{padding-left:20px;color:#60ac62}
section.myfollow li .bar a.shower{padding-left:22px;float:left;background:url(../img/select.png) no-repeat 0 center;background-size:16px 16px;color:#999}
section.myfollow li .bar a.shower.cur{background-image:url(../img/selected.png);color:#60ac62}

section.myfollow_c{width:100%;overflow:hidden;}
section.myfollow_c h2{width:100%;border-left:2px #60ac62 solid;margin-bottom:10px;font-size:1.6rem;padding-left:10px}
section.myfollow_c ul{width:100%;overflow:hidden;border-top:1px #e5e5e5 solid;border-bottom:1px #e5e5e5 solid;background:#fff;}
section.myfollow_c ul li{position:relative;width:90%;overflow:hidden;margin:0 auto;border-bottom:1px #e5e5e5 solid;line-height:30px}
section.myfollow_c ul li:last-child{border:0}
section.myfollow_c ul li label{position:absolute;left:0;width:60px;height:30px;margin:10px 0;display:block;border-right:1px #e5e5e5 solid;color:#666;word-spacing:17px;font-size:1.4rem}
section.myfollow_c ul li:last-child label{word-spacing:0px}
section.myfollow_c ul li input[type=text], section.myfollow_c ul li p{display:block;width:100%;padding-left:70px;height:30px;font-size:1.4rem;line-height:30px;margin:10px 0;border:0}
section.myfollow_c ul li p select{width:100%;height:30px;font-size:1.4rem;background-color:transparent;}
section.myfollow_c  input.submit{width:90%;overflow:hidden;display:block;color:#fff;background:#60ac62;margin:30px auto 0;border-radius:3px;font-size:1.6rem;padding:12px;text-align:center}


/*dp*/
section.dp{width:100%;overflow:hidden;}
section.dp ul{width:100%;overflow:hidden;margin-top:10px}
section.dp li{width:100%;overflow:hidden;padding:0 5%;background:#fff;margin-bottom:20px;border-top:1px #e5e5e5 solid;border-bottom:1px #e5e5e5 solid;}
section.dp li .bar_t{width:100%;height:36px;border-bottom:1px #e5e5e5 solid;line-height:40px;text-align:left;margin-bottom:8px}
section.dp li .bar_t span{padding-right:10px}
section.dp li .bar_t span.school{float:right;padding-right:0;color:#999;font-size:1.2rem}
section.dp li .tag_m{width:100%;overflow:hidden;margin-bottom:4px}
section.dp li .tag_m p{padding:3px 7px;background:#ffefcc;color:#666;border-radius:5px;display:block;float:left;margin-right:5px;margin-bottom:4px}
section.dp li .score{width:100%;overflow:hidden;margin:10px 0}
section.dp li .score span{width:33%;overflow:hidden;display:block;float:left}
section.dp li .score span img{width:70px;height:12px;display:block;float:left;margin:3px 5px}
section.dp li .score span i{float:left;display:block;}

section.dp_c{width:100%;overflow:hidden;}
section.dp_c h2{width:100%;border-left:2px #60ac62 solid;margin-bottom:10px;font-size:1.6rem;padding-left:10px}
section.dp_c .con{width:100%;overflow:hidden;border-top:1px #e5e5e5 solid;border-bottom:1px #e5e5e5 solid;background:#fff;}
section.dp_c .con .row{width:100%;overflow:hidden;margin:6px 0;padding:0 5%;}
section.dp_c .con .row label{float:left;display:block;line-height:30px;}
section.dp_c .con .row ul{width:150px;height:30px;float:right;margin-top:0;}
section.dp_c .con .row ul li{width:30px;height:30px;background:url(../img/star_b.png) no-repeat center center;background-size:24px 24px;float:left;}
section.dp_c .con .row ul li.cur{background-image:url(../img/star.png);}

/*tablecell*/
section.tablecell{width:100%;overflow:hidden}
section.tablecell ul{width:100%;overflow:hidden;border:1px #e5e5e5 solid;background:#fff}
section.tablecell ul li{position:relative;width:90%;height:40px;margin:0 auto;border-bottom:1px #e5e5e5 solid;line-height:40px;padding-right:20px;background:url(../img/arrow_r.png) no-repeat right center;background-size:8px 15px;}
section.tablecell ul li:last-child{border:0}
section.tablecell ul li a{position:absolute;width:100%;height:100%;left:0;top:0;display:block;color:#333;z-index:2}
section.tablecell ul li label{width:40%;display:block;float:left;overflow:hidden;height:40px;}
section.tablecell ul li span{width:60%;display:block;float:left;overflow:hidden;height:40px;word-break:break-all}
section.tablecell ul li.break-line{height:60px;line-height:20px;padding:10px 0}
section.tablecell ul li.break-line label{width:100%;height:20px;}
section.tablecell ul li.break-line span{width:100%;height:20px;color:#666}


/*aptitude*/
section.aptitude{width:100%;overflow:hidden}
section.aptitude ul{width:100%;overflow:hidden;background:#fff;padding-top:10px;}
section.aptitude ul li{position:relative;width:90%;overflow:hidden;margin:0 auto;margin-bottom:10px;line-height:2rem}
section.aptitude ul li label{position:absolute;width:100px;overflow:hidden;margin:0 auto;display:block;}
section.aptitude ul li span{width:100%;overflow:hidden;margin:0 auto;display:block;padding-left:100px}

section.aptitude_c{width:100%;overflow:hidden;margin-top:10px}
section.aptitude_c h2{width:100%;border-left:2px #60ac62 solid;margin-bottom:10px;font-size:1.6rem;padding-left:10px}


/*purchasing*/
.purchasing_box{width:100%;overflow:hidden;}
.purchasing_box ul{width:100%;overflow:hidden;border-top:1px #ddd solid;background:#fff}
.purchasing_box ul li{position:relative;width:100%;height:100px;border-bottom:1px #ddd solid}
.purchasing_box ul li img{position:absolute;width:80px;height:80px;border-radius:5px;top:10px;left:10px;z-index:1}
.purchasing_box ul li p{position:absolute;width:100%;padding-left:110px;padding-right:5%;top:10px;font-size:1.8rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.purchasing_box ul li span{position:absolute;width:100%;padding-left:110px;padding-right:5%;top:42px;color:#666;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.purchasing_box ul li span.weight{top:66px;}
.purchasing_box ul li a{position:absolute;width:100%;height:100%;left:0;top:0;display:block;color:#333;z-index:2}

.purchasing_c_box{position:relative;width:100%;overflow:hidden;background:#fff}
.purchasing_c_box img{position:absolute;top:20px;left:5%;width:30%;height:auto}
.purchasing_c_box p{width:100%;overflow:hidden;display:block;padding:20px 0 10px 40%;line-height:2.2rem;}

/*dispatching*/
.dispatching_box{width:100%;overflow:hidden;margin-top:10px}
.dispatching_box ul{width:100%;overflow:hidden;}
.dispatching_box ul li{position:relative;width:100%;overflow:hidden;border-top:1px #ddd solid;border-bottom:1px #ddd solid;margin-bottom:10px;background:#fff}
.dispatching_box ul li p{width:100%;display:block;overflow:hidden;padding:10px 5%;line-height:2rem}
.dispatching_box ul li p.oth{border-top:1px #e5e5e5 solid}
.dispatching_box ul li a{position:absolute;width:100%;height:100%;left:0;top:0;display:block;color:#333;z-index:2}
.dispatching_box ul li i{position:absolute;top:24px;right:5%;}
.dispatching_box ul li i.notstart{color:red}
.dispatching_box ul li i.end{color:#999}
.dispatching_box ul li i.started{color:#60ac62}

.dispatching_c_box{width:100%;overflow:hidden;background:#fff;border-top:1px #e5e5e5 solid}
.dispatching_c_box .driverinfo_box{width:100%;overflow:hidden;margin-bottom:5px}
.dispatching_c_box .driverinfo_box ul{width:100%;overflow:hidden;padding:0 5%}
.dispatching_c_box .driverinfo_box ul li{position:relative;width:100%;overflow:hidden;margin-bottom:8px;padding-left:24px;background-repeat:no-repeat;background-position:0 0;background-size:20px 20px;font-size:1.4rem;}
.dispatching_c_box .driverinfo_box ul li:first-child{font-size:1.6rem;height:3.5rem;line-height:3.5rem;font-weight:bold;background-image:url(../img/icon_driver.png);border-bottom:1px #e5e5e5 dashed;background-position:0 center;}
.dispatching_c_box .driverinfo_box ul li:nth-child(2){background-image:url(../img/icon_loc.png)}
.dispatching_c_box .driverinfo_box ul li:nth-child(3){background-image:url(../img/icon_package.png)}
.dispatching_c_box .driverinfo_box ul li:nth-child(4){background-image:url(../img/icon_loc2.png)}
.dispatching_c_box .driverinfo_box ul li label{position:absolute;width:64px;overflow:hidden;display:block;}
.dispatching_c_box .driverinfo_box ul li span{wdith:100%;padding-left:64px;display:block;line-height:1.8rem}
.dispatching_c_box .driverinfo_box .timeinfo{width:90%;overflow:hidden;border-top:1px #e5e5e5 solid;margin:5px 5% 0;padding:5px 0 0 0}
.dispatching_c_box .driverinfo_box .timeinfo p{width:50%;overflow:hidden;display:block;float:left;margin:5px 0;background-repeat:no-repeat;background-position:20px center;background-size:20px 20px;background-image:url(../img/icon_timestart.png);padding-left:20px}
.dispatching_c_box .driverinfo_box .timeinfo p:nth-child(1){border-right:1px #e5e5e5 solid;background-image:url(../img/icon_timeend.png);}
.dispatching_c_box .driverinfo_box .timeinfo p span{width:100%;overflow:hidden;text-align:center;display:block;color:#666}
.dispatching_c_box .driverinfo_box .timeinfo p span:nth-child(2){font-size:2rem;color:#60ac62;margin:2px 0}

.dispatching_c_box .map{width:100%;overflow:hidden;}
.dispatching_c_box .map img{width:100%;height:auto}
.dispatching_c_box .goodsinfo_box{width:100%;overflow:hidden}
.dispatching_c_box .goodsinfo_box ul{width:100%;overflow:hidden;padding:0 5%;}
.dispatching_c_box .goodsinfo_box ul li{width:100%;overflow:hidden;border-bottom:1px #e5e5e5 solid;padding:8px 0;line-height:2rem;color:#666}
.dispatching_c_box .goodsinfo_box ul li:last-child{border:0}
.dispatching_c_box .goodsinfo_box ul li span{font-size:1.6rem;font-weight:bold;color:#333}


