body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:50px;
  width:360px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:100px;
  top:50px;
  width:360px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:240px;
  top:50px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u6 {
  position:absolute;
  left:0px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:100px;
  top:50px;
  width:60px;
  height:30px;
  font-family:'Times New Roman Negreta', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:9px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u8 {
  position:absolute;
  left:0px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:150px;
  top:50px;
  width:80px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u10 {
  position:absolute;
  left:0px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:360px;
  top:50px;
  width:50px;
  height:30px;
  font-family:'Times New Roman Negreta', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u12 {
  position:absolute;
  left:0px;
  top:8px;
  width:50px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:410px;
  top:50px;
  width:50px;
  height:30px;
  font-family:'Times New Roman Negreta', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u14 {
  position:absolute;
  left:0px;
  top:7px;
  width:50px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:100px;
  top:80px;
  width:360px;
  height:40px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u16 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:110px;
  top:85px;
  width:30px;
  height:30px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:135px;
  top:130px;
  width:145px;
  height:30px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:280px;
  top:130px;
  width:145px;
  height:30px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:110px;
  top:160px;
  width:340px;
  height:530px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:530px;
}
#u24 {
  position:absolute;
  left:2px;
  top:257px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:135px;
  top:165px;
  width:120px;
  height:30px;
  color:#006699;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u26 {
  position:absolute;
  left:0px;
  top:7px;
  width:120px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:125px;
  top:195px;
  width:80px;
  height:40px;
  text-align:right;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u28 {
  position:absolute;
  left:0px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:125px;
  top:235px;
  width:80px;
  height:60px;
  text-align:right;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
}
#u30 {
  position:absolute;
  left:0px;
  top:22px;
  width:80px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:125px;
  top:295px;
  width:80px;
  height:40px;
  text-align:right;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u32 {
  position:absolute;
  left:0px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:125px;
  top:335px;
  width:80px;
  height:40px;
  text-align:right;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u34 {
  position:absolute;
  left:0px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:125px;
  top:375px;
  width:80px;
  height:40px;
  text-align:right;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u36 {
  position:absolute;
  left:0px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:125px;
  top:415px;
  width:80px;
  height:40px;
  text-align:right;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u38 {
  position:absolute;
  left:0px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:125px;
  top:455px;
  width:80px;
  height:40px;
  text-align:right;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u40 {
  position:absolute;
  left:0px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:215px;
  top:195px;
  width:220px;
  height:40px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u42 {
  position:absolute;
  left:0px;
  top:12px;
  width:220px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:215px;
  top:235px;
  width:220px;
  height:60px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u44 {
  position:absolute;
  left:0px;
  top:14px;
  width:220px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:215px;
  top:295px;
  width:220px;
  height:40px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u46 {
  position:absolute;
  left:0px;
  top:12px;
  width:220px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:215px;
  top:335px;
  width:220px;
  height:40px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u48 {
  position:absolute;
  left:0px;
  top:12px;
  width:220px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:215px;
  top:375px;
  width:220px;
  height:40px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u50 {
  position:absolute;
  left:0px;
  top:12px;
  width:220px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:215px;
  top:415px;
  width:220px;
  height:40px;
  color:#006699;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u52 {
  position:absolute;
  left:0px;
  top:12px;
  width:220px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:215px;
  top:455px;
  width:220px;
  height:154px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:154px;
}
#u54 {
  position:absolute;
  left:2px;
  top:69px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:125px;
  top:230px;
  width:310px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u56 {
  position:absolute;
  left:125px;
  top:290px;
  width:310px;
  height:10px;
}
#u56_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u57 {
  position:absolute;
  left:125px;
  top:330px;
  width:310px;
  height:10px;
}
#u57_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u58 {
  position:absolute;
  left:125px;
  top:370px;
  width:310px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u59 {
  position:absolute;
  left:125px;
  top:410px;
  width:310px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u60 {
  position:absolute;
  left:125px;
  top:450px;
  width:310px;
  height:10px;
}
#u60_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u61 {
  position:absolute;
  left:110px;
  top:650px;
  width:340px;
  height:40px;
  color:#FFFFFF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
}
#u62 {
  position:absolute;
  left:2px;
  top:12px;
  width:336px;
  word-wrap:break-word;
}
