body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:50px;
  width:360px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:100px;
  top:50px;
  width:360px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:240px;
  top:50px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u6 {
  position:absolute;
  left:0px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:100px;
  top:50px;
  width:60px;
  height:30px;
  font-family:'Times New Roman Negreta', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:9px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u8 {
  position:absolute;
  left:0px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:150px;
  top:50px;
  width:80px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u10 {
  position:absolute;
  left:0px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:360px;
  top:50px;
  width:50px;
  height:30px;
  font-family:'Times New Roman Negreta', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u12 {
  position:absolute;
  left:0px;
  top:8px;
  width:50px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:410px;
  top:50px;
  width:50px;
  height:30px;
  font-family:'Times New Roman Negreta', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u14 {
  position:absolute;
  left:0px;
  top:7px;
  width:50px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:100px;
  top:80px;
  width:360px;
  height:40px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u16 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:110px;
  top:85px;
  width:30px;
  height:30px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:135px;
  top:130px;
  width:145px;
  height:30px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:280px;
  top:130px;
  width:145px;
  height:30px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:110px;
  top:160px;
  width:340px;
  height:530px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:530px;
}
#u24 {
  position:absolute;
  left:2px;
  top:257px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:142px;
  top:170px;
  width:50px;
  height:50px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u26 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:213px;
  top:170px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u28 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:290px;
  top:170px;
  width:50px;
  height:50px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u30 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:367px;
  top:170px;
  width:50px;
  height:50px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u32 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:115px;
  top:230px;
  width:330px;
  height:460px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:460px;
}
#u34 {
  position:absolute;
  left:2px;
  top:222px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:228px;
  top:220px;
  width:20px;
  height:10px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:10px;
}
#u36 {
  position:absolute;
  left:2px;
  top:-3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:130px;
  top:240px;
  width:300px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u38 {
  position:absolute;
  left:0px;
  top:4px;
  width:300px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:120px;
  top:556px;
  width:320px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:120px;
  top:586px;
  width:320px;
  height:60px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u42 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:133px;
  top:594px;
  width:49px;
  height:44px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:44px;
}
#u44 {
  position:absolute;
  left:2px;
  top:14px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:120px;
  top:676px;
  width:320px;
  height:60px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u46 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:120px;
  top:646px;
  width:320px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:126px;
  top:686px;
  width:63px;
  height:42px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:42px;
}
#u50 {
  position:absolute;
  left:2px;
  top:13px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:120px;
  top:736px;
  width:320px;
  height:60px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u52 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:126px;
  top:744px;
  width:63px;
  height:45px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:45px;
}
#u54 {
  position:absolute;
  left:2px;
  top:14px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:120px;
  top:796px;
  width:320px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:200px;
  top:586px;
  width:100px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u58 {
  position:absolute;
  left:0px;
  top:19px;
  width:100px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:199px;
  top:676px;
  width:100px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u60 {
  position:absolute;
  left:0px;
  top:19px;
  width:100px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:199px;
  top:736px;
  width:100px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u62 {
  position:absolute;
  left:0px;
  top:19px;
  width:100px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:120px;
  top:826px;
  width:320px;
  height:60px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u64 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:199px;
  top:826px;
  width:100px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u66 {
  position:absolute;
  left:0px;
  top:19px;
  width:100px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:127px;
  top:833px;
  width:62px;
  height:46px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:46px;
}
#u68 {
  position:absolute;
  left:2px;
  top:15px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:120px;
  top:886px;
  width:320px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u70 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:120px;
  top:916px;
  width:320px;
  height:44px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u72 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:120px;
  top:290px;
  width:320px;
  height:256px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:256px;
}
#u74 {
  position:absolute;
  left:2px;
  top:120px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:280px;
  top:650px;
  width:160px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u76 {
  position:absolute;
  left:2px;
  top:10px;
  width:156px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:120px;
  top:650px;
  width:160px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u78 {
  position:absolute;
  left:2px;
  top:10px;
  width:156px;
  word-wrap:break-word;
}
