<!DOCTYPE html>
<html>
<head>
  <#include "/common/head.htm" />
  <link rel="stylesheet" href="/static/css/supplier_qualification.css" media="screen" charset="utf-8">
</head>
<body>
  <#include "/common/nav.htm" />

  <div class="wrapperA">
   <!--  <div class="cur_postion">
      <span class="cp">当前位置:</span><a href="#">安全追溯</a><span class="gt">&gt;</span><a href="#">采购品列表</a><span class="gt">&gt;</span><a href="#">采购品详情</a>
    </div> -->
    <h1 class="con-tt"><span class="title">${(eduCanteenDto.canteenName)!}</span></h1>
    <div class="con-bd">
     <#if proLicenses??>
        <#list proLicenses as proLicense>
	        <#if proLicense_index == 0>
	     		 <img class="con-img" src="${(proLicense.licPic)!}" alt="" />
	     	 </#if>
    	</#list>
     </#if>
      <ul>
        <li><label>单位名称:</label><span>${(eduCanteenDto.canteenName)!}</span></li>
        <li><label>单位地址:</label><span>${(eduSchoolDto.address)!}</span></li>
        <li><label for="">联系人:</label><span>${(eduCanteenDto.canteenContacts)!}</span></li>
        <li><label for="">联系方式:</label><span>${(eduCanteenDto.phoneNumber)!}</span></li>
        <#if proLicenses??>
        	<#list proLicenses as proLicense>
        		<li><label for="">${(proLicense.licName)!}:</label><span>${(proLicense.licNo)!}</span><a class="img_nn" data-value="${(wwwdomain)!}${(proLicense.licPic)!}" href="###" style="color: blue;">查看图片&gt;&gt;</a></li>
        	</#list>
        </#if>
      </ul>
    </div>

  </div>

  <div class="cover">
    <div class="c_content">
      <h1><span class="closeCover">×</span></h1>
      <img class="col_1" src="/static/img/qualification_20X200.png" alt="" />
    </div>
  </div>

   <#include "/common/footer.htm" />

  <script type="text/javascript">
  $(function(){
    // debugger;
    $(".nav").find("a").removeClass("cur");
    $(".nav").find("a:eq(1)").addClass("cur");

    //图片弹层
    $(".img_nn").on("click",function(){
    	$(".col_1").attr("src",$(this).attr('data-value'));
      var w = $(".c_content").css("width");
      var h = $(".c_content").css("height");
      w = "-"+parseInt(w,10)/2+"px";
      h = "-"+parseInt(h,10)/2+"px";
      $(".c_content").css({"margin-left":w,"margin-top":h});
      $(".cover").css({
        "display": "block"
      });
    });
    $(".closeCover").on("click", function() {
      $(".cover").css({
        "display": "none"
      });
    });
  })
  </script>
</body>
</html>
