<!DOCTYPE html>
<html>
<head>
   <#include "/common/head.htm" />
  <link rel="stylesheet" href="/static/css/purchasing_goods_detail.css" media="screen" charset="utf-8">
</head>
<body>
  <#include "/common/nav.htm" />
  <div class="wrapperA">
    <!-- <div class="cur_postion">
      <span class="cp">当前位置:</span><a href="#">安全追溯</a><span class="gt">&gt;</span><a href="/edu/school/list.htm?source=2&reviewed=1">学校列表</a><span class="gt">&gt;</span><a href="#">采购品详情</a>
    </div> -->
    <h1 class="con-tt"><span class="title">采购品详情</span></h1>
    <div class="con-bd">
      <div class="imgs">
        <#if proLicenses??>
        	<#list proLicenses as proLicense>
        		 <img class="con-img" src="${(proLicense.licPic)!}" alt="" />
        	</#list>
        </#if>
       
      </div>
      <ul>
     	<li><label for="">名称:</label><span>${(proWaresDto.waresName)!}</span></li>
        <li><label for="">英文名称:</label><span>${(proWaresDto.enName)!}</span></li>
        <li><label for="">产品编码：</label><span>${(proWaresDto.customCode)!}</span></li>
        <li><label for="">产品分类：</label><span>${(proWaresDto.waresTypeStr)!}</span></li>
        <li><label for="">规格：</label><span>${(proWaresDto.spec)!}</span></li>
        <li><label for="">保质期:</label><span>${(proWaresDto.shelfLife)!}${(proWaresDto.unit)!}</span></li>
        <li><label for="">生产企业:</label><span>${(proWaresDto.manufacturer)!}</span></li>
        <li><label for="">产地:</label><span>${(proWaresDto.place)!}</span></li>
        <li><label for="">产品包装条码:</label><span>${(proWaresDto.barCode)!}</span></li>
        <!-- <li><label for="">单位名称:</label><span>上海程联餐饮有限公司</span></li>
        <li><label for="">单位地址:</label><span>上海市奉贤区海湾镇燎原农场燎星公路901号</span></li>
        <li><label for="">工商执照:</label><span>370282400002207-A</span></li>
        <li><label for="">食品生产证号:</label><span>QS321201022472</span></li>
        <li><label for="">食品流通证号:</label><span>QS321201022472</span></li>
        <li><label for="">食品经营许可证号码:</label><span>321281000096297</span></li>
        <li><label for="">餐饮服务证号:</label><span>459868466545864</span></li>
        <li><label for="">法定代表人:</label><span>李理</span></li>
        <li><label for="">联系方式:</label><span>13800138000</span></li> -->
      </ul>
    </div>


  </div>
   <#include "/common/footer.htm" />
       
  <script type="text/javascript">
    $(function(){
      // debugger;
      $(".nav").find("a").removeClass("cur");
      $(".nav").find("a:eq(1)").addClass("cur");
    })
  </script>
</body>
</html>
