<!DOCTYPE html>
<html>
<head>
   <#include "/common/head.htm" />
  <link rel="stylesheet" href="/static/css/purchasing_goods_detail.css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="/static/css/supplier_qualification.css" media="screen" charset="utf-8">
</head>
<body>
  <#include "/common/nav.htm" />
  <div class="wrapperA">
    <div class="cur_postion">
      <span class="cp">当前位置:&nbsp;</span><span class="gt">&gt;</span><a href="/edu/school/details.htm?source=${(dto.source)!}&customerId=${(dto.schoolId)!}">学校详情</a><span class="gt">&gt;</span><a href="/pro/wares/waresPages.htm?source=${(dto.source)!}&schoolId=${(dto.schoolId)!}&sourceId=${(dto.sourceId)!}">原料列表</a><span class="gt">&gt;</span><a href="#">原料详情</a>
    </div> 
    <h1 class="con-tt"><span class="title">原料详情</span></h1>
    <div class="con-bd">
      <div class="imgs">
        <#if proWaresDto.image??>
        	<img class="con-img" src="${(proWaresDto.image)!}" alt="" />
        <#else>
   	 		<img class="con-img" src="/static/img/default.png" alt="" />
        </#if>
       
      </div>
      <ul>
     	<li><label for="">名称:</label><span>${(proWaresDto.waresName)!}</span></li>
       <!--  <li><label for="">英文名称:</label><span>${(proWaresDto.enName)!}</span></li>
        <li><label for="">产品编码：</label><span>${(proWaresDto.customCode)!}</span></li> -->
        <li><label for="">产品分类：</label><span>${(proWaresDto.waresTypeStr)!}</span></li>
        <li><label for="">规格：</label><span>${(proWaresDto.spec)!}</span></li>
        <li><label for="">保质期:</label><span>${(proWaresDto.shelfLife)!}${(proWaresDto.unit)!}</span></li>
        <li><label for="">生产企业:</label><span>${(proWaresDto.manufacturer)!}</span></li>
        <li><label for="">产地:</label><span>${(proWaresDto.place)!}</span></li>
        <!-- <li><label for="">产品包装条码:</label><span>${(proWaresDto.barCode)!}</span></li> -->
        <#if proLicenses??>
        	<#list proLicenses as proLicense>
	        	<#if proLicense.licType != 3>
	        		<li><label for="">${(proLicense.licName)!}:</label><span>${(proLicense.licNo)!}</span><#if proLicense.licPic??><a class="img_nn" data-value="${(wwwdomain)!}${(proLicense.licPic)!}" href="###" style="color: #60ac62;">查看图片&gt;&gt;</a></#if></li>
	        	</#if>
        	</#list>
        </#if>
        <!-- <li><label for="">单位名称:</label><span>上海程联餐饮有限公司</span></li>
        <li><label for="">单位地址:</label><span>上海市奉贤区海湾镇燎原农场燎星公路901号</span></li>
        <li><label for="">工商执照:</label><span>370282400002207-A</span></li>
        <li><label for="">食品生产证号:</label><span>QS321201022472</span></li>
        <li><label for="">食品流通证号:</label><span>QS321201022472</span></li>
        <li><label for="">食品经营许可证号码:</label><span>321281000096297</span></li>
        <li><label for="">餐饮服务证号:</label><span>459868466545864</span></li>
        <li><label for="">法定代表人:</label><span>李理</span></li>
        <li><label for="">联系方式:</label><span>13800138000</span></li> -->
      </ul>
    </div>

  <div class="cover">
    <div class="c_content">
      <h1><span class="closeCover">×</span></h1>
      <img class="col_1" src="/static/img/qualification_20X200.png" alt="" />
    </div>
  </div>
  </div>
   <#include "/common/footer.htm" />
       
  <script type="text/javascript">
    $(function(){
      // debugger;
      $(".nav").find("a").removeClass("cur");
      $(".nav").find("a:eq(1)").addClass("cur");
      
    //图片弹层
      $(".img_nn").on("click",function(){
      	$(".col_1").attr("src",$(this).attr('data-value'));
        var w = $(".c_content").css("width");
        var h = $(".c_content").css("height");
        w = "-"+parseInt(w,10)/2+"px";
        h = "-"+parseInt(h,10)/2+"px";
        $(".c_content").css({"margin-left":w,"margin-top":h});
        $(".cover").css({
          "display": "block"
        });
      });
      $(".closeCover").on("click", function() {
        $(".cover").css({
          "display": "none"
        });
      });
    })
  </script>
</body>
</html>
