<!DOCTYPE html>
<html>
<head>
   <#include "/common/head.htm" />
  <link rel="stylesheet" href="/static/css/distribution_detail.css"  media="screen" charset="utf-8">
</head>
<body>
<#include "/common/nav.htm" />

  <div class="wrapperA">
    <div class="cur_postion">
      <span class="cp">当前位置:&nbsp;</span><span class="gt">&gt;</span><a href="/edu/school/details.htm?source=${(dto.source)!}&customerId=${(dto.customerId)!}">学校详情</a><span class="gt">&gt;</span><a href="/pro/ledger/findPage.htm?source=${(dto.source)!}&customerId=${(dto.customerId)!}&sourceId=${(dto.sourceId)!}">配送信息列表</a><span class="gt">&gt;</span><a href="">配送信息详情</a>
    </div>
    <div class="track_box">
      <div class="dis_info">
        <span class="d_1"><label for="">配送号：</label><span class="d_2">${(ledgerDto.wareBatchNo)!}</span></span>
        <span class="d_1"><label for="">配货日期：</label><span class="d_2"><#if ledgerDto.actionDate??>${ledgerDto.actionDate?string("yyyy-MM-dd")}</#if></span></span>
        <span class="d_1"><label for="">出发点：</label><span class="d_2"><a style="color: #60ac62;" href="/pro/supplier/detail.htm?id=${(dto.supplierId)!}&source=1">${(dto.supplierName)!}</a></span></span>
        <span class="d_1"><label for="">状态：</label><span class="d_2"><#if ledgerDto.haulStatus == 0>未配送 </#if><#if ledgerDto.haulStatus == 1>配送中</#if><#if ledgerDto.haulStatus == 2>已配送</#if></span></span>
      </div>
      <ul class="distribution_ul">
        <li class="head">
          <span class="ct1">原料</span>
          <span class="ct2">数量</span>
          <span class="ct3">数量单位</span>
          <span class="ct3">规格</span>
          <span class="ct3">保质期</span>
          <span class="ct4">生产日期</span>
          <span class="ct3">生产企业</span>
          <span class="ct4">原料供货者</span>
        </li>
        <#if ledgerDtos??>
        <#list ledgerDtos as ledgerDtos>
        	<li>
	          <span class="ct1"><a style="color: #60ac62;" href="/pro/wares/details.htm?id=${(ledgerDtos.waresId)!}">${(ledgerDtos.name)!}</a></span>
	          <span class="ct2">${(ledgerDtos.quantity)!}</span>
	          <span class="ct3">${(ledgerDtos.amountUnit)!}</span>
	          <span class="ct3">${(ledgerDtos.spec)!}</span>
	          <span class="ct3">${(ledgerDtos.shelfLife)!}${(ledgerDtos.unit)!}</span>
	          <span class="ct4"><#if ledgerDtos.productionDate??>${ledgerDtos.productionDate?string("yyyy-MM-dd")}</#if></span>
	          <span class="ct3">${(ledgerDtos.productionName)!}</span>
	          <span class="ct4"><a href="/pro/supplier/detail.htm?id=${(ledgerDtos.supplierId)!}&source=1">${(ledgerDtos.supplierName)!}</a></span>
	        </li>
        </#list>
        </#if>
      </ul>

      <div class="info">
        <p class="driver"><span>${(ledgerDto.driverName)!}</span></p>
        <p>出发点：<span><a style="color: #60ac62;" href="/pro/supplier/detail.htm?id=${(dto.supplierId)!}&source=1">${(dto.supplierName)!}</a></span></p>
        <p>出发时间：<span><#if ledgerDto.startTime??>${ledgerDto.startTime?string("yyyy-MM-dd HH:mm:ss")}</#if></span></p>
        <p>原料：<span><#if ledgerDtos??><#list ledgerDtos as ledgerDtos>${(ledgerDtos.name)!}&nbsp;</#list>
        </#if></span></p>
        <p>目的地：<span>${(ledgerDto.receiverName)!}</span></p>
        <p>到达时间：<span><#if ledgerDto.endTime??>${ledgerDto.endTime?string("yyyy-MM-dd HH:mm:ss")}</#if></span></p>
      </div>
      <div class="map">
      	<#if historyList ?? && (historyList?size > 0)>
			<!DOCTYPE html>
			<html>
			<head>
				<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
				<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
				<style type="text/css">
					body, html{width: 100%;height: 100%;margin:0;font-family:"微软雅黑";}
					#allmap{height:500px;width:100%;}
					#r-result{width:100%;}
				</style>
				<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=${(baiduAk)!}"></script>
				<title>添加/删除覆盖物</title>
			</head>
			<body>
				<div id="allmap"></div>
				<!-- <div id="r-result">
					<input type="button" onclick="add_overlay();" value="添加覆盖物" />
					<input type="button" onclick="remove_overlay();" value="删除覆盖物" />
				</div> -->
			</body>
			</html>
			<script type="text/javascript">
				// 百度地图API功能
				var map = new BMap.Map("allmap");
				
				
				//var marker = new BMap.Marker(new BMap.Point(121.462, 31.222)); // 创建点
				
				var polyline = new BMap.Polyline([
					<#if historyList ??>
						<#list historyList as history>
							<#if (history_index+1) < historyList?size>
								new BMap.Point(${(history.x)!},${(history.y)!}),
							<#else>
								new BMap.Point(${(history.x)!},${(history.y)!})
							</#if>
						</#list>
					</#if>
				], {strokeColor:"blue", strokeWeight:3, strokeOpacity:1});   //创建折线
					
				var points = [                          //创建7个点
                      <#if historyList ??>
						<#list historyList as history>
							<#if (history_index+1) < historyList?size>
								new BMap.Point(${(history.x)!},${(history.y)!}),
							<#else>
								new BMap.Point(${(history.x)!},${(history.y)!})
							</#if>
						</#list>
					</#if>
                  ];	
				
				var pointsFirst = [                          //创建7个点
                      <#if historyList ??>
						<#list historyList as history>
							<#if history_index==0>
								new BMap.Point(${(history.x)!},${(history.y)!})
							</#if>
						</#list>
					</#if>
                  ];				
				
				
				var point = map.centerAndZoom(pointsFirst,16);      // 初始化地图,用城市名设置地
				//var point = new BMap.Point(121.462, 31.222);
				map.centerAndZoom(point, 16);
				map.enableScrollWheelZoom(true);
				map.addControl(new BMap.NavigationControl());      //为地图添加鱼骨
				
				//添加覆盖物
				//function add_overlay(){
					//map.addOverlay(marker);            //增加点
					map.addOverlay(polyline);          //增加折线
					
					map.setViewport(points);　　　　　
				//}
			</script>      		
      	<#else>
      		<img alt="暂无轨迹" src="/static/img/mapDefault.jpg"/>
      	</#if>
      </div>
    </div>
  </div>

  <#include "/common/footer.htm" />
 <script type="text/javascript">
  $(function(){
    // debugger;
    $(".nav").find("a").removeClass("cur");
    $(".nav").find("a:eq(1)").addClass("cur");
  })
    </script>
</body>
</html>
