<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>通告公示</title>
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/dis_edu.css">
    </head>
    <body>
        <div class="header">
    		<div class="wrap">
    			<a class="logo" href="index.html">上海市中小学校校生午餐综合管理平台</a>
    			<div class="p_status">
    				<a class="p_center" href="pcenter.html">个人中心</a>  |  <a class="logout" href="###">退出</a>
    			</div>
    		</div>
    	</div>
        <div class="nav">
          <div class="wrap">
            <a class="" href="index.html">首页</a>
            <a class="" href="search_supplier.html">安全追溯</a>
            <a class="" href="index.html">菜谱</a>
            <a class="" href="index.html">健康宣教</a>
            <a class="cur" href="index.html">通告公示</a>
            <a class="" href="index.html">任务传达</a>
            <a class="" href="index.html">发布</a>
          </div>
        </div>
        <div class="breadcrumb">
            <span>当前位置:</span>
            <a href="#">公告通知</a>
            <span> &gt; </span>
            <a href="#">已发通知</a>
            <span> &gt; </span>
            <a href="#">未读通知详情</a>
        </div>
        <div class="main_wrap">

            <h2>未读通知详情</h2>
            <div class="content_wrap">
                <h1>关于食堂卫生解决管理方案</h1>
                <p> 发件人：市教委 </p>
                <p> 时间：2016年3月15日   10：00 </p>
                <span class="tips">未读:  13</span>
                <span class="tips">已读:  13</span>
                <div class="text">
                        <h2>关于食堂卫生解决管理方案</h3>

                    `近日，上海市食品药品监管局召开餐饮环节食品安全信息追溯管理现场推进会，要求全市食品安全监管部门和食品生产经营单位将食品安全信息追溯工作作为落实企业食品安全主体责任和创建国家食品安全城市工作的重要抓手。
                    　　据了解，《上海市食品安全信息追溯管理办法》自2015年10月1日正式实施以来初显成效。目前，已明确将粮食及其制品、乳品、食用油、水产品等9大类20个重点监管品种列为追溯目录，截至今年2月底，追溯平台上传数据企业总数近1.2万家，上传数据1200余万条，其中餐饮追溯系统在5个月内覆盖了5000多家餐饮企业，占整个上海市大中型餐饮企业的近一半。通过与行政许可数据对接，初步建成了标准企业库，初步实现了食品安全信息公众查询服务功能，监管人员和消费者可通过上海市食品安全网、手机APP、微信公众号、消费终端等多种方式和途径实时查询。
                    （摘编自中国医药报）`
                </div>
            </div>

        </div>
        <div class="footer">
    		上海市中小学校学生午餐综合管理平台<br>CopyRight© 2016上海市天坊信息技术有限公司
    	</div>
    </body>
</html>
