<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>通告公示</title>
        <link rel="stylesheet" href="/static/css/common.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/dis_edu.css">
    </head>
    <body>
<!--         <div class="header">
    		<div class="wrap">
    			<a class="logo" href="index.html">上海市中小学校校生午餐综合管理平台</a>
    			<div class="p_status">
    				<a class="p_center" href="pcenter.html">个人中心</a>  |  <a class="logout" href="###">退出</a>
    			</div>
    		</div>
    	</div>
        <div class="nav">
          <div class="wrap">
            <a class="" href="index.html">首页</a>
            <a class="" href="search_supplier.html">安全追溯</a>
            <a class="" href="index.html">菜谱</a>
            <a class="" href="index.html">健康宣教</a>
            <a class="cur" href="index.html">通告公示</a>
            <a class="" href="index.html">任务传达</a>
            <a class="" href="index.html">发布</a>
          </div>
        </div> -->
        
        <#include "/common/nav.htm" />
        
        <div class="breadcrumb">
            <span>当前位置:</span>
<!--             <a href="#">公告通知</a>
            <span> &gt; </span>
            <a href="#">已发通知</a> -->
            <span> &gt; </span>
            <a href="#">详情</a>
        </div>
        <div class="main_wrap">

            <h2>详情</h2>
            <div class="content_wrap">
                <h1>${(data.title)!}</h1>
                <p> 发件人：${(data.createName)!} </p>
                <p> 时间：${(data.createTime?string('yyyy-MM-dd'))!} </p>
                <#if isowner>
                	<span id="unread" class="tips">未读:  ${(readMap.unread)!0}</span>
                	<span id="readed" class="tips">已读:  ${(readMap.read)!0}</span>                
                </#if>
                <div class="text">
                        <h2>${(data.title)!}</h3>
						${(data.content)!}
                </div>
            </div>

            <div class="background unread">
                <div class=" content_wrap3">
                    <h2>未读${(readMap.read)!0}</h2><span class="close"><img src="/static/img/button_close.png" /></span>
                    <div class="content_body3">
                        <ul>
                        	<#if resultList ??>
                        		<#list resultList as data>
                        			<#if data.readstat == 0>
                        				<li>${(data.receiveName)!}</li>
                        			</#if>
                        		</#list>
                        	</#if>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="background readed">
                <div class=" content_wrap3">
                    <h2>已读${(readMap.unread)!0}</h2><span class="close"><img src="/static/img/button_close.png" /></span>
                    <div class="content_body3">
                        <ul>
                        	<#if resultList ??>
                        		<#list resultList as data>
                        			<#if data.readstat == 1>
                        				<li>${(data.receiveName)!}</li>
                        			</#if>
                        		</#list>
                        	</#if>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer">
    		上海市中小学校学生午餐综合管理平台<br>CopyRight© 2016上海市天坊信息技术有限公司
    	</div>
    </body>
        <script src="/static/js/jquery-2.1.3.min.js"></script>
        <script type="text/javascript">
            $(function(){

                $("#unread").click(function(){
                    $('.background').height($(document).height());
                    $(".background.unread").show();
                });

                $("#readed").click(function(){
                    $('.background').height($(document).height());
                    $(".background.readed").show();
                });

                $(".background .close").click(function(){
                    $(".background").hide();
                });

            });
        </script>    
</html>
