<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>通告公示</title>
        <link rel="stylesheet" href="/static/css/common.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/dis_edu.css">
        <link rel="stylesheet" href="/static/css/themes/default/default.css" />
        <link rel="stylesheet" href="/static/css/plugins/code/prettify.css" />

    </head>
    <body>
        <div class="header">
    		<div class="wrap">
    			<a class="logo" href="index.html">上海市中小学校校生午餐综合管理平台</a>
    			<div class="p_status">
    				<a class="p_center" href="pcenter.html">个人中心</a>  |  <a class="logout" href="###">退出</a>
    			</div>
    		</div>
    	</div>
        <div class="nav">
          <div class="wrap">
            <a class="" href="index.html">首页</a>
            <a class="" href="search_supplier.html">安全追溯</a>
            <a class="" href="index.html">菜谱</a>
            <a class="" href="index.html">健康宣教</a>
            <a class="cur" href="index.html">通告公示</a>
            <a class="" href="index.html">任务传达</a>
            <a class="" href="index.html">发布</a>
          </div>
        </div>
        <div class="breadcrumb">
            <span>当前位置：</span>
            <a href="#">公告通知</a>
            <span> &gt; </span>
            <a href="#">已发通知</a>
            <span> &gt; </span>
            <a href="#">通知详情</a>
        </div>
        <div class="main_wrap">

            <h2>通知详情</h2>
            <div class="content_wrap">

                <div class="tab_wrap">
                    <div class="tab_content_full">
                        <form action="" method="post">
                            <section class="line">
                                <label for="to">联系人:    </label>
                                <input type="text" name="to">
                                <span id="plus_bt">+</span>
                            </section>
                            <section class="line">
                                <label for="title">标题:    </label>
                                <input type="text" name="title">
                            </section>
                            <section class="text">
                                <label for="text">内容:    </label>
                                <div class="text_wrap">
                                    <textarea name="text" style="width:734px"></textarea>
                                </div>
                            </section>
                            <div class="subbt">
                                <a href="#">发布</a>
                                <a href="#">取消</a>
                            </div>
                            <div class="background">
                                <div class="select_panel">
                                    <h2>选择联系人</h2><span class="close"><img src="static/img/button_close.png" /></span>
                                    <div class="content_wrap">
                                        <section class="line">
                                            <input type="text" name="search">
                                            <input type="submit" name="name" value="搜索">
                                            <div class="checkwrap">
                                                <ul>
                                                    <li>
                                                        <label for="shisan">十三叔</label>
                                                        <input name="shisan" type="checkbox" value="436543" />
                                                    </li>
                                                    <li>
                                                        <label for="aa">有威</label>
                                                        <input name="aa" type="checkbox" value="" />
                                                    </li>
                                                    <li>
                                                        <label for="jiu">九姑娘</label>
                                                        <input name="jiu" type="checkbox" value="" />
                                                    </li>
                                                    <li>
                                                        <label for="aa">有威</label>
                                                        <input name="aa" type="checkbox" value="" />
                                                    </li>
                                                    <li>
                                                        <label for="jiu">九姑娘</label>
                                                        <input name="jiu" type="checkbox" value="" />
                                                    </li>
                                                    <li>
                                                        <label for="aa">有威</label>
                                                        <input name="aa" type="checkbox" value="" />
                                                    </li>
                                                    <li>
                                                        <label for="jiu">九姑娘</label>
                                                        <input name="jiu" type="checkbox" value="" />
                                                    </li>
                                                    <li>
                                                        <label for="aa">有威</label>
                                                        <input name="aa" type="checkbox" value="" />
                                                    </li>
                                                    <li>
                                                        <label for="jiu">九姑娘</label>
                                                        <input name="jiu" type="checkbox" value="" />
                                                    </li>
                                                    <li>
                                                        <label for="aa">有威</label>
                                                        <input name="aa" type="checkbox" value="" />
                                                    </li>
                                                    <li>
                                                        <label for="jiu">九姑娘</label>
                                                        <input name="jiu" type="checkbox" value="" />
                                                    </li>
                                                    <li>
                                                        <label for="aa">有威</label>
                                                        <input name="aa" type="checkbox" value="" />
                                                    </li>
                                                    <li>
                                                        <label for="jiu">九姑娘</label>
                                                        <input name="jiu" type="checkbox" value="" />
                                                    </li>
                                                    <li>
                                                        <label for="aa">有威</label>
                                                        <input name="aa" type="checkbox" value="" />
                                                    </li>
                                                    <li>
                                                        <label for="jiu">九姑娘</label>
                                                        <input name="jiu" type="checkbox" value="" />
                                                    </li>
                                                    <li>
                                                        <label for="aa">有威</label>
                                                        <input name="aa" type="checkbox" value="" />
                                                    </li>
                                                    <li>
                                                        <label for="jiu">九姑娘</label>
                                                        <input name="jiu" type="checkbox" value="" />
                                                    </li>
                                                    <li>
                                                        <label for="aa">有威</label>
                                                        <input name="aa" type="checkbox" value="" />
                                                    </li>
                                                    <li>
                                                        <label for="jiu">九姑娘</label>
                                                        <input name="jiu" type="checkbox" value="" />
                                                    </li>
                                                    <li>
                                                        <label for="aa">有威</label>
                                                        <input name="aa" type="checkbox" value="" />
                                                    </li>
                                                    <li>
                                                        <label for="jiu">九姑娘</label>
                                                        <input name="jiu" type="checkbox" value="" />
                                                    </li>
                                                    <li>
                                                        <label for="aa">有威</label>
                                                        <input name="aa" type="checkbox" value="" />
                                                    </li>
                                                    <li>
                                                        <label for="jiu">九姑娘</label>
                                                        <input name="jiu" type="checkbox" value="" />
                                                    </li>
                                                    <li>
                                                        <label for="aa">有威</label>
                                                        <input name="aa" type="checkbox" value="" />
                                                    </li>
                                                    <li>
                                                        <label for="jiu">九姑娘</label>
                                                        <input name="jiu" type="checkbox" value="" />
                                                    </li>
                                                    <li>
                                                        <label for="aa">有威</label>
                                                        <input name="aa" type="checkbox" value="" />
                                                    </li>
                                                    <li>
                                                        <label for="jiu">九姑娘</label>
                                                        <input name="jiu" type="checkbox" value="" />
                                                    </li>
                                                    <li>
                                                        <label for="aa">有威</label>
                                                        <input name="aa" type="checkbox" value="" />
                                                    </li>
                                                    <li>
                                                        <label for="jiu">九姑娘</label>
                                                        <input name="jiu" type="checkbox" value="" />
                                                    </li>
                                                    <li>
                                                        <label for="aa">有威</label>
                                                        <input name="aa" type="checkbox" value="" />
                                                    </li>
                                                    <li>
                                                        <label for="jiu">九姑娘</label>
                                                        <input name="jiu" type="checkbox" value="" />
                                                    </li>
                                                    <li>
                                                        <label for="aa">有威</label>
                                                        <input name="aa" type="checkbox" value="" />
                                                    </li>
                                                    <li>
                                                        <label for="jiu">九姑娘</label>
                                                        <input name="jiu" type="checkbox" value="" />
                                                    </li>

                                                </ul>
                                            </div>
                                        </section>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer">
    		上海市中小学校学生午餐综合管理平台<br>CopyRight© 2016上海市天坊信息技术有限公司
    	</div>
        <script src="static/js/jquery-2.1.3.min.js"></script>
        <script src="static/js/kindeditor-all-min.js"></script>
        <script src="static/js/lang/zh-CN.js"></script>
        <script src="static/js/plugins/code/prettify.js"></script>
        <script>

            KindEditor.ready(function(K) {
                var editor1 = K.create('textarea[name="text"]', {
                    cssPath : 'static/css/plugins/code/prettify.css',
                    allowFileManager : false,
                    minWidth:'550px',
                    height:'400px',
                    items : [
        'source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
        'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
        'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
        'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen',
        'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
        'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image', 'multiimage',
        'flash', 'media', 'insertfile', 'table', 'hr', 'emoticons', 'baidumap', 'pagebreak',
        'anchor', 'link', 'unlink', '|', 'about'
],
                    afterCreate : function() {
                        var self = this;
                        K.ctrl(document, 13, function() {
                            self.sync();
                            K('form[name=example]')[0].submit();
                        });
                        K.ctrl(self.edit.doc, 13, function() {
                            self.sync();
                            K('form[name=example]')[0].submit();
                        });
                    }
                });
                prettyPrint();
            });

            $(function(){
                $("#plus_bt").click(function(){
                    $(".background").show();
                });

                $(".background .close").click(function(){
                    $(".background").hide();
                });

            });

        </script>
    </body>
</html>
