
<!DOCTYPE html>
<html>
    <head>
<#include "/common/head.htm" />
        <link rel="stylesheet" href="/static/css/common.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/panel.css">
        <style type="text/css">
		a:link, a:visited {color:#333;}
		.page .page_to_go{border: 1px;}
		</style>
    </head>
    <body>
        
        <#include "/common/nav.htm" />
        
        <div class="breadcrumb">
            <span>当前位置:&nbsp;</span>
            <span> &gt; </span>
            <#if type == 3>
            	<a href="/info/index/${(type)!}.htm">健康宣教</a>
            </#if>
            <#if type == 1>
            	<a href="/info/index/${(type)!}.htm">通告公示</a>
            </#if>
        </div>
        <form id="myform" action="/info/index/${(type)!}.htm">
        	<input type="hidden" name="currPage" id="currPage" value="1"/>
        </form>
        <div class="wrapper">
            <div class="panel">
                <!-- <h2>通告公示 <a class="more" href="#">删除</a></h2> -->
                <#if type == 3>
	            	<h2>健康宣教</h2> 
	            </#if>
	            <#if type == 0>
	            	<h2>通告公示</h2> 
	            </#if>
                <ul class="list">
                	<#if pageList ??>
                		<#list pageList.getResults() as data>
		                    <li>
		                        <a style="color: #60ac62;" href="/info/details/${(data.id)!}.htm">${(data.title)!}</a>
		                        <span class="date">${(data.createTime?string('yyyy-MM-dd'))!}</span>
		                    </li>                			
                		</#list>
                	</#if>
                </ul>
                <#include "/common/page.htm" />
            </div>
        </div>
        <#include "/common/footer.htm" />
    </body>
    <script type="text/javascript">
   		$(function(){
   		  // 跳转指定页
   		  $('#jump_btn').on('click', function () {
   		      var jump_num = $('#jump_num').val();
   		      if (jump_num != '') {
   		          var reg = /^[-+]?\d*$/;
   		          if (!reg.test(jump_num)) {
   		              alert("对不起，您输入的跳转页数格式不正确!");//请将“整数类型”要换成你要验证的那个属性名称！
   		              return;
   		          }
   		          <#if pageList?? && pageList.total gt 0>
   		          if (jump_num > ${(pageList.totalPage)!}) {
   		              alert("对不起，您输入的跳转页数大于总页数!");
   		              return;
   		          }
   		          </#if>
   		      } else {
   		          alert("对不起，您输入的跳转页数!");
   		          return;
   		      }
   		      gotoPage(jump_num);
   		  });   			
	      // debugger;
	      $(".nav").find("a").removeClass("cur");
	      $(".nav").find("a:eq(2)").addClass("cur");
	    })
	    function gotoPage(page) {
	        $("#currPage").val(page);
	        $("#myform").submit();
	    }
    </script>    
</html>
