<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>通告公示</title>
        <link rel="stylesheet" href="/static/css/common.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/dis_edu.css">
        <link rel="stylesheet" href="/static/css/themes/default/default.css" />
        <link rel="stylesheet" href="/static/css/plugins/code/prettify.css" />

    </head>
    <body>
        
        <#include "/common/nav.htm" />
        <input id="wwwdomain" type="hidden" value="${(wwwdomain)!}">
        <div class="breadcrumb">
            <span>当前位置:</span>
            <a href="#">公告通知</a>
            <span> &gt; </span>
            <a href="#">已发通知</a>
            <span> &gt; </span>
            <a href="#">通知详情</a>
        </div>
        <div class="main_wrap">

            <h2>通知详情</h2>
            <div class="content_wrap">

                <div class="tab_wrap">
                    <div class="tab_content_full release_con">
                        <form id="submitForm" method="post">
                        	<input type="hidden" name="pic" id="pic" value=""/>
                            <section class="line">
                                <label for="to">标题:</label>
                                <input type="text" name="title">
                            </section>
                             <br>
                            <section class="line">
                                <label for="title">图片:    </label>
                                <input type="file" id="id-input-file-1"/>
                            </section>
                             <br>
                            <section class="line">
                                <label for="title"></label>
                                <img id="pic_show" alt="" src="" style="width:100px;height:100px;"/>
                            </section>                            
                            <br>
                            <section class="line">
                                <label>类别:    </label>
                                <label class="radio_select" for="healthgive">健康宣教</label>
                                <input id="healthgive" type="radio" name="type" value="3">
                                <label class="radio_select" for="notice">通告公示</label>
                                <input id="notice" type="radio" name="type" value="1">
                            </section>
                            <br>
                            <section class="text">
                                <label for="text">内容:    </label>
                                <div class="text_wrap">
                                    <script id="editor" type="text/plain" style="width:800px;height:300px;"></script>
                                </div>
                            </section>
                            <div class="subbt">
                               <a id="savebutton" href="#">发布</a>
                                <a href="#">取消</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer">
    		上海市中小学校学生午餐综合管理平台<br>CopyRight© 2016上海市天坊信息技术有限公司
    	</div>
        <script src="/static/js/jquery-2.1.3.min.js"></script>
        
	<link href="/static/umeditor1.2.2/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" charset="utf-8" src="/static/umeditor1.2.2/umeditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/umeditor1.2.2/umeditor.min.js"> </script>
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script type="text/javascript" charset="utf-8" src="/static/umeditor1.2.2/lang/zh-cn/zh-cn.js"></script>	       
    
		<link href="/static/uploadify/uploadify.css" rel="stylesheet" type="text/css" />
		<!-- <script type="text/javascript" src="${base}/plugins/uploadify/jquery-1.3.2.min.js"></script> -->
		<script type="text/javascript" src="/static/uploadify/swfobject.js"></script>
		<script type="text/javascript" src="/static/uploadify/jquery.uploadify.v2.1.4.min.js"></script>      
     
        
        <script>
            $(function(){
            	
            	var um = UM.getEditor('editor');
            	$("#savebutton").on('click',function(){
            		var ajaxParams = $("#submitForm").serialize();
    				var content = um.getContent();
    				$("#content").val(content);
    				$.ajax({
    					url : "/info/save.htm",
    					type:"POST",
    					data : ajaxParams,
    					dataType:'json',
    					success:function(data){
    						if(data.status==200){
								alert("发布成功");
								//window.location.href = "";
    						}else{
    							
    						}
    						
    					}
    				});
            	});            	
            	
                $(".radio_select").click(function() {
                    $(this).addClass("radio_active").removeClass("radio_normal");
                    $(this).siblings(".radio_select").removeClass("radio_active").addClass("radio_normal");
                });
                
            	//图片上传
            	$("#id-input-file-1").uploadify({
                    'uploader': '/static/uploadify/uploadify.swf',
                    'script':"/file/upload.htm",
                    'cancelImg': '/static/uploadify/cancel.png',
                    'queueID': 'fileQueue',
                    'auto': true,
                    //'multi':true,
                    'buttonText': 'select',
                    'simUploadLimit' : 1,
                    'sizeLimit':1024*1024*10,
                    'queueSizeLimit' : 1,
                    'fileDesc' : 'pictures',
                    'fileExt': '*.gif;*.png;*.jpg;*.jpge',
                    onComplete: function(event, queueID, fileObj, response, data) {
                        var dataObj = eval("("+response+")");
                        if(dataObj.status == 200){
                        	$("#pic_show").attr("src",$("#wwwdomain").val()+dataObj.filePath);
                        	$("#pic").attr("value",dataObj.filePath);
                        	$("#file-1").attr("checked","checked");
                        }
                    },
                    onSelect:function(){
                    },
                    onError: function(event, queueID, fileObj) {
                    	layer.alert("对不起," + fileObj.name + "上传失败!<br/>请选择小于10M的图片", {
            				shade: [0.9, '#000'],
            			    icon: 3,
            			    time: 3000 //2秒关闭（如果不配置，默认是3秒）
            			}); 
                    }
                });                
                
            });

        </script>
    </body>
</html>
