
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>通告公示</title>
        <link rel="stylesheet" href="/static/css/common.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/panel.css">
    </head>
    <body>

		<#include "/common/nav.htm" />

        <div class="breadcrumb">
            <span>当前位置:</span>
            <a href="#">通告公示</a>
            <span> &gt; </span>
            <a href="#">通知公告</a>
        </div>
        <div class="main_wrap">
            <div class="content_wrap">
                <p class="head"> 通知公告 </p>
                <div class="content">
                    <h1>${(data.title)!}</h1>
                    <p class="date"> ${(data.createTime?string('yyyy-MM-dd'))!} </p>
                    <div class="text">
						${(data.content)!}
                    </div>
                </div>
            </div>
            <div class="sidebar">
                    <h3 class="head yellow_head">通告公示 <a class="more" href="/info/index/${(data.type)!}.htm">更多>></a></h3>
                    <ul class="list">
                    	<#if pageList ??>
                    		<#list pageList.getResults() as data>
		                        <li>
		                            <a href="/info/details/${(data.id)!}.htm">${(data.title)!}</a>
		                            <span>${(data.createTime?string('yyyy-mm-dd'))!}</span>
		                        </li>
                    		</#list>
                    	</#if>
                        <!-- <li>
                            <a href="#">上海市食品安全信息追溯管理办法...</a>
                            <span>2016.4.29</span>
                        </li>
                        <li>
                            <a href="#">水产制品监督抽检信息  </a>
                            <span>2016.4.29</span>
                        </li>
                        <li>
                            <a href="#">对本市所有中小学学校进行食堂对...</a>
                            <span>2016.4.29</span>
                        </li>
                        <li>
                            <a href="#">本市集体用餐配送单位（盒饭、桶...</a>
                            <span>2016.4.29</span>
                        </li>
                        <li>
                            <a href="#">级食品安全风险监测情况（2015年...</a>
                            <span>2016.4.29</span>
                        </li>
                        <li>
                            <a href="#">级食品安全风险监测情况（2015年...</a>
                            <span>2016.4.29</span>
                        </li> -->
                    </ul>

                   <!--  <h3 class="head green_head">通告公示 <a class="more" href="#">更多>></a></h3>
                    <ul class="list">
                        <li>
                            <a href="#">上海市食品安全信息追溯管理办法...</a>
                            <span>2016.4.29</span>
                        </li>
                        <li>
                            <a href="#">水产制品监督抽检信息  </a>
                            <span>2016.4.29</span>
                        </li>
                        <li>
                            <a href="#">对本市所有中小学学校进行食堂对...</a>
                            <span>2016.4.29</span>
                        </li>
                        <li>
                            <a href="#">本市集体用餐配送单位（盒饭、桶...</a>
                            <span>2016.4.29</span>
                        </li>
                        <li>
                            <a href="#">级食品安全风险监测情况（2015年...</a>
                            <span>2016.4.29</span>
                        </li>
                        <li>
                            <a href="#">级食品安全风险监测情况（2015年...</a>
                            <span>2016.4.29</span>
                        </li>
                    </ul> -->
            </div>
        </div>
        <div class="footer">
    		上海市中小学校学生午餐综合管理平台<br>CopyRight© 2016上海市天坊信息技术有限公司
    	</div>
    </body>
</html>
