
<!DOCTYPE html>
<html>
    <head>
        <head>
        <#include "/common/head.htm" />
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/panel.css">
    </head>
    <body>

		<#include "/common/nav.htm" />

        <div class="breadcrumb">
            <span>当前位置：</span>
            <span> &gt; </span>
            <#if data.type == 3>
            	<a href="/info/index/${(data.type)!}.htm">健康宣教</a>
            </#if>
            <#if data.type == 1>
            	<a href="/info/index/${(data.type)!}.htm">通告公示</a>
            </#if>   
 		</div>
        <div class="main_wrap">
            <div class="content_wrap">
                <p class="head"><#if data.type == 3> 健康宣教</#if> <#if data.type == 1>通告公示 </#if> </p>
                <div class="content">
                    <h1>${(data.title)!}</h1>
                    <p class="date"> ${(data.createTime?string('yyyy-MM-dd'))!} </p>
                    <div class="text">
                    	<#if data.pic?if_exists>
                    		<img alt="" src="${(wwwdomain)!}${(data.pic)!}" style="width: 400px;height:300px;text-align: center;"/>
                    	</#if>
                    	
						${(data.content)!}
                    </div>
                </div>
            </div>
            <div class="sidebar">
                    <h3 class="head yellow_head"><#if data.type == 3> 健康宣教</#if> <#if data.type == 1>通告公示 </#if><a class="more" href="/info/index/${(data.type)!}.htm">更多>></a></h3>
                    <ul class="list">
                    	<#if pageList ??>
                    		<#list pageList.getResults() as data>
		                        <li>
		                            <a href="/info/details/${(data.id)!}.htm">${(data.title)!}</a>
		                            <span>${(data.createTime?string('yyyy-MM-dd'))!}</span>
		                        </li>
                    		</#list>
                    	</#if>
                        <!-- <li>
                            <a href="#">上海市食品安全信息追溯管理办法...</a>
                            <span>2016.4.29</span>
                        </li>
                        <li>
                            <a href="#">水产制品监督抽检信息  </a>
                            <span>2016.4.29</span>
                        </li>
                        <li>
                            <a href="#">对本市所有中小学学校进行食堂对...</a>
                            <span>2016.4.29</span>
                        </li>
                        <li>
                            <a href="#">本市集体用餐配送单位（盒饭、桶...</a>
                            <span>2016.4.29</span>
                        </li>
                        <li>
                            <a href="#">级食品安全风险监测情况（2015年...</a>
                            <span>2016.4.29</span>
                        </li>
                        <li>
                            <a href="#">级食品安全风险监测情况（2015年...</a>
                            <span>2016.4.29</span>
                        </li> -->
                    </ul>

                   <!--  <h3 class="head green_head">通告公示 <a class="more" href="#">更多>></a></h3>
                    <ul class="list">
                        <li>
                            <a href="#">上海市食品安全信息追溯管理办法...</a>
                            <span>2016.4.29</span>
                        </li>
                        <li>
                            <a href="#">水产制品监督抽检信息  </a>
                            <span>2016.4.29</span>
                        </li>
                        <li>
                            <a href="#">对本市所有中小学学校进行食堂对...</a>
                            <span>2016.4.29</span>
                        </li>
                        <li>
                            <a href="#">本市集体用餐配送单位（盒饭、桶...</a>
                            <span>2016.4.29</span>
                        </li>
                        <li>
                            <a href="#">级食品安全风险监测情况（2015年...</a>
                            <span>2016.4.29</span>
                        </li>
                        <li>
                            <a href="#">级食品安全风险监测情况（2015年...</a>
                            <span>2016.4.29</span>
                        </li>
                    </ul> -->
            </div>
        </div>
        <#include "/common/footer.htm" />
    </body>
    <script>
		$(function(){	
	      // debugger;
	      $(".nav").find("a").removeClass("cur");
	      $(".nav").find("a:eq(2)").addClass("cur");
	    })
    </script>   
</html>
