<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,user-scalable=no" />
    <!-- <title>静安实验小学食堂</title> -->
    <link href="/static/css/style.css" rel="stylesheet" />
    <script src="/static/js/jquery-2.1.3.min.js"></script>
  </head>
<body>
	<section class="aptitude">
		<ul>
			<li><label>单位名称</label><span>${(infoObj.name)!}</span></li>
			<li><label>单位地址</label><span>${(infoObj.address)!}</span></li>
			<li><label>联系人</label><span>${(infoObj.relationer)!}</span></li>
			<li><label>联系方式</label><span>${(infoObj.mobile)!}</span></li>
		</ul>
	</section>
	<section class="tablecell">
		<ul>
			<#if resultList ??>
				<#list resultList as result>
					<li><a href="#" data-path="${(result.licPic)!}" data-name="${(result.licName)!}" onclick="loadImage(this);"></a><label>${(result.licName)!}</label><span>${(result.licNo)!}</span></li>		
				</#list>
			</#if>
<!-- 			<li><a href="###"></a><label>工商营业执照</label><span>2012310115320026</span></li>
			<li><a href="###"></a><label>组织机构代码证</label><span>2012310115320026</span></li>
			<li><a href="###"></a><label>税务登记证</label><span>512512199012204848</span></li>
			<li><a href="###"></a><label>食品经营许可证</label><span>沪餐证字 23231313232313132323131323231313</span></li>
			<li><a href="###"></a><label>食品流通许可证</label><span>512512199012204848</span></li>
			<li><a href="###"></a><label>食品生产许可证</label><span>512512199012204848</span></li>
			<li><a href="###"></a><label>餐饮服务许可证</label><span>沪餐证字 2012310115320026201231011532002620123101153200262012310115320026</span></li>
			<li><a href="###"></a><label>法定代表/负责人/业主证件</label><span>2012310115320026</span></li>
 -->		</ul>
	</section>
	<!-- 当委托学校食堂和学校食堂都有数据的时候，原料供货者只显示在委托学校食堂下 -->
	<#if companyType==1 && supplierId ??>
	
	<#else>
		<#if suppliList?? && (suppliList?size>0)>
			<section class="aptitude_c">
				<h2>原料供货者</h2>
				<section class="tablecell">
					<ul>
						<#if suppliList ?? && suppliList?size gt 0>
							<#list suppliList as suppli>
								<#if suppli_index lt 3>
								<li class="break-line">
									<a class="link" href="/wap/supplier/index.htm?companyType=2&relationId=${(suppli.id)!}"></a>
									<label>${(suppli.supplierName)!}</label>
									<span>单位地址：${(suppli.address)!}</span>
								</li>
								</#if>
							</#list>
						</#if>
		 			</ul>
		 			<#if suppliList ?? && suppliList?size gt 3>
		 				<div class="load_more gr"><a href="/wap/supplier/more/${(supplierId)!}.htm">查看其它供应商</a></div>
		 			</#if>
					
				</section>
			</section>
		</#if>		
	</#if>
	
</body>
<script>
	$(function(){
	})
</script>
<script type="text/javascript" src="/static/js/loadImage.js"></script>
</html>
