<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,user-scalable=no" />
<link href="/static/css/style.css" rel="stylesheet" />
<script src="/static/js/jquery-2.1.3.min.js"></script>
</head>
<body>
	<section class="dp">
		<ul>
			<#if dataList ??>
				<#list dataList as data>
					<li>
						<div class="bar_t">
							<span>${(data.supplyDate)!}  周${(data.weekName)!}</span><span>${(data.supplyPhase)!}</span><span class="school">${(data.schoolName)!}</span>
						</div>
						<div class="tag_m">
							<#assign dishes = data.dishes>
							<#list dishes?split("#") as data>
								<#if data !="">
									<p>${(data)!}</p>	
								</#if>
							  
							</#list>
							<!-- <p>清炒鱼片</p>
							<p>番茄时蔬米饭鸡汤</p>
							<p>米饭</p> -->
						</div>
						<div class="score">
							<span>
								<i>口味</i><img src="/static/img/star${(data.flavor)!}.png" border="0"></span><span>
								<i>服务</i><img src="/static/img/star${(data.health)!}.png" border="0"></span><span>
								<i>卫生</i><img src="/static/img/star${(data.weights)!}.png" border="0"></span>
						</div>
					</li>					
				</#list>
			</#if>
		</ul>
	</section>
</body>
<script>
	$(function() {

	})
</script>
</html>
