<!-- <#assign gradeList = {"一年级":1,"二年级":2,"三年级":3,"四年级":4,"五年级":5,"六年级":6,"七年级":7,"八年级":8,"九年级":9}> -->

<!-- <#assign gradeList = {"国内班":0,"国际班":1,"教工 ":2}> -->

<#assign gradeList = {"国内班":0,"国际班":1}>

<#assign gradeScList = {"国内班":0,"国际班":1}>

<#assign gradeScValueList = {"0":"国内班","1":"国际班"}>

<!-- 证书类型 0:餐饮服务证、1:食品经营许可证、2:食品流通证、3:食品生产证、4:工商执照5：组织机构代码6：税务登记证7:检测检验报告8：商品图片9：身份证10：港澳居民来往内地通行证11：台湾居民往来内地通行证12：其他 -->
 <!-- 学校食堂详情： -->
<#assign shitangList = [0,4]/>
<!-- 委托经营单位： -->
<#assign weituogysList = [0,4]/>
<!-- 原料详情： -->
<#assign yuanliaoList = [8,12]/>
<!-- 原料供货者详情： -->
<#assign yuanliaogysList = [2,3]/>