<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,user-scalable=no" />
    <title>供应商资质</title>
    <link href="/static/css/style.css" rel="stylesheet" />
    <script src="/static/js/jquery-2.1.3.min.js"></script>
  </head>
<body>
	<header class="navgat"><a class="back" href="/wap/ledger/list/${(resultDto.receiverId)!}.htm"></a>配送信息</header>
	<div class="dispatching_box">
		<ul>
			<li><a href="##"></a><p>配送号：${(resultDto.wareBatchNo)!}<br>配送日期：${(resultDto.actionDate?string('yyyy-MM-dd'))!}</p>
				<#if resultDto.haulStatus == 0>
					<i class="notstart">未配送</i>
				</#if>
				<#if resultDto.haulStatus == 1>
					<i class="started">配送中</i>
				</#if>
				<#if resultDto.haulStatus == 2>
					<i class="end">已配送</i>
				</#if>	
			</li>
		</ul>
	</div>
	
	<div class="dispatching_c_box">
		<div class="driverinfo_box">
			<ul>
				<li>${(resultDto.driverName)!}</li>
				<li><label>出发地：</label><span>${(supplierDto.supplierName)!}</span></li>
				<li>
					<label>货物：</label>
					<span>
						<#if resultDto ?? && resultDto.getResltList() ??>
							<#list resultDto.getResltList() as data>
									<#if (data_index+1) < resultDto.getResltList()?size>
										${(data.name)!} 、
									<#else>
										${(data.name)!} 
									</#if>							
							</#list>
						</#if>
					</span>
				</li>
				<li><label>目的地：</label><span>${(resultDto.receiverName)!}</span></li>
			</ul>
			<div class="timeinfo">
				<p>
					<span>出发时间</span>
					<span>${(resultDto.startTime?string('HH:mm'))!}</span>
					<span>${(resultDto.startTime?string('yyyy-MM-dd'))!}</span>
				</p>
				<p>
					<span>到达时间</span>
					<span>${(resultDto.endTime?string('HH:mm'))!}</span>
					<span>${(resultDto.endTime?string('yyyy-MM-dd'))!}</span>
				</p>
			</div>
		</div>
      <div class="map">
      	<#if historyList ?? && (historyList?size > 0)>
			<!DOCTYPE html>
			<html>
			<head>
				<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
				<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
				<style type="text/css">
					body, html{width: 100%;height: 100%;margin:0;font-family:"微软雅黑";}
					#allmap{height:500px;width:100%;}
					#r-result{width:100%;}
				</style>
				<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=${(baiduAk)!}"></script>
				<title>添加/删除覆盖物</title>
			</head>
			<body>
				<div id="allmap"></div>
				<!-- <div id="r-result">
					<input type="button" onclick="add_overlay();" value="添加覆盖物" />
					<input type="button" onclick="remove_overlay();" value="删除覆盖物" />
				</div> -->
			</body>
			</html>
			<script type="text/javascript">
				// 百度地图API功能
				var map = new BMap.Map("allmap");
				
				
				//var marker = new BMap.Marker(new BMap.Point(121.462, 31.222)); // 创建点
				
				var polyline = new BMap.Polyline([
					<#if historyList ??>
						<#list historyList as history>
							<#if (history_index+1) < historyList?size>
								new BMap.Point(${(history.x)!},${(history.y)!}),
							<#else>
								new BMap.Point(${(history.x)!},${(history.y)!})
							</#if>
						</#list>
					</#if>
				], {strokeColor:"blue", strokeWeight:3, strokeOpacity:1});   //创建折线
					
				var points = [                          //创建7个点
                      <#if historyList ??>
						<#list historyList as history>
							<#if (history_index+1) < historyList?size>
								new BMap.Point(${(history.x)!},${(history.y)!}),
							<#else>
								new BMap.Point(${(history.x)!},${(history.y)!})
							</#if>
						</#list>
					</#if>
                  ];	
				
				var pointsFirst = [                          //创建7个点
                      <#if historyList ??>
						<#list historyList as history>
							<#if history_index==0>
								new BMap.Point(${(history.x)!},${(history.y)!})
							</#if>
						</#list>
					</#if>
                  ];				
				
				
				var point = map.centerAndZoom(pointsFirst,16);      // 初始化地图,用城市名设置地
				//var point = new BMap.Point(121.462, 31.222);
				map.centerAndZoom(point, 16);
				map.enableScrollWheelZoom(true);
				map.addControl(new BMap.NavigationControl());      //为地图添加鱼骨
				
				//添加覆盖物
				//function add_overlay(){
					//map.addOverlay(marker);            //增加点
					map.addOverlay(polyline);          //增加折线
					
					map.setViewport(points);　　　　　
				//}
			</script>      		
      	<#else>
      		<img alt="暂无轨迹" src="/static/img/mapDefault.jpg"/>
      	</#if>
      </div>
		<div class="goodsinfo_box">
			<ul>
				<#if resultDto ?? && resultDto.getResltList() ??>
					<#list resultDto.getResltList() as data>
						<li>
						<span>${(data.name)!}</span><br>
						数量：${(data.quantity)!}${(data.spce)!}<br>
						生产日期：
						<#if data.productionDate ??>
							${data.productionDate?string('yyyy-MM-dd')}
						</#if>
						<br>
						生产企业：${(data.productionName)!}<br>
						采购供应商：${(data.supplierName)!}
						</li>					
					</#list>
				</#if>			
<!-- 				<#if resultDto ?? && resultDto.getWareList() ??>
					<#list resultDto.getWareList()  as data>
						<li>
						<span>${(data.waresName)!}</span><br>
						数量：50kg<br>
						生产日期：20160530<br>
						生产企业：${(data.waresName)!}<br>
						采购供应商：${(data.waresName)!}
						</li>
					</#list>
				</#if>			
 -->				<!-- <li><span>猪肉</span><br>数量：50kg<br>生产日期：20160530<br>生产企业：爱森猪肉厂<br>采购供应商：爱森猪肉厂</li> -->
			</ul>
		</div>
	</div>
</body>
<script>
	$(function(){
	})
</script>
</html>
