<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,user-scalable=no" />
    <title>点评</title>
    <link href="/static/css/style.css" rel="stylesheet" />
    <script src="/static/js/jquery-2.1.3.min.js"></script>
  </head>
<body>
<header class="searchbar"><input id="schoolName" type="text" placeholder="请输入关键字"></header>
<section class="tablecell">
	<ul id="schoolList">
		<#if dataList ??>
			<#list dataList as data>
				<#if data_index lte 100>
				<li><a data-school="${(data.id)!}" onclick="checkSchool(this)" href='##'><label>${(data.schoolName)!}</label></a></li>
				</#if>
			</#list>
		</#if>
	</ul>
</section>
<script type="text/javascript">
$(function(){
	$("#schoolName").bind("keyup",function(){
		var schoolName = $("#schoolName").val();
		var dataParame = {schoolName:schoolName};
		$.ajax({
			url:'wap/school/search.htm',
			type:"POST",
			data : dataParame,
			dataType:'json',
			success:function(data){
				var schoolList = $("#schoolList");
				schoolList.empty();				
				$.each(data.data, function(index, item) {
					$("#schoolList").append("<li><a data-school="+item['id']+" onclick='checkSchool(this)' href='##'><label>"+item['schoolName']+"</label></a></li>");
					//$("#schoolList").append("<tr><td><a href='/wap/school/details/"+item['id']+".htm'>"+item['schoolName']+"</a></td></tr>");	
				});
			}
		});
	});
});


function checkSchool(_this){
	var schoolId = $(_this).attr("data-school");
	$.ajax({
		url:'wap/school/check.htm?schoolId='+schoolId,
		type:"POST",
		dataType:'json',
		success:function(data){
			if(data.status == 500){
				alert("已经关注过,跳转至该学校");
				window.location.href = "/wap/school/school/"+data.data+".htm";
			}else{
				window.location.href = "/wap/school/details/"+schoolId+".htm";
			}
		}
	});
}
</script>
</body>
</html>