<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,user-scalable=no" />
    <title>点评</title>
    <link href="/static/css/style.css" rel="stylesheet" />
    <script src="/static/js/jquery-2.1.3.min.js"></script>
  </head>
<body>
	<header class="navgat"><a class="back" href="javascript:window.history.go(-1);"></a>点评<a class="done" href="###">完成</a></header>
	<section class="dp">
		<ul>
			<li>
				<div class="bar_t">
					<span>${(proPackageSto.supplyDate?string("yyyy-MM-dd"))!}</span>
					<span>${(proPackageSto.packageName)!}</span>
					<span class="school">${(schoolDto.schoolName)!}</span>
				</div>
				<div class="tag_m">
					<#if proPackageSto ??>
						<#if proPackageSto.proDishesDtos ??>
							<#list proPackageSto.proDishesDtos as data>
								<#assign dishes = dishes + data.waresName+"#">
								<p>${(data.waresName)!}</p>			
							</#list>
							<input id="dishes" name="dishes" type="hidden" value="${(dishes)!}">
						</#if>
					</#if>
					<!-- <p>清炒鱼</p><p>时蔬</p><p>清炒鱼片</p><p>时蔬米饭</p><p>清炒片</p><p>时蔬</p><p>番鸡蛋汤</p><p>饭</p><p>清炒鱼</p><p>时蔬</p><p>番鸡蛋汤</p><p>米饭</p><p>清炒鱼片</p><p>番茄时蔬米饭鸡汤</p><p>米饭</p> -->
				</div>
			</li>
		</ul>
	</section>
	<section class="dp_c">
		<h2>综合评价</h2>
		<div class="con">
			<div class="row"><label>口味</label><ul id="flavor" score="0"><li></li><li></li><li></li><li></li><li></li></ul></div>
			<div class="row"><label>卫生</label><ul id="health" score="0"><li></li><li></li><li></li><li></li><li></li></ul></div>
			<div class="row"><label>份量</label><ul id="weights" score="0"><li></li><li></li><li></li><li></li><li></li></ul></div>
		</div>
	</section>
</body>
<input id="schoolName" name="schoolName" type="hidden" value="${(schoolDto.schoolName)!}">
<input id="schoolId" name="schoolId" type="hidden" value="${(schoolDto.id)!}">
<input id="supplyDate" name="supplyDate" type="hidden" value="${(proPackageSto.supplyDate?string('yyyy-MM-dd'))!}">
<script>
	$(function(){
		$('.con .row ul').on('click', 'li', function(){
			$(this).siblings().removeClass('cur')
			$(this).prevAll().andSelf().addClass('cur')
			$(this).closest('ul').attr('score',$(this).index() + 1)
		})
		$('.done').on('click', 'li', function(){
			console.log($('#flavor').attr('score'))
			console.log($('#health').attr('score'))
			console.log($('#weights').attr('score'))
		});
		$('.done').on('click',function(){
			var packageId = "${(proPackageSto.id)!}";
			
			var flavor = $('#flavor').attr('score');
			var health = $('#health').attr('score');
			var weights = $('#weights').attr('score');
			
			var schoolId = $("#schoolId").val();
			var schoolName = $("#schoolName").val();
			var supplyDate = $("#supplyDate").val();
			
			var dishes = $("#dishes").val();
			
			var dataParam = {dishes:dishes,supplyDate:supplyDate,schoolId:schoolId,schoolName:schoolName,packageId:packageId,flavor:flavor,health:health,weights:weights};
			$.ajax({
				url:'/wap/comment/comment.htm',
				type:"POST",
				data : dataParam,
				dataType:'json',
				success:function(data){
					if(data.status==200){
						window.location.href = "/wap/comment/index.htm";
					}else{
						
					}					
				}
			});				
		})		
	})
</script>
</html>
