<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,user-scalable=no" />
    <title>原料</title>
    <link href="/static/css/style.css" rel="stylesheet" />
    <script src="/static/js/jquery-2.1.3.min.js"></script>
  </head>
<body>
<input id="wwwdomain" type="hidden" value="${(wwwdomain)!}"/>
<header class="searchbar">
		<select id="waresType" onchange="changeType(this)">
			<option value="">分类</option>
			<#if productClass?exists>			
                <#list productClass as data>
                	<option value="${(data.waresType)!}">${(data.waresName)!}</option>
                </#list>
            </#if>			
		</select>
		<input class="gs" id="waresName" type="text" placeholder="请输入关键字">
</header>
<div class="purchasing_box">
		<ul id="purchasesList">
		<#if resultList ??>
			<#list resultList as data>
				<li><a class="link" href="/wap/purchases/details/${(data.id)!}.htm">
					<img src="${(wwwdomain)!}${(data.image)!}" border="0">
					<p>${(data.waresName)!}</p>
					<span>原料分类：${(data.waresTypeStr)!}</span>
					<span class="weight">数量单位：${(data.amountUnit)!}</span>					
<!-- 					<span>产品编号：${(data.customCode)!}</span>
					<span class="weight">规格：${(data.spec)!}</span> -->
					</a>
				</li>
				<!-- <li><label>${(data.waresName)!}</label></li> -->
			</#list>
		</#if>
	</ul>
</div>
<script type="text/javascript">
$(function(){
	$("#waresName").bind("keyup",function(){
		loadFunction();
	});
});

function changeType(objThis){
	loadFunction();
}

function loadFunction(){
	var waresType =  $("#waresType").find("option:selected").val();;
	var waresName = $("#waresName").val();
	var dataParame = {waresName:waresName,waresType:waresType};
	$.ajax({
		url:'/wap/purchases/search/${(schoolId)!}.htm',
		type:"POST",
		data : dataParame,
		dataType:'json',
		success:function(data){
			var schoolList = $("#purchasesList");
			var wwwdomain = $("#wwwdomain").val();
			schoolList.empty();				
			$.each(data.data, function(index, item) {
				//<li><img src="static/img/food_simple.jpg" border="0"><p>红枣</p><span>产品编号：86910108</span><span class="weight">5g</span></li>
				//$("#purchasesList").append("<li><label>"+item['waresName']+"</label></li>");
				//<img src='/static/img/food_simple.jpg' border='0'>
				$("#purchasesList").append("<li><a href='/wap/purchases/details/"+item['id']+".htm'><img src="+wwwdomain+""+item['image']+" border='0'><p>"+item['waresName']+"</p><span>产品编号："+item['customCode']+"</span><span class='weight'>规格："+item['spec']+"</span></a></li>");
			});
		}
	});
}

</script>
</body>
</html>