<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,user-scalable=no" />
    <title>供应商列表</title>
    <link href="/static/css/style.css" rel="stylesheet" />
    <script src="/static/js/jquery-2.1.3.min.js"></script>
  </head>
<body>
	<header class="navgat"><a class="back" href="##" onclick="history.go(-1)"></a>原料供货者</header>
	<header class="searchbar"><input id="suppliName" name="suppliName" type="text" placeholder="请输入关键字"></header>
	<section class="tablecell">
		<ul id="supplierList">
			<#if suppliList ??>
				<#list suppliList as suppli>
					<li class="break-line"><a href="/wap/supplier/index.htm?companyType=2&relationId=${(suppli.id)!}"></a><label>${(suppli.supplierName)!}</label><span>单位地址：${(suppli.address)!}</span></li>
				</#list>
			</#if>
			
		</ul>
		<!-- <div class="load_more">显示更多供应商</div> -->
	</section>
</body>
<script type="text/javascript">
$(function(){
	$("#suppliName").bind("keyup",function(){
		var suppliName = $("#suppliName").val();
		var dataParame = {suppliName:suppliName};
		$.ajax({
			url:'/wap/supplier/search/${(supplierId)!}.htm',
			type:"POST",
			data : dataParame,
			dataType:'json',
			success:function(data){
				var supplierList = $("#supplierList");
				supplierList.empty();				
				$.each(data.data, function(index, item) {
					$("#supplierList").append("<li class='break-line'><a href='/wap/supplier/index.htm?companyType=2&relationId="+item['id']+"'></a><label>"+item['supplierName']+"</label><span>单位地址："+item['address']+"</span></li>");
				});
			}
		});
	});
});
</script>
</html>
