<!DOCTYPE html>
<html>
    <head>
<#include "/common/head.htm" />
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/dis_edu.css">
    </head>
    <body>
        <!-- <div class="header">
    		<div class="wrap">
    			<a class="logo" href="index.html">上海市中小学校校生午餐综合管理平台</a>
    			<div class="p_status">
    				<a class="p_center" href="pcenter.html">个人中心</a>  |  <a class="logout" href="###">退出</a>
    			</div>
    		</div>
    	</div>
        <div class="nav">
          <div class="wrap">
            <a class="" href="index.html">首页</a>
            <a class="cur" href="search_supplier.html">安全追溯</a>
            <a class="" href="index.html">菜谱</a>
            <a class="" href="index.html">健康宣教</a>
            <a class="" href="index.html">通告公示</a>
            <a class="" href="index.html">任务传达</a>
            <a class="" href="index.html">发布</a>
          </div>
        </div> -->
        <#include "/common/nav.htm" />
        <div class="breadcrumb">
        	<span>当前位置:&nbsp;</span>
            <span> &gt; </span>
           <#if dto.reviewed == 1>
				<a href="/edu/school/checkList.htm?source=${(dto.source)!}&reviewed=${(dto.reviewed)!}">审批通过单位</a>
            </#if>
            <#if dto.reviewed == 2>
              	<a href="/edu/school/checkList.htm?source=${(dto.source)!}&reviewed=${(dto.reviewed)!}">审批不通过单位</a>
            </#if>
            <span> &gt; </span>
	        <a href="#">单位详情</a>
        </div>
        <div class="main_wrap">

            <#if dto.reviewed == 1>
				 <h2>审批通过单位</h2>
            </#if>
            <#if dto.reviewed == 2>
              	 <h2>审批不通过单位</h2>
            </#if>
            <div class="content_wrap">
                <div class="tab_wrap">
                    <ul class="side_menu">
                        <li class="active">信息</li>
                       <a href="/edu/school/license.htm?relationId=${(dto.id)!}&schoolName=${(dto.schoolName)!}&reviewed=${(dto.reviewed)!}&supplierName=${(dto.supplierName)!}"><li>图片</li></a>
                    </ul>
                    <div class="tab_content">
                    <#if proSupplierDto.supplierName??>
                    	<h1>${(proSupplierDto.supplierName)!}</h1>
                    	<#if proSupplierDto.reviewed == 1>
                    	<div class="status">
                            <span>审核状态：已通过</span>
                        </div>
                        </#if>
                        <#if proSupplierDto.reviewed == 2>
                    	<div class="status">
                            <span style="background-color: red;">审核状态：未通过</span>
                        </div>
                        </#if>
                        <h2>基本信息</h2>
                        <p> 地址：${(proSupplierDto.address)!} </p>
                        <p> 联系人姓名：${(proSupplierDto.corporation)!} </p>
                        <p> 电话：${(proSupplierDto.contactWay)!} </p>

                         <#if (proLicenses??) && (proLicenses?size>0)>
	                        <h2>证件类型</h2>
	                        <#list proLicenses as proLicense>
		                        <#if (proLicense.licNo??) && (proLicense.licNo?length > 0)>
		                        	<p> ${(proLicense.licName)!}： ${(proLicense.licNo)!} </p>
		                        </#if>
	                        </#list>
                        </#if>
                    </#if>
                    <div class="subbt">
	                    <#if proSupplierDto.reviewed == 1>
							 <a id="disNotPass" style="cursor:pointer;">不通过</a>
			            </#if>
			            <#if proSupplierDto.reviewed == 2>
			              	 <a id="disPass" style="cursor:pointer;">通过</a>
			            </#if>
			        </div>
                        <!-- <h1>济南鲁伊肉类有限公司</h1>
                        <div class="status">
                            <span>审核状态：已通过</span>
                        </div>
                        <h2>基本信息</h2>
                        <p> 地址：兴化市工业园 </p>
                        <p> 联系人姓名：何娟 </p>
                        <p> 电话：133594649565 </p>

                        <h2>证件类型</h2>
                        <p> 食品经营许可证： 455674799 </p>
                        <p> 食品流通证号： 876554563 </p>
                        <p> 食品生产证号： 455674799 </p>
                        <p> 工商执照号： 455245254 </p> -->                        
                    </div>
                </div>
            </div>

        </div>
        <#include "/common/footer.htm" />
        <script>
			$(function(){	
				$(".nav").find("a").removeClass("cur");
			    $(".nav").find("a:eq(9)").addClass("cur");
			    
				$("#disPass").on('click', function(){
					$.ajax({
						url:"/edu/school/update.htm",
						type:"post",
						dataType:"json",
						data:{id:'${(proSupplierDto.id)!}',supplierName:'${(proSupplierDto.supplierName)!}',reviewed:1},
						async: false,
						success:function(data){
							if(data.status == 200){
								alert("修改成功");
								window.location.href="checkList.htm?source=1&reviewed=0";
								return;
							}else {
								alert(data.msg);
							}							
						}
					});
				})
				$("#disNotPass").on('click', function(){
					$.ajax({
						url:"/edu/school/update.htm",
						type:"post",
						dataType:"json",
						data:{id:'${(proSupplierDto.id)!}',supplierName:'${(proSupplierDto.supplierName)!}',reviewed:2},
						async: false,
						success:function(data){
							if(data.status == 200){
								alert("修改成功");
								window.location.href="checkList.htm?source=1&reviewed=0";
								return;
							}else {
								alert(data.msg);
							}							
						}
					});
				})
		
			});
	</script>
    </body>
</html>
