<!DOCTYPE html>
<html>
<head>
    <#include "/common/head.htm" />
    <link rel="stylesheet" href="/static/css/supplier_qualification.css" media="screen" charset="utf-8">
</head>
<body>
<#include "/common/nav.htm" />

<div class="wrapperA">
    <h1 class="con-tt"><span class="title">${(supplier.supplierName)!}</span></h1>

    <div class="con-bd">
        <img class="con-img" src="/static/img/sample-meat_200X200.png" alt=""/>
        <ul>
            <li><label>单位名称:</label><span>${(supplier.supplierName)!}</span></li>
            <li><label>单位地址:</label><span>${(supplier.address)!}</span></li>
            <li><label>工商营业执照号:</label><span>${(supplier.businessLicense)!}</span></li>
            <li><label>食品生产许可证号:</label><span>${(supplier.foodProduceCode)!}</span></li>
            <li><label>食品流通许可证号:</label><span>${(supplier.foodCirculationCode)!}</span></li>
            <li><label>食品经营许可证号:</label><span>${(supplier.businessCode)!}</span></li>
            <li><label>餐饮服务许可证号:</label><span>${(supplier.foodServiceCode)!}</span></li>
            <li><label>法定代表人:</label><span>${(supplier.corporation)!}</span></li>
            <li><label>联系方式:</label><span>${(supplier.contactWay)!}</span></li>
        </ul>
    </div>

   <!--  <h1 class="con-tt"><span class="title">采购品列表</span> <a class="more" href="/pro/wares/waresPages.htm?supplierId=${(supplier.id)!}>更多 &gt;&gt; </a></h1>

    <div class="item-list">
        <ul>
            <#if pWares??>
                <#list pWares.results as wares>
                	<a href="/pro/wares/details.htm?id=${(wares.id)!}">
	                    <li>
	                        <img src="${(wares.image)!}" alt=""/>
	                        <div class="name">${(wares.waresName)!}</div>
	                        <div>分类:<span>${(wares.waresTypeStr)!}</span></div>
	                        <div>规格:<span>${(wares.spec)!}</span></div>
	                    </li>
                    </a>
                </#list>
            </#if>
        </ul>
    </div> -->

    <h1 class="con-tt"><span class="title">采购品列表</span> <a class="more" href="/pro/wares/waresPages.htm?supplierId=${(supplier.id)!}">更多 &gt;&gt; </a></h1>

    <div class="item-list">
        <ul>
            <#if mWares??>
                <#list mWares.results as wares>
	                <a href="/pro/wares/details.htm?id=${(wares.id)!}">
	                    <li>
	                        <img src="${(wares.image)!}" alt=""/>
	                        <div class="name">${(wares.waresName)!}</div>
	                        <div>分类:<span>${(wares.waresTypeStr)!}</span></div>
	                        <div>规格:<span>${(wares.spec)!}</span></div>
	                    </li>
	                </a>
                </#list>
            </#if>
        </ul>
    </div> 

    <h1 class="con-tt"><span class="title">供应商列表</span> <a class="more" href="/pro/supplier/list.htm?supplierId=${(supplier.id)!}">更多 &gt;&gt; </a></h1>
    <div class="wrapperB">
        <ul class="sulplier_ul">
            <li class="head">
                <span class="name">原料供应商名称</span>
                <span class="place">单位地址</span>
                <span class="detail">详情</span>
            </li>
            <#if mSuppliers??>
                <#list mSuppliers.results as sup>
                    <li>
                        <span class="name">${(sup.supplierName)!}</span>
                        <span class="place">${(sup.address)!}</span>
                        <span class="detail"><a href="/pro/supplier/detail.htm?id=${(sup.id)!}&source=1" style="color: #60ac62;">详情</a> &gt;</span>
                    </li>
                </#list>
            </#if>
        </ul>
    </div>
</div>
<#include "/common/footer.htm" />

<script type="text/javascript">
    $(function () {
        // debugger;
        $(".nav").find("a").removeClass("cur");
        $(".nav").find("a:eq(1)").addClass("cur");
    })
</script>
</body>
</html>
