<!DOCTYPE html>
<html>
<head>
  <#include "/common/head.htm" />
  <link rel="stylesheet" href="/static/css/supplier_list.css" media="screen" charset="utf-8">
</head>
<body>
<#include "/common/nav.htm" />

  <div class="wrapperA">

    <h1 class="con-tt">
      <span class="title">供应商列表</span>
      <span>
         <input type="hidden" name="supplierId" value="${(dto.id)!}"/>
          <input id="searchBut" class="search" type="button">
          <input class="search_text" type="text" name="supplierName" value="${(dto.supplierName)!}" placeholder="请输入关键字">
      </span>
    </h1>

    <div class="wrapperB">
    <form action="list.htm?id=${(dto.id)!}&supplierName=${(dto.supplierName)!}" method="post" id="myform">
     <input type="hidden" name="currPage" id="currPage" value="1"/>
      <ul class="sulplier_ul">
        <li class="head">
          <span class="name">原料供应商名称</span>
          <span class="place">单位地址</span>
          <span class="detail">详情</span>
        </li>
        <#if pageList??>
          <#list pageList.results as data>
            <li>
              <span class="name">${(data.supplierName)!}</span>
              <span class="place">${(data.address)!}</span>
              <span class="detail"><a href="/pro/supplier/detail.htm?id=${(data.id)!}&source=1">详情 &gt;</a></span>
            </li>
          </#list>
        </#if>
      </ul>
    </form>
    </div>

    <#include "/common/page.htm" />
  </div>
<#include "/common/footer.htm" />

  <script type="text/javascript">
    $(function(){
      // debugger;
      $(".nav").find("a").removeClass("cur");
      $(".nav").find("a:eq(1)").addClass("cur");

      $(".search-bt").on('click', function (){
        $("#myform").submit();
      });

      $('#searchBut').on('click', function() {
    	  var supplierName = $('.search_text').val();
    	  window.location.href ="list.htm?id="+ $('input[name=supplierId]').val()+"&supplierName="+supplierName;   	  
      })
      
      // 跳转指定页
      $('#jump_btn').on('click', function () {
        var jump_num = $('#jump_num').val();
        if (jump_num != '') {
          var reg = /^[-+]?\d*$/;
          if (!reg.test(jump_num)) {
            alert("对不起，您输入的跳转页数格式不正确!");//请将“整数类型”要换成你要验证的那个属性名称！
            return;
          }
        <#if pageList?? && pageList.total gt 0>
          if (jump_num > ${(pageList.totalPage)!}) {
            alert("对不起，您输入的跳转页数大于总页数!");
            return;
          }
        </#if>
        } else {
          alert("对不起，您输入的跳转页数!");
          return;
        }
        gotoPage(jump_num);
      });
    })

    function gotoPage(page) {
      $("#currPage").val(page);
      $("#myform").submit();
    }
  </script>
</body>
</html>
