<div class="header">
    <div class="wrap">
        <a class="logo" href="index.htm">上海市中小学校校生午餐综合管理平台</a>
        <div class="p_status">
            <a class="p_center" href="pcenter.htm">个人中心</a>  |  <a class="logout" href="login_out.htm">退出</a>
        </div>
    </div>
</div>
<div class="nav">
    <div class="wrap">
        <a href="index.html">首页</a>
        <a class="" href="/pro/supplier/search.htm">安全追溯</a>
        <a class="" href="/edu/school/list.htm?source=0">菜谱</a>
        <a class="" href="index.html">健康宣教</a>
        <a class="" href="index.html">通告公示</a>
        <a class="" href="index.html">任务传达</a>
        <a class="" href="index.html">发布</a>
    </div>
</div>