<div class="header">
    <div class="wrap">
        <a class="logo" href="/main.htm">上海市中小学校校生午餐综合管理平台</a>
        <div class="p_status" style="font-size: 16px;">
            <a class="p_center" href="/user/userInfo.htm">${(eduUsersDto.userAccount)!}</a>  <#if (unreaded??) && (unreaded>0)><a href="/motive/unreaded.htm">未读<span>${(unreaded)!}</span></a></#if>|  <a class="logout" href="/login_out.htm">退出</a>
        </div>
    </div>
</div>

<div class="nav">
	<ul>
		<li><a class="cur" href="/main.htm">首页</a></li>
		<#if navList ??>
        	<#list navList as data>
        		<li class="bar${(data_index+2)}">
        			<a href="${(data.menuUrl)!}">${(data.menuName)!}</a>
        			<#if data.childList ??>
        				<div class="wrap">
        					<ul>
        						<#list data.childList as result>
        							<li ><a href="${(result.menuUrl)!}">${(result.menuName)!}</a></li>
        						</#list>
        					</ul>
        				</div>
        			</#if>
        		</li>
        	</#list>
        </#if>		
<!-- 		<li><a class="" href="index.html">安全追溯</a></li>
		<li class="bar3">
			<a class="" href="index.html">通知通告</a>
			<div class="wrap">
				<ul>
					<li><a href="###">健康宣教</a></li>
					<li><a href="###">通告公示</a></li>
					<li><a href="###">通知</a></li>
				</ul>
			</div>
		</li>
		<li class="bar4"><a class="" href="index.html">信息发布</a><div class="wrap"><ul><li><a href="###">公告发布</a></li><li><a href="###">通知发布</a></li></ul></div></li> -->
	</ul>
</div>

<!-- <div class="nav">
    <div class="wrap">
        <a href="/main.htm">首页</a>
        <#if navList ??>
        	<#list navList as data>
        		<a class="" href="${(data.menuUrl)!}">${(data.menuName)!}</a>
        	</#list>
        </#if>
    </div>
</div> -->