<!DOCTYPE html>
<html>
<head>
 <#include "/common/head.htm" />
  <link rel="stylesheet" href="/static/css/menu_edit.css" media="screen" charset="utf-8">
  <script src="/static/js/jquery-2.1.3.min.js" charset="utf-8"></script>
  <script src="/static/js/jquery-ui.min.js"></script>
  <link href="/static/css/jquery-ui.min.css" rel="stylesheet" />
</head>
<body>
  <!-- <div class="header">
  <div class="wrap">
    <a class="logo" href="index.html">上海市中小学校校生午餐综合管理平台</a>
    <div class="p_status">
      <a class="p_center" href="pcenter.html">个人中心</a>  |  <a class="logout" href="###">退出</a>
    </div>
  </div>
</div>
<div class="nav">
  <div class="wrap">
    <a class="" href="index.html">首页</a>
    <a class="" href="search_supplier.html">安全追溯</a>
    <a class="" href="index.html">菜谱</a>
    <a class="" href="index.html">健康宣教</a>
    <a class="" href="index.html">通告公示</a>
    <a class="" href="index.html">任务传达</a>
    <a class="" href="index.html">发布</a>
  </div>
</div> -->
<#include "/common/nav.htm" />
  <div class="wrapperA">
    <div class="cur_postion">
      <span class="cp">当前位置:&nbsp;<span class="gt">&gt;</span></span><a href="/pro/packages/findPage.htm">菜谱录入</a><span class="gt">&gt;</span></span><a href="">新增菜谱</a>
    </div>

    <h1 class="con-tt">
      <span class="title">新增菜谱</span>
    </h1>

    <div class="wrapperB">
      <ul>
        <li>
          <label for="">时间:</label>
           <input class="date" type="text" name="supplyDate" id="supplyDate" value="" readonly="readonly">
        </li>
        <li>
          <label for="">类型:</label>
          <select class="" name="type" id="type">
           <!--  <option value="option">国际班</option>
            <option value="option1">国内班</option> -->
           <#if packagesTypeList??>
          		<#list packagesTypeList as type>
          			<option  value="${(type.index)!}">${(type.value)!}</option>
          		</#list>
          	</#if>
          </select>
        </li>
        <li>
          <label for="">餐次:</label>
          <select class="" name="supplyPhase" id="supplyPhase">
            <!-- <option value="option">早餐</option>
            <option value="option1">午餐</option> -->
             <#if supplyPhaseList??>
          		<#list supplyPhaseList as supplyPhase>
          			<option  value="${(supplyPhase.index)!}">${(supplyPhase.value)!}</option>
          		</#list>
          	</#if>
          </select>
        </li>
        <li>
          <label for="" style="float:left">菜品:</label>
          <div class="rt">
            <ul class="rt_ul" id="rt_ul_1">
              <li>
                <input type="text" name=waresName id="waresName" value="">
                <span class="add">+</span>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <label for="">营养:</label>
          <div class="rt">
            <ul class="rt_ul nutrition" id="rt_ul_2">
              <li>
                <select class="s1" name="nutritionalName">
                </select>
                <input class="in1" type="text" name="weight" value="">
                <select class="s2" name="nutritionalUnit">
                </select>
                <span class="add">+</span>
              </li>
            </ul>
          </div>
        </li>
        <li><input class="savebt" type="button" name="save" id="save"value="保存"></li>
      </ul>
    </div>
  </div>
  <#include "/common/footer.htm" />

  <script type="text/javascript">
  $(function(){
    $(".nav").find("a").removeClass("cur");
    $(".nav").find("a:eq(6)").addClass("cur");
    $(".add").on("click",function(){
      var _this = $(this);
      var p = _this.parents(".rt_ul").find("li:last").clone(true);
      p.find(".add").remove();
      if(!p.children().hasClass("decrease")){
        p.append("<span class='decrease'>-</span>")
      }
      var childrens = p.children();
      for(var i=0;i<childrens.length;i++){
        var n = childrens[i].getAttribute("name");
        childrens[i].value='';
        childrens[i].setAttribute("name",n+1);
      }
      _this.parents(".rt_ul").append(p);
    });
    $(".rt_ul").on("click",".decrease",function(){
      $(this).parent().remove();
    });

    Date.prototype.format = function(format) {
      var o = {
        "M+": this.getMonth() + 1, //month
        "d+": this.getDate(), //day
        "h+": this.getHours(), //hour
        "m+": this.getMinutes(), //minute
        "s+": this.getSeconds(), //second
        "q+": Math.floor((this.getMonth() + 3) / 3), //quarter
        "S": this.getMilliseconds() //millisecond
      }
      if (/(y+)/.test(format)) {
        format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
      }
      for (var k in o) {
        if (new RegExp("(" + k + ")").test(format)) {
          format = format.replace(RegExp.$1, RegExp.$1.length == 1 ? o[k] : ("00" + o[k]).substr(("" + o[k]).length));
        }
      }
      return format;
    }
    $.datepicker.regional["zh-CN"] = {
    	closeText: "关闭",
    	prevText: "&#x3c;上月",
    	nextText: "下月&#x3e;",
    	currentText: "今天",
    	monthNames: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
    	monthNamesShort: ["一", "二", "三", "四", "五", "六", "七", "八", "九", "十", "十一", "十二"],
    	dayNames: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
    	dayNamesShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六"],
    	dayNamesMin: ["日", "一", "二", "三", "四", "五", "六"],
    	weekHeader: "周",
    	dateFormat: "yy-mm-dd",
    	firstDay: 1,
    	isRTL: !1,
    	showMonthAfterYear: !0,
    	yearSuffix: "年"
    }
    $.datepicker.setDefaults($.datepicker.regional["zh-CN"]);
    $(".date").datepicker();
    
    $("#save").on('click', function(){
    	//校验
    	var supplyDate = $.trim($("#supplyDate").val());
		if (supplyDate.length <= 0) {
			alert("时间不能为空");
			return;
		} 
		//菜品校验
		//营养校验
		
    	//拼装菜品名称
    	var name = '';
    	var flagWa=true;	
    	$("#rt_ul_1 li input").each(function(i){
    		var nameV= $(this).val();    		
    		if (nameV.length <= 0 || nameV == 'undefined') {
    			flagWa=false;
				alert("菜品不能为空！");	
				return;
			}     		
			if (null != nameV && nameV.length >= 0 && nameV != 'undefined' && name.indexOf(nameV) > -1) {
				alert("菜品'"+nameV+"'"+"已存在不能重复添加！");
				flagWa=false;
				return;
			}
    		// alert($(this).val());
    		if ($(this).val() <= 0) {
    			alert("菜品不能为空！");
    			flagWa=false;
    		} else {
    			name += $(this).val()+",";
    		}
    		if (flagWa == false) {
    			return;
    		}
    	})
    	if (flagWa == false) {
   			return;
   		}
    	//拼装营养名称
    	var nutritionalNames= '';
    	var flagNa=true;
    	$("#rt_ul_2 li .s1").each(function(i){
    		var weight = $.trim($(this).val());
			if (nutritionalNames.indexOf(weight) > -1) {
				alert("营养'"+weight+"'"+"已存在不能重复添加！");
				flagNa=false;
				return;
			}
    		nutritionalNames += $(this).val()+",";
    	})
    	if (flagNa==false) {
    		return;
    	}
    	//拼装营养含量
    	var nutritionalWeights= '';
    	var flagNu=true;
    	$("#rt_ul_2 li .in1").each(function(i){
    		if (flagNu == false) {
    			return;
    		}
    		var name=$.trim($(this).val());
    		if (name.length<=0 || name == 'undefined') {
    			alert("含量不能为空！");
    			flagNu=false;
    			return;
    		}			
    		if ($(this).val().length<=0 ) {
    			alert("含量不能为空！");
    			flagNu=false;
    		} else {
    			nutritionalWeights += $(this).val()+",";
    		}
    		if (flagNu == false) {
    			return;
    		}
    	})
    	if (flagNu == false) {
    			return;
    	}
    	//拼装营养单位
    	var nutritionalUnits= '';
    	$("#rt_ul_2 li .s2").each(function(i){
    		/* var weight = $.trim($(this).val());
			if (nutritionalUnits.indexOf(weight) > -1) {
				alert("营养'"+weight+"'"+"已存在不能重复添加！");
				return;
			} */
    		nutritionalUnits += $(this).val()+",";
    	})
    	
    	var supplyDate = $.trim($("#supplyDate").val());
    	var type = $.trim($("#type").val());
    	var supplyPhase = $.trim($("#supplyPhase").val());
   		$.ajax({
   			url:"/pro/packages/addPackage.htm",
   			type:"post",
   			dataType:"json",
   			data:{supplyDateStr:supplyDate,type:type,supplyPhase:supplyPhase,waresNames:name,
   				nutritionalNames:nutritionalNames,nutritionalWeights:nutritionalWeights,nutritionalUnits:nutritionalUnits},
   			async: false,
   			success:function(data){
   				if(data.status == 200){
   					alert("添加菜谱成功");
   					window.location.href="findPage.htm";
   					return;
   				}else {
   					alert(data.message);
   				}							
   			}
   		});
    })
  })
  var d1={"热量":"热量","蛋白质":"蛋白质","脂肪":"脂肪","钙":"钙","铁":"铁","锌":"锌","维生素":"维生素"};
  var d2={"千卡":"千卡","克":"克","毫克":"毫克"};
  var rel={"热量":["千卡"],"蛋白质":["克"],"脂肪":["克"],"钙":["毫克"],"铁":["毫克"],"锌":["毫克"],"维生素":["毫克"]}

  /**
  * 初始化第一个下拉框
  * @param  {Objetc} data    eg： {"v1":"111","v2":"222","v3":"333"};
  * @param  {string} selector eg："#id"
  * @return
  */
  function init(data,selector,selector2){
    var keys=Object.keys(data);
    var str="";
    for(var i=0;i<keys.length;i++){
      str+="<option value="+keys[i]+">"+data[keys[i]]+"</option>"
    }
    $(selector).append(str);
    initB(rel,d2,keys[0],selector2);
  }
  /**
  * 根据关联关系，填充第二个下拉框
  * @param  {[Objetc]} rel     eg： {"v1":["v7","v8"],"v2":["v8","v10"],"v3":["v7","v8","v9"]}
  * @param  {[Objetc]} data     eg：{"v7":"777","v8":"888","v9":"999","v10":"101010"}
  * @param  {[String]} str     第一个下拉框选中的值 eg:"v7"
  * @param  {String} selector  第二个下拉框的选择器 eg："#id"
  * @return
  */
  function initB(rel,data,str,selector){
    var key1 = rel[str];
    var keys=Object.keys(data),val=[],st="";
    for(var i=0;i<keys.length;i++){
      if(key1.indexOf(keys[i])>-1){
        st+="<option value="+keys[i]+">"+data[keys[i]]+"</option>"
      }
    }
    $(selector).empty().append(st);
  }
  $(".rt_ul select:first").on("change",function(){
    // console.log("change..",$(this).val());
    initB(rel,d2,$(this).val(),$(this).parent().find("select:last"));
  })
  init(d1,".rt_ul select:first",".rt_ul select:last");
  /**
  * 填充下拉联动的列表
  * @param  {[String]} selector1 第一个下拉框的选择器
  * @param  {[String]} selector2 第二个下拉框的选择器
  * @param  {[Objetc]} data1     第一个下拉框的数据
  * @param  {[Objetc]} data2     第二个下拉框的数据
  * @param  {[String]} val1      第一个下拉框的值
  * @param  {[String]} val2      第二个下拉框的值
  * @param  {[Objetc]} rel       下拉框的关联关系
  * @return
  */
  function fillSelect(selector1,selector2,data1,data2,val1,val2,rel){
    // console.log("come here",selector1,val1);
    $(selector1).val(val1);
    initB(rel,data2,val1,selector2);
    $(selector2).val(val2);
  }
  fillSelect(".nutrition li:nth-child(1) select:first",".nutrition li:nth-child(1) select:last",d1,d2,"v2","m2",rel);
  </script>
</body>
</html>
