body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:464.641016151378px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:50px;
  width:360px;
  height:1120px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1120px;
}
#u1 {
  position:absolute;
  left:2px;
  top:552px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:100px;
  top:50px;
  width:360px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:240px;
  top:50px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u6 {
  position:absolute;
  left:0px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:100px;
  top:50px;
  width:60px;
  height:30px;
  font-family:'Times New Roman Negreta', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:9px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u8 {
  position:absolute;
  left:0px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:150px;
  top:50px;
  width:80px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u10 {
  position:absolute;
  left:0px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:360px;
  top:50px;
  width:50px;
  height:30px;
  font-family:'Times New Roman Negreta', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u12 {
  position:absolute;
  left:0px;
  top:8px;
  width:50px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:410px;
  top:50px;
  width:50px;
  height:30px;
  font-family:'Times New Roman Negreta', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u14 {
  position:absolute;
  left:0px;
  top:7px;
  width:50px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:100px;
  top:80px;
  width:360px;
  height:40px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u16 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:110px;
  top:90px;
  width:20px;
  height:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u17_img.mouseOver {
  width:30px;
  height:30px;
}
#u17.mouseOver {
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:120px;
  top:1040px;
  width:120px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u20 {
  position:absolute;
  left:0px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:125px;
  top:1080px;
  width:310px;
  height:40px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:140px;
  top:1080px;
  width:200px;
  height:40px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u24 {
  position:absolute;
  left:0px;
  top:12px;
  width:200px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:400px;
  top:1080px;
  width:20px;
  height:40px;
  color:#006699;
  text-align:right;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:40px;
}
#u26 {
  position:absolute;
  left:0px;
  top:12px;
  width:20px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:340px;
  top:1080px;
  width:60px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009900;
  text-align:right;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u28 {
  position:absolute;
  left:0px;
  top:12px;
  width:60px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:125px;
  top:1080px;
  width:310px;
  height:40px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
}
#u30 {
  position:absolute;
  left:2px;
  top:12px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:120px;
  top:130px;
  width:120px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u32 {
  position:absolute;
  left:0px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:115px;
  top:170px;
  width:330px;
  height:860px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:860px;
}
#u34 {
  position:absolute;
  left:2px;
  top:422px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:125px;
  top:170px;
  width:80px;
  height:40px;
  text-align:right;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u36 {
  position:absolute;
  left:0px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:125px;
  top:210px;
  width:80px;
  height:40px;
  text-align:right;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u38 {
  position:absolute;
  left:0px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:125px;
  top:250px;
  width:80px;
  height:40px;
  text-align:right;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u40 {
  position:absolute;
  left:0px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:125px;
  top:290px;
  width:80px;
  height:40px;
  text-align:right;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u42 {
  position:absolute;
  left:0px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:125px;
  top:330px;
  width:80px;
  height:40px;
  text-align:right;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u44 {
  position:absolute;
  left:0px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:125px;
  top:370px;
  width:80px;
  height:40px;
  text-align:right;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u46 {
  position:absolute;
  left:0px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:215px;
  top:170px;
  width:220px;
  height:40px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u48 {
  position:absolute;
  left:0px;
  top:12px;
  width:220px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:215px;
  top:210px;
  width:220px;
  height:40px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u50 {
  position:absolute;
  left:0px;
  top:12px;
  width:220px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:215px;
  top:250px;
  width:220px;
  height:40px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u52 {
  position:absolute;
  left:0px;
  top:12px;
  width:220px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:215px;
  top:290px;
  width:220px;
  height:40px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u54 {
  position:absolute;
  left:0px;
  top:12px;
  width:220px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:215px;
  top:330px;
  width:220px;
  height:40px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u56 {
  position:absolute;
  left:0px;
  top:12px;
  width:220px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:115px;
  top:205px;
  width:330px;
  height:10px;
}
#u57_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u58 {
  position:absolute;
  left:115px;
  top:245px;
  width:330px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u59 {
  position:absolute;
  left:115px;
  top:285px;
  width:330px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u60 {
  position:absolute;
  left:115px;
  top:325px;
  width:330px;
  height:10px;
}
#u60_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u61 {
  position:absolute;
  left:115px;
  top:365px;
  width:330px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u62 {
  position:absolute;
  left:125px;
  top:410px;
  width:80px;
  height:40px;
  text-align:right;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u63 {
  position:absolute;
  left:0px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:115px;
  top:405px;
  width:330px;
  height:10px;
}
#u64_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u65 {
  position:absolute;
  left:215px;
  top:370px;
  width:220px;
  height:40px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u66 {
  position:absolute;
  left:0px;
  top:12px;
  width:220px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:370px;
  top:135px;
  width:80px;
  height:80px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u68 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:215px;
  top:420px;
  width:202px;
  height:280px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:280px;
}
#u70 {
  position:absolute;
  left:2px;
  top:132px;
  width:198px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:125px;
  top:705px;
  width:80px;
  height:40px;
  text-align:right;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u72 {
  position:absolute;
  left:0px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:115px;
  top:700px;
  width:330px;
  height:10px;
}
#u73_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u74 {
  position:absolute;
  left:215px;
  top:715px;
  width:202px;
  height:291px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:291px;
}
#u75 {
  position:absolute;
  left:2px;
  top:138px;
  width:198px;
  visibility:hidden;
  word-wrap:break-word;
}
